{% extends "cog/common/layout_center.html" %}
<!--START: /cog/templates/cog/openid/login2.html-->

{% block main %}

  {% load cog_utils %}
  
 <div class="prepend-4 span-14">
  
	<p><em class="message">Some CoG projects allow you to search and download data archived on <a href="http://www.esgf.org">
	Earth System Grid Federation (ESGF)</a> data nodes.  In order
	to access this data, you will need to have a valid ESGF
	OpenID. If you don't wish to access any data, and you have a CoG username and
	password, use the CoG Login option below.</em></p>

	<p><em class="message">To get a CoG login, see <a href="{% url 'user_add' %}">this page</a>.
	New CoG accounts will generate ESGF OpenIDs.
	If you would like to access ESGF data, the options are explained below.</em>

	<!-- 1) username+password login -->

	<h2>CoG Login</h2>

	<!-- display extra message if available -->
	{% if request.GET.message %}
	   <div class="message-box"> {{ request.GET.message|showMessage }}</div>
	   <p></p>
	{% endif %}

	<p>
    <em class="message">
	You can download ESGF data using your existing CoG login. Once you are logged in, edit your CoG profile to insert
        one (or more) ESGF OpenIDs. To obtain an ESGF OpenID, see
        <a href="https://hydra.fsl.noaa.gov/esgf-web-fe/createAccount">this page</a>. To download data from ESGF, you
        will have to login again with your ESGF OpenID.
    </em>
	</p>

	<!-- authentication form -->
	<div style="font-style: italic; text-align:center;">
		Please note that username and password are case-sensitive.
	</div>

	<form method="post" action="{% url 'login' %}" method="post">
	  {% csrf_token %}
      <div class="mybox">
		<table>
		<tr>
            <td>
                <strong>CoG Login</strong>
            </td>
        </tr>
		<tr>
	        <td style="width:10%;vertical-align:middle;text-align:right;">
                <label for="username"><strong>Username</strong></label>
            </td>
	        <td style="width:90%;vertical-align:middle;">
		        <input type="text" id="username" name="username" alt="username" value="{{ request.REQUEST.username }}" size="30"/>
	        </td>
		</tr>
		<tr>
		     <!--inline styles needed to override default table elements-->
		    <td style="width:20%;vertical-align:middle;text-align:right">
              <label for="password"><strong>Password</strong></label>
            </td>
	        <td style="width:50%;vertical-align:middle;"><input type="password" id="password" name="password" alt="password" size="30"/></td>
		    <td style="width:30%;vertical-align:middle;"><input type="submit" value="Login"/></td>
		</tr>
		</table>
      </div>

      <!-- next page field -->
      {% if next %}
		 	<input type="hidden" name="next" value="{{ next }}" />
      {% endif %}

      <!-- reminder links -->
	  <div style="position: relative;">
			<span style="position: absolute; right: 0;">
			  <a href="{% url 'user_reminder' %}">Forgot Username?</a>
			  &nbsp;
			  <a href="{% url 'password_reset' %}">Forgot Password?</a>
			</span>
            <br/>&nbsp;
	  </div>
	</form>


    <!-- 2) OpenID login -->

	<h2>ESGF Login</h2>

	<!-- display extra message if available -->
		{% if request.GET.message %}
		   <div class="message-box"> {{ request.GET.message|showMessage }}</div>
		   <p></p>
		{% endif %}

	<p>
        <em class="message">
		You can use any valid ESGF OpenID to log onto CoG and ESGF at the same time. This method is recommended if you
            plan on downloading data from ESGF, since you will not be asked to enter your password again. If this is
            the first time you are using your ESGF OpenID on CoG, you will be asked to provide some additional
            information to create a new CoG account.
		</em>
	</p>
	<p></p>

	<div style="font-style: italic; text-align:center;">
		Please note that ESGF OpenIDs are case-sensitive.
 	</div>

	<form name="fopenid" action="{% url 'openid-login' %}" method="post">
       {% csrf_token %}

          <div class="mybox">
	    	<table>
	    	  <tr>
                  <td class="caption_mimic" colspan="3">
                      <strong>ESGF Login</strong>
                  </td>
              </tr>
	    	  <tr>
	    	    <td style="width:10%;text-align:right; vertical-align:middle;">
                    <label for="openid_identifier"><strong>OpenID</strong></label>
                </td>
		        <td style="width:80%; vertical-align:middle;">
                    <input type="text" id="openid_identifier" alt="openid_identifier" name="openid_identifier" value="{{ request.REQUEST.openid }}" size="70"/>
                </td>
	    	    <td style="width:10%;">
                    <input name="bsignin" type="submit" value="Login">
                </td>
	    	  </tr>
	    	</table>
    	  </div>

    	  <!-- next page field -->
		  {% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
		  {% endif %}

		  <!-- reminder links -->
		  <div style="position: relative; margin-bottom:40px;">
				<span style="position: absolute; right: 0;">
					<a href="{% url 'user_reminder' %}">Forgot OpenID?</a>
				</span>

		  </div>
	</form>
 </div>
<!--END: /cog/templates/cog/openid/login2.html-->
{% endblock %}