{% extends "cog/common/layout_center.html" %}

{% block extrahead %}
	<style type="text/css">
		input.openid {
		    background: url({% url 'openid-logo' %}) no-repeat;
		    background-position: 0 50%;
		    padding-left: 16px;
		    width:380px;
		}

		.th {
			font-weight:bold;
			vertical-align:middle;
			text-align:right;
		}
	</style>
{% endblock %}

{% block main %}

  {% load cog_utils %}

  <div class="prepend-4 span-14">

<!-- 1) username+password login -->

	<h2>Standard Login</h2>

	<!-- display authentication errors -->
	{% if form.errors %}
		ERRORS {{ form.errors }}
		{% if form.username.errors or form.password.errors %}
			<p class="errornote">Your username and password didn't match. Please try again.</p>
		{% endif %}
	{% endif %}


	<!-- authentication form -->
	<div style="font-style: italic; text-align:center;">
		Please note that username and password are case-sensitive.
	</div>

	<form method="post" action="{% url 'login' %}">
	   {% csrf_token %}
		<div class="mybox">
			<table>
				<caption>User Login</caption>
				<tr>
				    <td class="th">Username</td>
				    <td>
				    	<input type="text" id="username" name="username" />
				    	<br/>{{ form.username.errors }}
				    </td>
				</tr>
				<tr>
					<td class="th">Password</td>
				    <td>
				    	<input type="password" id="password" name="password" />
				    	<br/>{{ form.password.errors }}
				    	&nbsp;<input type="submit" value="Login" />
				    </td>
				</tr>
			</table>
         </div>

         <!-- next page field -->
         {% if next %}
		 	<input type="hidden" name="next" value="{{ next }}" />
		 {% endif %}

         <!-- reminder links -->
		 <div style="position: relative;">
			<span style="position: absolute; right: 0px;">
			  <a href="{% url 'username_reminder' %}">Forgot Username?</a>
			  &nbsp;
			  <a href="{% url 'password_reset' %}">Forgot Password?</a>
			</span>
            <br/>&nbsp;
		 </div>

	</form>


<!-- 2) OpenID login -->

		<h2>OpenID Login</h2>

		<!-- display extra message if available -->
		{% if request.GET.message %}
		   <div class="message-box"> {{ request.GET.message|showMessage }}</div>
		   <p/>
		{% endif %}

		<form name="fopenid" action="{{ action }}" method="post">
    		{% csrf_token %}

    		<div class="mybox">
	    		<table>
	    			<caption>OpenID Login</caption>
	    			<tr>
	    				<td class="th">OpenID</td>
	    				<td>
	    					<input type="text" id="openid_identifier" name="openid_identifier" value="{{ request.REQUEST.openid }}" size="70"/>
	    					&nbsp;<input name="bsignin" type="submit" value="Login">
	    				</td>
	    			</tr>
	    		</table>
    		</div>

    		<!-- next page field -->
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
			{% endif %}

		</form>

	</div>
{% endblock %}