{% extends "cog/common/layout_center.html" %}
<!--LOCATION:/cog/templates/cog/openid/login.html-->

{% block extrahead %}
	<style type="text/css">
		input.openid {
		    background: url({% url 'openid-logo' %}) no-repeat;
		    background-position: 0 50%;
		    padding-left: 16px;
		    width:380px;
		}

		.th {
			font-weight:bold;
			vertical-align:middle;
			text-align:right;
		}
	</style>
{% endblock %}

{% block main %}

{% load cog_utils %}

<div class="prepend-4 span-14">

	<!-- display extra message if available -->
	{% if request.GET.message %}
	   <div class="message-box"> 
	   	{{ request.GET.message|showMessage|safe }}
	   	
	   	{% if request.COOKIES.openid %}
	   		<br/>Your assigned OpenID is: <b> {{ request.COOKIES.openid }} </b>
	   	{% endif %}
	   		
	   </div>
	   <p/>
	{% endif %}

	<h2>OpenID Login</h2>

	<p>
	  <i>
		You can use any valid ESGF OpenID to log onto CoG and ESGF at the same time.
		
		<p/>If you previously created a CoG account, your assigned OpenID should be:
		<br/><b>https://{{ 'ESGF_HOSTNAME'|settings_value }}/esgf-idp/openid/your_cog_username</b>
		<br/>unless there was a conflict with some other user. 
		<br/>For any problem, click on
		<a href="{% url 'user_reminder' %}">Forgot OpenID?</a> or visit <a href="/projects/cog/contactus/">Site Support</a>.
		
		<p/>If this is the first time you are using your ESGF OpenID on CoG, 
		<br/>you will be asked to provide some additional information to create a new CoG account.
	  </i>
	</p>
	
	<p/>
	<div style="font-style: italic; text-align:center;">
		Please note that ESGF OpenIDs are case-sensitive.
 	</div>

	<form name="fopenid" action="{% url 'openid-login' %}" method="post">
		{% csrf_token %}

		<div class="mybox">
    	<table>
    	  <caption>ESGF Login</caption>
    	  <tr>
    	    <td style="width:10%;text-align:right; vertical-align:middle;"><b>OpenID</b></td>
	    		<td style="width:80%; vertical-align:middle;">
	    			<input type="text" id="openid_identifier" name="openid_identifier" value="{{ request.COOKIES.openid }}" size="70"/></td>
    	    <td style="width:10%;"><input name="bsignin" type="submit" value="Login"></td>
    	</td>
    	</tr>
    	</table>
		</div>

		<!-- next page field -->
		{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}

		<!-- reminder links -->
		<div style="position: relative;">
			<span style="position: absolute; right: 0px;">
				<a href="{% url 'user_reminder' %}">Forgot OpenID?</a>
			</span>
            <br/>&nbsp;
		</div>

	</form>

</div>
{% endblock %}