{% extends "cog/common/layout_center.html" %}

{% block extrahead %}

	{% include 'cog/datacart/_go_js.html' %}

{% endblock %}

{% block main %}
	<div style="text-align: center">
		<table style="margin-left:auto; margin-right:auto; width: 50%">
		<tr><td>
			<div class="message-box">
			<form name="globusTransferForm" method="post" action="{% url 'globus_submit' %}">
			    <div style="text-align: center; padding:5px; margin-top: 5px">
				You tried to download restricted datasets.<br/>
				To proceed with the request, enter your password<br/><br/>
				<div style="text-align: center; padding:5px;">
					<table style="width: 400px; margin-left:auto; margin-right:auto;">
					    <tr><td style="text-align: right; font-weight: bold">OpenID:</td><td>{{openid}}</td></tr>
                                            {% if username %}
					    <tr style="background-color: transparent"><td style="text-align: right; font-weight: bold; background-color: transparent">Username:</td><td style="background-color: transparent"><input style="width: 200px" type="text" name="username"/></td></tr>
                                            {% endif %}
					    <tr style="background-color: transparent"><td style="text-align: right; font-weight: bold; background-color: transparent">Password:</td><td style="background-color: transparent"><input style="width: 200px" type="password" name="password"/></td></tr>
					</table>
				</div>
				<div style="text-align: center; padding:5px; color: red">
					{{message}}
				</div>
				<div style="text-align: center; padding:5px;">
					<input style="width: 80px" type="submit" value="Submit"/> 
				</div>
				{% csrf_token %}
			    </div>
			</form>
			</div>
		</td></tr>
		</table>
	</div>
		<p/>
	

{% endblock %}