{% extends "cog/common/layout_center.html" %}

{% block extrahead %}

	{% include 'cog/datacart/_go_js.html' %}

{% endblock %}

{% block main %}
	<div style="text-align: center">
		<table style="margin-left:auto; margin-right:auto; width: 50%">
		<tr><td>
			<div class="message-box">
			<form name="globusTransferForm" method="post" action="{% url 'globus_password' %}">
			    <div style="text-align: center; padding:5px;">
				You tried to download restricted datasets. To proceed with the request,<br/>
				enter password associated with your OpenID:<br/>
				{{openid}}
				<div style="text-align: center; padding:5px;">
					<table style="margin-left:auto; margin-right:auto; width: 50%">
					    <tr><td style="text-align: right">Password:</td><td><input type="password" name="password"/></td></tr>
					</table>
				</div>
				<div style="text-align: center; padding:5px;">
					<input type="submit" value="Submit"/> 
				</div>
				{% csrf_token %}
			    </div>
			</form>
			</div>
		</td></tr>
		</table>
	</div>
		<p/>
	

{% endblock %}