{% extends "cog/common/layout_center.html" %}

{% block extrahead %}

	{% include 'cog/datacart/_go_js.html' %}

{% endblock %}

{% block main %}

<!-- Instructions -->
<p>
Globus uses the high performance, reliable GridFTP protocol to transfer many files at once from their remote archives to your desktop.
</p>

<p>
    <span style="color:red">
        You must have a Globus account and installed software to use this service. The Globus site will guide you through the process.
        <a href="https://app.globus.org/" target="_blank">(Setup Globus)</a>.
    </span>
</p>
<p>
    <a href="https://esgf.github.io/esgf-user-support/user_guide.html#download-data-using-globus-online" target="_blank">Help with Globus and CoG</a> |
    <a href="{% url 'search_reload' %}"> Last Search</a>.
</p>

{% if globus_download_map %}

	<!-- Form to start workflows -->
	<table>
		<tr>
			<td width="50%">
				<div class="box-globus">
					<div style="font-weight:bold; text-align:center; padding: 4px;">Option 1: Web Download</div>
					<div style="text-align:center;">Submit the download request through this web browser.  This transfer method will redirect you to the Globus File Manager, where you will need to select a destination "Collection" (Globus Endpoint) for your requested data.
</div>
					<div style="text-align: center; padding:5px;">
						<form name="globusTransferForm" method="post" action="{% url 'globus_transfer' %}">
							{% csrf_token %}
							<input type="submit" value="Start Web Download"/> 
						</form>
					</div>
				</div>
			</td>
			<td width="50%">
				<div class="box-globus">
					<div style="font-weight:bold; text-align:center; padding: 4px; ">Option 2: Script Download</div>
					<div style="text-align:center;">Download a Python script to start the download from the command line.</div>										
					<div style="text-align: center; padding:5px;">
						<input type="button" value="Start Script Download" onclick="window.location='{% url 'globus_script' %}'"/>
					</div>
					
				</div>
			</td>
		</tr>
	</table>
	
	<p></p>
	<div style="text-align: center">
		After starting the file transfer request,
		please use the Globus site to <a href="https://app.globus.org/activity">monitor the download</a>.
	</div>

	<!-- table of files to be downloaded -->
	<p></p>
    <div class="mybox">
	    <table>
	        <caption>The following files will be downloaded:</caption>
	        {% for source_endpoint, files in globus_download_map.items %}
	
				{% for file in files %}
					<tr><td>{{ source_endpoint }}</td><td>{{ file }}</td></tr>
				{% endfor %}	
			{% endfor %}
	    </table>
	 </div>
		
{% else %}
	<div class="warning">
		No files were selected for download. Please select one or more Globus-enabled datasets in your Data Cart or on a project search page.
	</div>
{% endif %}


<!-- placeholder for message dialog -->
<div id="myDialog" class="yui-skin-sam"></div>

{% endblock %}
