/******************************
* EarthSystemCog
*
* cogstyle.css
*
* this file specifies the CSS for _all_ HTML pages that are part of the CoG project
* except where:
* 1) internal CSS is encoded within Django Templates, for example:
*    - "/cog/templates/cog/project/project_right.html" specifies the project widget styles
*    - "/cog/templates/cog/common/cog_header.html" specifies the CoG header styles
* 2) inline styles are used within Django Templates
* 3) external plugins use their own CSS (ie: CKEditor, YUI)
* 4) users explicitly write custom inline styles in CoG's wiki
* 5) the CoG splash page has its own stylesheet (cog.css)
*
* sections (marked by BEGIN/END comments) define logical groupings of elements
* each element is given a summary above it's definition; this includes the NAME, SCOPE, and - where apprpropriate - DESCRIPTION or PURPOSE
* additional information may be added above individual attributes
******************************/

/******************************
* CSS used w/in CoG
* (for reference):
* dark teal    = #358C92
* light teal   = #B9E0E3
* dark yellow  = #FAC24A
* light yellow = #FCE79F
* dark gray    = #666666
* middle gray  = #666
* light gray   = #333

******************************/

/******************************
BEGIN MEDIA-SPECIFIC STYLES
******************************/

/* only display the central content when printing */
@media print {
	div.vertical_menu {
		display: none !important;
	}
	div.project_widget {
		display: none !important;
	}
	div.search-box {
		display: none !important;
	}
	div#top_nav_right {
		display: none !important;
	}
}

/******************************
END MEDIA-SPECIFIC STYLES
******************************/


/******************************
BEGIN PAGE-LEVEL ELEMENTS
******************************/

/***************
* NAME: html
* SCOPE: the entire page
* PURPOSE: force the browser's vertical scrollbar to always display
***************/
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

/***************
* NAME: body
* SCOPE: the page body content
* DESCRIPTION: center the body, specify the font, font-color, and background color
***************/
body {
        margin-right: auto !important; margin-left: auto !important;
        margin-top: 0 !important; margin-bottom: 0 !important;
	padding: 0;
	font-size: 9pt;
	font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans",
		Verdana, Arial, sans-serif;
	color: #333;
	background: #FFFFFF;
}


/***************
* NAME: headers
* SCOPE: the page body content
* DESCRIPTION: specifies the fonts used by successive headers in the CoG wiki
***************/
h1 {
	color: #666;
	font-size: 16pt;
	font-weight: bold;
}
h2 {
	color: #666;
	font-size: 13.5pt;
	font-weight: bold;
}
h3 {
	color: #666;
	font-size: 12pt;
	font-weight: bold;
}
h4 {
	color: #666;
	font-size: 12pt;
	font-weight: bold;
	font-style: italic;
}
h5 {
	color: #666;
	font-size: 10pt;
	font-weight: bold;
}
h6 {
	color: #666;
	font-size: 10pt;
	font-weight: bold;
	font-style: italic;
}


/***************
* NAME: horizontal rule
* SCOPE: the page body content
***************/
hr {
	background-color: #CCC;
	margin-bottom: 4px;
	margin-top: 4px;
}


/***************
* NAME: links
* SCOPE: the page body content
* DESCRIPTION: center the body, specify the font, font-color, and background color
***************/
a:link, a:visited {
        /* keep the same style for links regardless of whether they've been visited */
	color: #5b80b2;	text-decoration: none;
}
a:hover {
        /* only change the style of a link while a user is hovering over it */
	color: #036;
}


.white {
	background-color: #FFFFFF;
}

.invisible {
	display: none;
}

/******************************
END PAGE-LEVEL ELEMENTS
******************************/


/******************************
BEGIN TABLE ELEMENTS
******************************/

/***************
* NAME: table
* SCOPE: the page body content
***************/
table {
        /* prevent nested cells' borders or spacing from accumulating */
	border-collapse: collapse;
	border-color: #ccc;
	margin-bottom: 0px;
	margin-left: 0px;
}

/* background color for cells in even rows */
/* (no need to explicitly specify background of the other rows; they inherit from body) */
tbody tr:nth-child(even) td, tbody tr.even td {
	background: #B9E0E3;
}

/* additional styles were added to support tables swap the order of alternating row colors; */
/* either starting w/ the "even" color, "odd" color, or no color */
/* TODO: double-check that these classes are still being used */

/* style for cells in an even row */
/* style for cells in an even row in an "even-first" colored table */
table.even-color tbody tr:nth-child(even) td, tbody tr.even td {
	background: #B9E0E3;
}

/* style for cells in an odd row */
/* style for cells in an odd row in an "even-first" colored table */
table.even-color tbody tr:nth-child(odd) td, tbody tr.odd td {
	background: #FFFFFF;
}

/* style for cells in an odd row */
/* style for cells in an odd row in an "odd-first" colored table */
table.odd-color tbody tr:nth-child(odd) td, tbody tr.odd td {
	background: #B9E0E3;
}

/* style for cells in an even row */
/* style for cells in an even row in an "odd-first" colored table */
table.odd-color tbody tr:nth-child(even) td, tbody tr.even td {
	background: #FFFFFF;
}

/* style for all cells in a non-colored (ie: no alternating color) table */
table.no-color td {
	background: #FFFFFF !important;
}

/***************
* NAME: table cells (standard data and headers)
* SCOPE: the current table
***************/

/* table data and table headers have the same size */
td,th {
    font-size: 9pt; padding: 5px;
}

/* but table headers are bold with a cyan background */
th {
    font-weight: bold;
    background: none repeat scroll 0 0 #C3D9FF;
}

/* other CSS can alter the table header's size; this more specific CSS sets it to the proper value */
#cog_post_body th {
    padding: 5px; font-size: 9pt;
}


/* the next classes are applied to adjust the spacing of tables in specific circumstances */

.long {
	width: 100%;
	text-align: left;
	vertical-align: top;
}

.long_middle {
	width: 100%;
	text-align: left;
	vertical-align: middle;
}


td.head {
	text-align: left;
	font-weight: bold;
}

td.tophead {
	text-align: left;
	font-weight: bold;
	vertical-align: top;
}

td.righttop {
	text-align: right;
	vertical-align: top;
}

.top {
	vertical-align: top;
}

.right {
	text-align: right;
	vertical-align: middle;
}

.left {
	text-align: left;
	vertical-align: middle;
}

/***************
* NAME: caption
* SCOPE: the caption of a table
***************/
caption {
	margin: 0;
	padding: 2px 5px 3px 5px;
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
	background: #B9E0E3;
	border-bottom: 1px solid #666666;
	color: #666;
}

/******************************
END TABLE ELEMENTS
******************************/


/******************************
BEGIN FORM ELEMENTS
******************************/

/***************
* NAME: textarea
* SCOPE: the current form
***************/
textarea {
        /* display scrollbars as needed */
	overflow: auto;
	border: 1px solid #417690;
	margin: 1px;
        /* TODO: why is this not 100%? */
	width: 99%;
}


/***************
* NAME: all buttons
* SCOPE: the current form
* DESCRIPTION: forces a white background w/ black text and grey border
***************/
.button,input[type=submit],input[type=button],input[type=reset],input[type=file],.submit-row input {
        /* force a white background by combining a color with a white image */
        /* TODO: why is this forcing needed here, but not on other form elements? */
	background: white url(/static/admin/img/nav-bg.gif) bottom repeat-x;
	padding: 3px 5px;
	color: black;
	border: 1px solid #bbb;
	border-color: #666666;
}


/***************
* NAME: text input
* SCOPE: the current form
***************/
input[type=text] { 
	border: 1px solid #666666;
	background: #FFFFFF;
	color: #5D781D;
}

/* allow for text inputs that span their entire container */
.long input[type=text] {
	width: 100%;
}

/******************************
END FORM ELEMENTS
******************************/


/******************************
BEGIN TEXT STYLES (w/in the wiki)
******************************/

small {
	font-size: 8pt;
	font-style: italic;
}

strong {
	font-weight: bold;
}

.required {
	font-weight: bold;
}

.optional {
	font-weight: normal;
}

/******************************
END TEXT STYLES
******************************/


/******************************
BEGIN SPECIFIC ACTIONS
******************************/

.addlink {
	padding-left: 12px;
	background: url(/static/admin/img/icon_addlink.gif) 0 .2em no-repeat;
}

.listlink {
	padding-left: 12px;
	background: url(/static/cog/img/icon_listlink.gif) 0 .0em no-repeat;
}

.changelink {
	padding-left: 12px;
	background: url(/static/admin/img/icon_changelink.gif) 0 .2em no-repeat;
}

.privatelink {
	padding-left: 12px;
	padding-top: 2px;
	background: url(/static/cog/img/icon-lock-small.png) 0 .2em no-repeat;
}

.deletelink {
	padding-left: 12px;
	background: url(/static/admin/img/icon_deletelink.gif) 0 .25em no-repeat;
}

.arrowrightlink {
	padding-left: 8px;
	padding-top: 2px;
	background: url(/static/cog/img/icon_arrowrightlink.png) 0 .25em no-repeat;
}

/******************************
END SPECIFIC ACTIONS
******************************/

/******************************
BEGIN COLUMN ELEMENTS & ROLLUPS
******************************/

/* note: a significant portion of the left/right column styles is specified internally w/in Django Templates */
/* the following styles do not provide all of the look-and-feel */

/******************************
BEGIN VERTICAL MENU (LEFT NAVBAR)
******************************/

.vertical_menu {
	border: 1px solid #358C92;
	border-top: 0px;
	margin-bottom: 12px;
	margin-top: 0px;
	background: white;
}

.vertical_menu table {
	margin: 0px;
}

.vertical_menu table td {
	font-size: 8pt;
	text-align: left;
	vertical-align: top;
        padding: 1px 0px 0px 1px;
	margin: 0px;
	background-color: white;
}

/* prevent alternating table row styles from affecting vertical_menu content */
.vertical_menu tbody tr:nth-child(even) td,tbody tr.even td {
	background: white;
}

/* prevent body heading styles from affecting vertical_menu content */
.vertical_menu h3 {
	margin: 0;
	padding: 2px 5px 3px 5px;
	font-size: 9pt;
	text-align: left;
	font-weight: bold;
	background-color: #B9E0E3;
	color: #666;
	border-top: 1px solid #358C92;
	border-bottom: 1px solid #358C92;
}

.vertical_menu ul {
	margin: 0;
	padding-left: 4px;
	padding-bottom: 0px;
	list-style: none;
}

.vertical_menu li {
        /* line-height tweaked to match project browser elements */
	line-height: 14pt; 
	padding: 0px;        
	margin: 0px;
	list-style: none;
	font-size: 8pt;
}

.vertical_menu li li {
	line-height: 0px;
	padding: 5px;
}

.vertical_menu li:first-child {
	border-top: 0px;
}

#vertical_menu li ul {
	padding-bottom: 30px;
}

/******************************
END VERTICAL MENU (LEFT NAVBAR)
******************************/


.mybox {
	border: 1px solid #666666;
	margin-bottom: 5px;
	background: #FFFFFF;
	float: center;
}

.header-gray {
	border-bottom: 1px solid #666666;
	margin-bottom: 0px;
	background: #EEEEEE;
	float: center;
	text-align: left;
	color: #666666;
	font-size: 9pt;
}


/******************************
BEGIN NEWS WIDGET
******************************/

.news_box {
	border: 1px solid #666666;
	margin-bottom: 12px;
        margin-top: 0px;
	background: #FFFFFF;
	float: center;
}

.news_header {
	background-color: #FCE79F;
	color: #666;
	font-size: 9pt;
}

.news_box_body {
	max-height: 120px;
	overflow-y: auto;
}

.news_box table td,th {
	font-size: 8pt;
	padding: 0px;
	margin: 0px;
}

.news_box table hd {
	background-color: #FCE79F;
}

.news_box table.even-color tbody tr:nth-child(even) td,tbody tr.even td {
	background: #FCF2CE;
}

.box-comment {
	padding: 5px;
	margin: 2px;
	border: 0px solid #417690;
	background: #FFFFFF;
}

.box-comment .caption {
	color: #417690;
	background: #B9E0E3;
	border: 1px solid #417690;
	margin-bottom: 3px;
	font-weight: bold;
	font-style: italic;
}

.news_footer {
	margin: 0px;
	padding: 2px 5px 3px 5px;
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
	background-color: #FCE79F;
	color: #666666;
	border: 0px solid #666666;
	border-top: 1px solid #666666;
	display: block;
}

/******************************
END NEWS WIDGET
******************************/

/******************************
BEGIN SEARCH WIDGET
******************************/

.search-box {
	background: #FFFFFF;
	border: 1px solid #666;
	font-size: 8pt;
        margin-bottom: 12px;
        margin-top: 0px;
}

/* TODO: where is this used? */
.box-colored { 
	background: #FCE79F;
	border: 1px solid #666;
	font-size: 8pt;
}

.instruction-box {
	background: #e5ecf9;
	padding: 5px; #
	margin: 5px;
	border: 1px solid #417690;
	font-weight: bold;
	text-align: center;
}

.message-box { 
	background: #f4f379;
	padding: 5px; #
	margin: 5px;
	border: 1px solid #417690;
	font-weight: bold;
	text-align: center;
}

.padded-box {
	background: #FFFFFF;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #417690;
	text-align: left;
}

/* prevent error styles from affecting error content w/in search widget */
.error-box { 
	background: #f4f379;
	padding: 5px; #
	margin: 5px;
	border: 1px solid #417690;
	font-weight: bold;
	text-align: center;
	color: #FF0000;
}

.search_header {
	margin: 0px;
	padding: 2px 5px 3px 5px;
	font-size: 9pt;
	text-align: left;
	font-weight: bold;
	/* COG STYLE: RIGHT WIDGETS HEADER BACKGROUND COLOR */
	background-color: #FCE79F;
	/* COG STYLE: RIGHT WIDGETS HEADER BORDER COLOR */
	border-bottom: 1px solid #666666;
	/* background: #7CA0C7 url(/static/admin/img/default-bg.gif) top left repeat-x; */
	color: #666;
	display: block;
}

/******************************
END SEARCH WIDGET
******************************/


.caption {
	margin: 0px;
	padding: 2px 5px 3px 5px;
	font-size: 9pt;
	text-align: left;
	font-weight: bold;
	background-color: #000;
	color: #666;
	display: block;
}

/***************
* NAME: header_bar
* SCOPE: a box element
* DESCRIPTION: header_bar does not specify the actual page header, but rather the headings w/in boxes
***************/
.header_bar {
	margin: 0px;
	padding: 2px 5px 3px 5px;
	font-size: 9pt;
	text-align: left;
	font-weight: bold;
	background-color: #B9E0E3;
	color: #666;
	display: block;
	border: 1px solid #666666;
}

/******************************
END COLUMN ELEMENTS & ROLLUPS
******************************/

/******************************
BEGIN PAGINATOR
******************************/

/***************
* NAME: pagination
* SCOPE: the search page body content
***************/

.pagination {
    /* center the paginator controls */
    float: center; text-align: center;
}

/******************************
END PAGINATOR
******************************/


/******************************
BEGIN MESSAGES & ERRORS
******************************/

/* django automatically validates form elements */
/* this can generate messages, warnings, or errors */
/* these are rendered as list elements within a div */

ul.messagelist {
	padding: 0 0 5px 0;
	margin: 0;
}

ul.messagelist li {
	font-size: 9pt;
	display: block;
	padding: 4px 5px 4px 25px;
	margin: 0 0 3px 0;
	border-bottom: 1px solid #ddd;
	color: #666;
	background: #ffc url(/static/admin/img/icon_success.gif) 5px .3em
		no-repeat;
}

.errornote {
	font-size: 9pt !important;
	display: block;
	padding: 4px 5px 4px 25px;
	margin: 4px;
	border: 1px solid red;
	color: red;
	font-weight: bold;
	background: #ffc url(/static/admin/img/icon_error.gif) 5px .3em
		no-repeat;
}

.warning {
	font-size: 9pt !important;
	display: block;
	padding: 4px;
	margin: 4px;
	text-align: center;
	color: red;
	font-weight: bold;
}

ul.errorlist {
	margin: 0 !important;
	padding: 0 !important;
}

.errorlist li {
	font-size: 9pt !important;
	display: block;
	padding: 4px 5px 4px 25px;
	margin: 0 0 3px 0;
	border: 1px solid red;
	color: white;
	background: red url(/static/admin/img/icon_alert.gif) 5px .3em no-repeat;
}

/* ensure the styles apply to errors even when they are w/in tables */
td ul.errorlist {
        /* note the !important keyword to override the styles from the table section */
	margin: 0 !important;
	padding: 0 !important;
}

td ul.errorlist li {
        /* note the !important keyword to override the styles from the table section */
	margin: 0 !important;
}

.errors {
	background: #ffc;
}

.errors input,.errors select {
	border: 1px solid red;
}

/******************************
END MESSAGES & ERRORS
******************************/


/******************************
BEGIN SPECIFIC CSS FIXES
******************************/

/* there is a known ("dropped float") issue w/ IE where the last column contents appears at the bottom of the page */
/* the following style prevents right overflows */
div.last {
  margin-right: -100px;
  position: relative;
}

/* fine tune some of the spacing in IE */
div.last div#top_nav_right li a {
    padding-left: 3px;
    padding-right: 3px;
}
div.last div#top_nav {
    padding-top: 2px;
}
div.last ol {
    margin-left: 3px;
}

/* force IE to center the page content */
body {
    text-align: center;
    margin-right: auto; margin-left: auto;
    margin-top: 0; margin-bottom: 0;
}
body div {
    /* then stop automatically centering */
    text-align: left;
}

/* limit the maximum width of an uploaded image. */
.myimage {
  width: 100%;
  max-width: 200px;
  /* max-height: 200px; */
  width: expression(this.width > 200 ? "200"+"px" : true);
  /* height: expression(this.height > 200 ? "200"+"px" : true); */
  border: 1px solid #666666;
}

/* YUI treeview introduces a bug; */
/* when user is logged the background of the tree is teal, */
/* this forces it to remain white */
#project_views .yui-content td { background-color: #ffffff !important; }

/* prevent the wiki editor from resizing horizontally */
textarea.ckeditor { resize: vertical; }

/******************************
END SPECIFIC CSS FIXES
******************************/

.fieldset_box {
	border: 1px solid #358C92;	 
	padding: 5px;
	text-align:center;
	margin-top:-10px;
	margin-bottom: 15px;
}

.fieldset_legend {
	color: #000000;
	text-align: left;
	font-weight: bold;
	padding: 2px;
}