{% load i18n adminmedia fb_tags fb_versions %}

{% for file in page.object_list %}
    <tr class="{% cycle 'row1' 'row2' %}{% if file.filetype == "Folder" %} fb_folder{% endif %}">
        
        <!-- FILESELECT FOR FILEBROWSEFIELD -->
        {% if query.pop == "1" and results_var.select_total %}
            <td class="fb_icon">
                {% selectable file.filetype query.type %}
                {% if selectable %}
                    <button class="button fb_selectlink" onclick="FileSubmit('{{ file.url_save }}', '{{ file.url_thumbnail }}', '{{ file.filetype }}');">{% trans "Select" %}</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FILESELECT FOR RTE/TINYMCE -->
        {% if query.pop == "2" and results_var.select_total %}
            <td class="fb_icon">
                {% selectable file.filetype query.type %}
                {% if selectable %}
                    <button class="button fb_selectlink" onclick="FileBrowserDialogue.fileSubmit('{{ file.url_save|escapejs }}');">{% trans "Select Original Size" %}</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FILESELECT FOR CKEDITOR (FORMER "FCKEDITOR") -->
        {% if query.pop == "3" and results_var.select_total %}
            <td class="fb_icon">
                {% selectable file.filetype query.type %}
                {% if selectable %}
                    <button class="button fb_selectlink" onclick="OpenFile(ProtectPath('{{ file.url_save|escapejs }}'));return false;">{% trans "Select" %}</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FILEICON -->
        <td>
            {% comment %}<img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_type_{{ file.filetype|lower }}.gif" />{% endcomment %}
            <span class="fb_type {{ file.filetype|lower }}">{{ file.filetype }}</span>
        </td>
        
        <!-- THUMBNAIL -->
        <td class="fb_thumbnail">
            {% if file.filetype == "Image" %}
                <a href="{{ file.url_full }}" class="fb_viewlink" target="_blank"><img src="{% version file.path settings_var.ADMIN_THUMBNAIL %}" title="{% trans 'View Image' %}" /></a>
            {% endif %}
        </td>
        
        <!-- FILENAME/DIMENSIONS -->
        {% if file.filetype == "Folder" %}
            <td><a href="{% url fb_browse %}{% query_string "" "q,dir,p" %}&amp;dir={{ file.path_relative_directory|urlencode }}"><strong>{{ file.filename }}</strong></a></td>
        {% else %}
            <td>
                <b><a href="{{ file.url_full }}" target="_blank">{{ file.filename }}</a></b>
                {% if file.dimensions %}
                    <br /><span class="tiny">{{ file.dimensions.0 }} x {{ file.dimensions.1 }} px</span><br clear="all" />
                {% endif %}
       
                {% if results_var.images_total and settings_var.ADMIN_VERSIONS and file.filetype == "Image" %}
                    <a class="internal fb_showversions" href="{% url fb_versions %}{% query_string "" "p" %}&amp;filename={{ file.filename }}" title='Choose a Different Size'>Choose a Different Size &#187;</a>
                {% endif %}
        
            </td>
        {% endif %}
        
        <!-- FOLDER -->
        {% if q %}<td><a href="{% url fb_browse %}{% query_string "" "dir,p" %}&amp;dir={{ file.folder_for_link|urlencode }}"><strong>{{ file.folder }}</strong></a></td>{% endif %}
        
        <!-- SIZE -->
        <td>{{ file.filesize|filesizeformat }}</td>
        
        <!-- DATE -->
        <td>{{ file.datetime|date:"N j, Y" }}</td>
        
        <!-- ACTIONS -->
        {% comment %}
	        {% if user.is_active and user.is_staff %}
		        <td>
		            <div class="pulldown-actions-container">
		                <a href="javascript://" class="pulldown-actions-handler">&nbsp;</a>
		                <ul class="pulldown-actions">
		                    <li><a href="{% url fb_rename %}{% query_string %}&amp;filename={{ file.filename }}" title="{% trans 'Rename' %}">{% trans 'Rename' %}</a></li>
		                    {% ifnotequal file.filetype 'Folder' %}
		                        <li><a href="{% url fb_delete %}{% query_string %}&amp;filename={{ file.filename }}&amp;filetype={{ file.filetype }}" onclick="return confirm('{% trans "Are you sure you want to delete this file?" %}');" title="{% trans 'Delete File' %}">{% trans 'Delete File' %}</a></li>
		                    {% else %}
		                        {% if file.is_empty %}
		                            <li><a href="{% url fb_delete %}{% query_string %}&amp;filename={{ file.filename }}&amp;filetype={{ file.filetype }}" onclick="return confirm('{% trans "Are you sure you want to delete this Folder?" %}');" title="{% trans 'Delete Folder' %}">{% trans 'Delete Folder' %}</a></li>
		                        {% endif %}
		                    {% endifnotequal %}
		                </ul>
		            </div>
		        </td>
	        {% endif %}
        {% endcomment %}
        
    </tr>
{% endfor %}

 