<script language="javascript">

	// function to add an item to the user data cart
	function addToCart(id, metadata) {
				
		// relative path to COG application
		// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
		// NOTE: the following URL requires the user to be logged in (otherwise request.user.id is None)
		var url = "{% url 'datacart_add' site.id request.user.id %}";
		var data = "id="+encodeURIComponent(id)
		         + "&metadata="+encodeURIComponent(metadata);
		
		// execute asynchronous POST request
		var transaction = YAHOO.util.Connect.asyncRequest('POST', url, addCallback, data);
	}
	
	function deleteFromCart(item_identifier) {
				
		// relative path to COG application
		// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
		var url = "{% url 'datacart_delete' site.id request.user.id %}"
		var data = "item="+encodeURIComponent(item_identifier);
		
		// execute asynchronous GET request
		var transaction = YAHOO.util.Connect.asyncRequest('POST', url, deleteCallback, data);
		
	}
	// function to obtain the HTML id for the files container
	function getFilesDiv(dataset_id) {
		id = "files_"+dataset_id;
		return document.getElementById(id);
	}
	
	// function to retrieve the files belonging to a given dataset
	function showFiles(dataset_id, index_node, project) {
		
		fdiv = getFilesDiv(dataset_id);
			
		// only execute invocation for this dataset if not done laready
		if (fdiv.innerHTML.length==0) {
				
			// relative path to COG application
			// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
			// note: do not use django URL tag because it is interpreted before the 'dataset_id', 'index_node' values are known
			var url = "/search_files/"+dataset_id+"/"+index_node+"/";
		
			// pass in project short name as extra argument to callback functions
			filesCallback.argument[0] = project
			
			// execute asynchronous GET request
			var transaction = YAHOO.util.Connect.asyncRequest('GET', url, filesCallback, null);
			
			// show waiting panel
			showWaitPanel();
			
		}
		
	}
	
	// function called if Ajax request succeded to create the files display widget
	var handleFilesSuccess = function(o) {
		
		// hide waiting panel
		hideWaitPanel();
		
		// retrieve project short name from callback extra argument
		project = o.argument[0]
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		var numFound = jsonResponse.response.numFound;
		var docs = jsonResponse.response.docs;
		var dataset_id = null;
		for (var k=0; k<jsonResponse.responseHeader.params.fq.length; k++) {
			var fqArray = jsonResponse.responseHeader.params.fq[k].split(":");
			if (fqArray[0]=='dataset_id') {
				dataset_id = fqArray[1].replace(/\"/g,'');
			}	
		}
		
		// populate files container
		var fdiv = getFilesDiv(dataset_id);
		var html = "<div style='text-align:center; font-weight:bold'>Total Number of Files: "+numFound+"</style>";
		if (numFound>0) {
			html += "<table>";
			for (var i=0; i<docs.length; i++) {
				var doc = docs[i];
				html += "<tr><td><b>"+doc.title+"</b>";
				
				// display additional file-level metadata 
				var keys = []
				for (var field in doc) {
					if (field != 'data_node' && field != 'index_node' && field != 'type' 
						&& field != 'id' && field != 'dataset_id' && field != 'score' 
						&& field != 'url' && field != 'subtype'
						&& field != 'dataset_id_template_' 
						&& field != 'instance_id' && field != 'master_id'
						&& field != 'metadata_format' && field != 'timestamp'
						&& field != 'title'
						&& field != 'history'
						&& field != 'latest' && field != 'replica') {
						keys[keys.length] = field;
					}
				}
				// loop over metadata keys in alphabetical order
				keys = keys.sort();
				for (var j=0; j<keys.length; j++) {
					key = keys[j];
					html += "<br/><span style='text-transform:capitalize;'>"+key +"</span>: "+doc[key];
				}
				
				if (doc.subtype == 'image') {
					html += "<br/><a href='/metadata_display/"+project
					     +"?id="+doc.id
					     +"&dataset_id="+doc.dataset_id
					     +"&index_node="+doc.index_node
					     +"&type="+doc.type
					     +"&subtype="+doc.subtype
					     +"'>Full Image Metadata</a>";
				}
				
				html += "</td><td>";
				
				// file access
				if (doc.url) {
					
					var thumbnailUrl = null;
					var imageUrl = null;
					
					// loop over file access URLs, create hyperlinks
					for (var j=0; j<doc.url.length; j++) {
						var urlArray = doc.url[j].split('|');
						
						// special case: 'Thumbnail' service
						if (urlArray[2].toLowerCase() == 'thumbnail') {
							thumbnailUrl = urlArray[0]; // store thumbnail URL for later replacement
							
						} else {
							
							// images: create hyperlink with graphic
							if (urlArray[1].indexOf("image")>=0) {
								html += "<a href='"+urlArray[0]+"'><img src='IMAGE_URL' width='50px'/></a>&nbsp;"; // 'IMAGE_URL'
								imageUrl = urlArray[0]; // always store reference to image URL
								
							// non-images: create hyperlink with text
							} else {
								html += "<a href='"+urlArray[0]+"'>"+urlArray[2]+"</a><br/>";
							}
						}						
					} // loop over URLs
					
					// replace placeholder with thumbnail of full image
					if (html.indexOf("IMAGE_URL")>0) {
						if (thumbnailUrl!=null) {
							html = html.replace("IMAGE_URL",thumbnailUrl);								
						} else {
							html = html.replace("IMAGE_URL",imageUrl);
						}
					}

				} // file access
				 
				html += "</td></tr>";
			}
			html += "</table>";
		}
		fdiv.innerHTML = html;
	}

	
	// function called if Ajax request succeded
	var handleAddSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		
		// update data cart size
		var size = jsonResponse['datacart_size'];
		element = document.getElementById("datacart_size");
		element.innerHTML = ""+size;
		
		var identifier = jsonResponse['item'];
		
		<!-- show 'delete' link -->
		set_visibility("datacart-delete-"+identifier, true);
		<!-- hide 'add' link -->
		set_visibility("datacart-add-"+identifier, false);
		
		// show messages
		var message = jsonResponse['message'];
		if (message) {
			showMessage("Warning", message);
		}
		
	}
	
	// function called if Ajax request succeded
	var handleDeleteSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		var size = jsonResponse['datacart_size'];
		var identifier = jsonResponse['item'];
		
		<!-- update datacart size -->
		element = document.getElementById("datacart_size");
		element.innerHTML = ""+size;
		
		<!-- remove item from datacart -->
		set_visibility("item_"+identifier, false);
		set_visibility("item_"+identifier+"_hr", false);
				
		<!-- hide 'delete' link -->
		set_visibility("datacart-delete-"+identifier, false);
		<!-- show 'add' link -->
		set_visibility("datacart-add-"+identifier, true);

		
	}
	
	// function called if Ajax request failed
	var handleFailure = function(o) {		
		
		// hide waiting panel, in case it was displaying
		hideWaitPanel();

		// show error panel
		showMessage("An Error Occurred", "HTTP Status Code: "+o.status+"<br/>Message: "+o.statusText);
		
	}

	var addCallback = {
	  success:handleAddSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout:5000,
	  argument: [],
	};
	
	var deleteCallback = {
	  success:handleDeleteSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout:5000,
	  argument: [],
	};
	
	var filesCallback = {
	  success:handleFilesSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout: 20000, // longer timeout
	  argument: [],
	};
	
</script>