<script language="javascript">

	// function to add an item to the user data cart
	function addToCart(id, name, type, metadata) {
				
		// relative path to COG application
		// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
		// NOTE: the following URL requires the user to be logged in (otherwise request.user.id is None)
		var url = "{% url 'datacart_add' site.id request.user.id %}";
		var data = "id="+encodeURIComponent(id)
				 + "&name="+encodeURIComponent(name)
				 + "&type="+encodeURIComponent(type)
		         + "&metadata="+encodeURIComponent(metadata);
		
		// execute asynchronous POST request
		var transaction = YAHOO.util.Connect.asyncRequest('POST', url, addCallback, data);
	}
	
	function deleteFromCart(item_identifier) {
				
		// relative path to COG application
		// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
		var url = "{% url 'datacart_delete' site.id request.user.id %}"
		var data = "item="+encodeURIComponent(item_identifier);
		
		// execute asynchronous GET request
		var transaction = YAHOO.util.Connect.asyncRequest('POST', url, deleteCallback, data);
		
	}
	
	// function called if Ajax request succeded
	var handleAddSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		
		// update data cart size
		var size = jsonResponse['datacart_size'];
		element = document.getElementById("datacart_size");
		element.innerHTML = ""+size;
		
		var identifier = jsonResponse['item'];
		
		// show messages
		var message = jsonResponse['message'];
		if (message) {
			showMessage("Warning", message);
		}
		
	}
	
	// function called if Ajax request succeded
	var handleDeleteSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		var size = jsonResponse['datacart_size'];
		var item_identifier = jsonResponse['item'];
		
		element = document.getElementById("datacart_size");
		element.innerHTML = ""+size;
		
		element = document.getElementById("item_"+item_identifier);
		element.style.display = 'none' ;
		element = document.getElementById("item_"+item_identifier+"_hr");
		element.style.display = 'none' ;
		
	}
	
	// function called if Ajax request failed
	var handleFailure = function(o) {		
		showMessage("An Error Occurred", "HTTP Status Code: "+o.status+"<br/>Message: "+o.statusText);
	}

	var addCallback = {
	  success:handleAddSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout:5000,
	  argument: [],
	};
	
	var deleteCallback = {
	  success:handleDeleteSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout:5000,
	  argument: [],
	};
	
	function setDataCartLink(identifier, title, type, metadata, status) {
		
		el = document.getElementById("datacartlink-"+identifier);
		
		// link to add datacart item
		if (status=='add') {
			el.innerHTML = "<a href=\"javascript:addToCart('"+identifier+"', '"+title+"', '"+type+"', '"+metadata+"')\">"
			             + "<img src='{{STATIC_URL}}cog/img/datacart-add.png' height='20px' style='vertical-align:middle; padding-right:2px; padding-bottom:4px;'>Add to Data Cart</img>"
			             + "</a>";
			             
		// link to delete datacart item
		} else {
			el.innerHTML = "<a href=\"javascript:deleteFromCart('"+identifier+"')\">"
			             + "<img src='{{STATIC_URL}}cog/img/datacart-delete.png' height='20px' style='vertical-align:middle; padding-right:2px; padding-bottom:4px;'>Remove from Data Cart</img>"
			             + "</a>";
		}
		
	}
	
</script>