<script language="javascript">

	// function to add an item to the user data cart
	function addToCart(id, metadata) {
				
		// relative path to COG application
		// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
		// NOTE: the following URL requires the user to be logged in (otherwise request.user.id is None)
		var url = "{% url 'datacart_add' site.id request.user.id %}";
		var data = "id="+encodeURIComponent(id)
		         + "&metadata="+encodeURIComponent(metadata);
		
		// execute asynchronous POST request
		var transaction = YAHOO.util.Connect.asyncRequest('POST', url, addCallback, data);
	}
	
	function deleteFromCart(item_identifier) {
				
		// relative path to COG application
		// note: cannot execute HTTP requests to other hosts because of javascript security restrictions
		var url = "{% url 'datacart_delete' site.id request.user.id %}"
		var data = "item="+encodeURIComponent(item_identifier);
		
		// execute asynchronous GET request
		var transaction = YAHOO.util.Connect.asyncRequest('POST', url, deleteCallback, data);
		
	}
	
	// function called if Ajax request succeded
	var handleAddSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		
		// update data cart size
		var size = jsonResponse['datacart_size'];
		element = document.getElementById("datacart_size");
		element.innerHTML = ""+size;
		
		var identifier = jsonResponse['item'];
		
		<!-- show 'delete' link -->
		set_visibility("datacart-delete-"+identifier, true);
		<!-- hide 'add' link -->
		set_visibility("datacart-add-"+identifier, false);
		
		// show messages
		var message = jsonResponse['message'];
		if (message) {
			showMessage("Warning", message);
		}
		
	}
	
	// function called if Ajax request succeded
	var handleDeleteSuccess = function(o) {
		
		// parse JSON response into object		
		var jsonResponse = eval('(' + o.responseText + ')');
		var size = jsonResponse['datacart_size'];
		var identifier = jsonResponse['item'];
		
		<!-- update datacart size -->
		element = document.getElementById("datacart_size");
		element.innerHTML = ""+size;
		
		<!-- remove item from datacart -->
		set_visibility("item_"+identifier, false);
		set_visibility("item_"+identifier+"_hr", false);
				
		<!-- hide 'delete' link -->
		set_visibility("datacart-delete-"+identifier, false);
		<!-- show 'add' link -->
		set_visibility("datacart-add-"+identifier, true);

		
	}
	
	// function called if Ajax request failed
	var handleFailure = function(o) {		
		showMessage("An Error Occurred", "HTTP Status Code: "+o.status+"<br/>Message: "+o.statusText);
	}

	var addCallback = {
	  success:handleAddSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout:5000,
	  argument: [],
	};
	
	var deleteCallback = {
	  success:handleDeleteSuccess,
	  failure: handleFailure,
	  cache:false,
	  timeout:5000,
	  argument: [],
	};
	
</script>