<!-- Javascript controls for Globus Online functionality --> 
<script type="text/javascript">
  //<![CDATA[
  
     // function to start a Globus Online download for one dataset
     // makes GET invocation after adding optional query filter
     function goDataset(url) {
     
     	window.location = url + getQueryFilter('GET');
     
     }
                
     // function to start a Globus Online download for many datasets
     // makes POST invocation including optional query filter
     function goDatasets() {
    	 
    	 var selectedDatasetWithGridftp = getSelectedItemsByServiceType(GRIDFTP);
    	 var selectedCheckboxElements = getSelectedDataCartItems();
    	 
    	 if (selectedDatasetWithGridftp.length<=0) {
    		 showMessage("Warning", "Please select one or more datasets in the Data Cart that are Globus-enabled.");
    		 
    	 } else if (selectedCheckboxElements.length > selectedDatasetWithGridftp.length) {
    	 	
    	 	showUncheckMessage(GRIDFTP, 'Globus Download');
    	 	
    	 } else {
    	 
    	 	goForm = document.forms['goForm'];
    	 	datasets = [];
	    	for (var i in selectedDatasetWithGridftp) {
	    		datasets[datasets.length] = selectedDatasetWithGridftp[i].id +"@" + selectedDatasetWithGridftp[i].index_node;
	    	}
	    	goForm.dataset.value = datasets.join(",");
	    	goForm.query.value = getQueryFilter('POST');
    		goForm.submit();
    	 }
    	 
     }  
        
   //]]>
</script>