<!-- Javascript controls for LAS functionality --> 
<script type="text/javascript">
  //<![CDATA[
           
     // function to invoke LAS for the selected datasets
     function lasDatasets() {
     
     	// clear message from other services
     	clearAllMessages();
    	 
    	 var objs = getSelectedItemsByServiceType(LAS);
    	 if (objs.length<=0) {
    		 showMessage("Warning", "Please select one or more datasets in the Data Cart that are LAS-enabled.");
    	 } else if (objs.length>4) {
    		 showMessage("Warning", "Please select at most 4 datasets to visualize with LAS.");
    		 
    	 } else {
    		 
    		 // build combined LAS url
    		 var url = "";
    		 for (var i in objs) {
    			 if (i==0) {
    				 // use full LAS url from first item
    				 url += objs[i].url;
    			 } else {
    				 // just append the catid
    				 var _url = objs[i].url;
    				 url += "&" + _url.substring( _url.indexOf("?catid=")+1 );
    			 }
    		 }
    		 
    		 // invoke url
    		 window.location = url;
    		 
    	 }
    	 
     }
        
   //]]>
</script>