<!-- Javascript controls for wps functionality -->
<script type="text/javascript">
  function wps(dataset_id, index_node, shard, endpoint) {
    var url = endpoint;

    url += '?dataset_id=' + dataset_id;

    url += '&index_node=' + index_node;

    url += '&shard=' + shard;

    url += '&query=' + getQueryFilter();

    window.location.replace(url);
  }

  function wpsDatasets(endpoint) {
    var selectedItems = getSelectedItemsByServiceType(THREDDS);

    if (selectedItems.length <= 0) {
      showMessage("Warning", "Please select one or more datasets in the Data Cart that are THREDDS enabled.");
    } else {
      var datasets = selectedItems.map(function(x) {
        return x.id;
      });

      wps(datasets.join(','), selectedItems[0].index_node, '', endpoint);
    }
  }
</script>
