<!-- Template page to display user's profile -->
{% extends "cog/common/layout_center.html" %}
<!--LOCATION:/cog/templates/cog/datacart.html-->

{% load cog_utils %}

{% block extrahead %}

	{% include 'cog/datacart/_services_js.html' %}
	{% include 'cog/datacart/_datacart_js.html' %}
	{% include 'cog/datacart/_wget_js.html' %}
	{% include 'cog/datacart/_las_js.html' %}

	<!-- custom spacing of datacart table -->
	<style scoped type="text/css">
		#datacart-table td,th { padding-bottom: 0px; padding-top:2px; margin:0px; }
	</style>
	
	<!-- function triggered on other datacart selection -->
	<script type="text/javascript">
		function handleOtherDataCartSelect(elm) {
			window.location = elm.value;
		}
	</script>

{% endblock %}

{% block main %}

<!--pulldown menu of other data carts-->
	<div style="text-align:center; font-weight:bold">
		
		<!-- local data cart -->
		Number of Items in My '{{ site.name }}' Data Cart: <span id="datacart_size2">{{ datacart.items.all|length }}</span>
		
		<!-- remote data carts -->
		{% if datacarts.items|length > 0 %}
			&nbsp; &nbsp;
			<select name="dataCartSelect" id="dataCartSelect" onchange="javascript:handleOtherDataCartSelect(this)">
				<option id="other_datacart">My Other Data Carts</option>
				{% for openid, dc in datacarts.items %}
					{% for site, value in dc.items %}
						<option id="{{ site_name }}_datacart" 
								value="http://{{ site.domain }}/datacart/byopenid?openid={{openid}}">
							{{ site.name }}: {{ value }}
						</option>
					{% endfor %}
				{% endfor %}				
			</select>
		{% endif %}
		
	</div>
	
	
<!-- local data cart -->
	{% if datacart.items.all|length > 0 %}

	  <!-- skeleton form to empty the data cart via POST -->
	  <form name="emptyDataCartForm" action='{% url 'datacart_empty' site.id request.user.id %}' method='post'></form>

	  <!-- data cart form -->
	  <form name="dataCartForm">
	  	<!-- data cart table -->
                <br/> <!--// a little extra space //-->
		<table class="no-color" id="datacart-table" style="width:100%;">

			<!-- Header: services -->
			<tr>
			<td colspan="3" style="vertical-align: middle;"><b>Collective Services for All Selected Datasets: </b>
			[<b><a href="" onclick="javascript:wgetDatasets('wget-scripts', this, 'WGET Script', 'Hide WGET Script'); return false">WGET Script</a></b> ]
      <!-- FIXME &nbsp; [ <b><a href="" onclick="javascript:lasDatasets(); return false;">LAS Visualization</a></b> ] -->
			</td>
			</tr> 
			
			<tr>
			<td style="width:72%;vertical-align:middle;">
			    When 'Show Files' is clicked, or when generating WGET scripts, you may use an optional string to sub-select the filenames:
			</td>
			<td style="width:14%;vertical-align:middle;">
			    <input type="text" name="query-filter" id="query-filter" placeholder="Enter Text" onkeydown="if (event.keyCode == 13) { applyQueryFilter(); return false; }" />
			</td>
			<td style="width:14%;vertical-align:middle;display:inline;"> 
	  	        &nbsp;<input type="button" value="Apply" onclick="javascript:applyQueryFilter(); return false;"/>
	  		&nbsp;<input type="button" value="Reset" onclick="document.getElementById('query-filter').value=''; javascript:applyQueryFilter(); return false;"/>
			</td>
			</tr>
		</table>
		<table style="margin-left:auto;margin-right:auto;" class="no-color" id="datacart-table">
			<tr>
			<td>
			<!-- wget scripts place-holder -->
			<div style="width:500px;display:none;" class="padded-box" id="wget-scripts"></div>
			</td>
			</tr>
			<tr id="item_{{ item.identifier }}_hr">
				<td colspan="4"><hr/></td>
			</tr>
			<tr>
				<td style="text-align:left; width=10px;">
					<input type="checkbox" id="datacart-checkbox" onclick="javascript:toggleAllDataCartItems()"></input>
				</td>
				<td style="text-align:left; width:90%; vertical-align: middle;"><b>Select All Datasets</b></td>
				<td style="text-align:left; width=100px" nowrap="nowrap">
				  <a href="javascript:document.forms['emptyDataCartForm'].submit();"
				  onclick="return urlConfirmationDialog('Empty Data Cart Confirmation','Are you sure you want to remove ALL items from the cart ?', this)">
				  <img src="{{STATIC_URL}}cog/img/datacart-delete.png" height="20px" style="vertical-align:middle; padding-right:2px; padding-bottom:4px;">
                                  Remove All</a>
				</td>
			</tr>
                 </table>
                 <table class="no-color" id="datacart-table">
		 <!-- items stored in the Data Cart -->
			{% for item in datacart.items.all %}
				<tr id="item_{{ item.identifier }}_hr">
					<td colspan="4"><hr/></td>
				</tr>
				<tr id="item_{{ item.identifier }}">
					<td style="text-align:center;">
						<input type="checkbox" id="dataitem-checkbox_{{ item.identifier }}" name="{{ item.identifier }}"/>
					</td>
					<td style="text-align:left;">
						<!-- datacart item display -->
	                    {% with item.asRecord as record %}
							{% include 'cog/search/_record_display.html' %}
						{% endwith %}
					</td>
					<td style="text-align:left;">
					<a href="javascript:deleteFromCart('{{ item.identifier }}')">
					<img src="{{STATIC_URL}}cog/img/datacart-delete.png" height="20px" style="vertical-align:middle; padding-right:2px; padding-bottom:4px;"/>Remove</a>
					</td>
				</tr>
			{% endfor %}

		</table>
	  </form>
	{% endif %}

{% endblock %}