<!-- Template page to display user's profile -->
{% extends "cog/common/layout_center.html" %}

{% load cog_utils %}

{% block extrahead %}
	{% include 'cog/datacart/_datacart_js.html' %} 
{% endblock %}

{% block main %}
    
DATA CART

User: {{ user }}

<br/>

Number Of Items: {{ datacart.items.all|length }}

{% if datacart.items.all|length > 0 %}
	{% for item in datacart.items.all %}
		<div id="item_{{ item.id }}">
			<table>
				<tr>
					<td align='left' width="10px"> {{ forloop.counter }} </td>
					<td align='left'> <b>name={{ item.name }}</b>
						<br/>identifier={{ item.identifier }}
						<br/>type={{ type }}
					</td>
					<td> 	
						<a href="javascript:deleteFromCart({{ item.id }})">
							<img src="{{STATIC_URL}}cog/img/bookmark_add2.png" height="20px" style="vertical-align:middle; padding-right:2px; ">Remove</img>
						</a>			
				</td>
					
				</tr>
			
			</table>
		</div>
	{% endfor %}
	
{% endif %}


<hr/>

<br/>
<a href="{% url 'datacart_add' site.id request.user.id %}?identifier=X&name=Y&type=Dataset">Add an Item</a>
    
<br/>

<a href="javascript:addToCart('my.dataset.1', 'My dataset Number 1', 'Dataset')">
	<img src="{{STATIC_URL}}cog/img/bookmark_add2.png" height="20px" style="vertical-align:middle; padding-right:2px; ">Add to Data Cart</img>
</a>	  

{% endblock %}