<!-- Template page to display user's profile -->
{% extends "cog/common/layout_center.html" %}

{% load cog_utils %}

{% block extrahead %}
	{% include 'cog/datacart/_services_js.html' %}
	{% include 'cog/datacart/_datacart_js.html' %}
	{% include 'cog/datacart/_wget_js.html' %}
	{% include 'cog/datacart/_las_js.html' %}

	<!-- custom spacing of datacart table -->
	<style type="text/css">
		#datacart-table td,th { padding-bottom: 0px; padding-top:2px; margin:0px; }
	</style>

{% endblock %}

{% block main %}


	<div style="text-align:center; font-weight:bold">Number of Items in this Data Cart: <span id="datacart_size2">{{ datacart.items.all|length }}</span></div>
	
	<!-- remote data carts -->
	{% if datacarts.items.all|length > 0 %}
		<div style="text-align:center">
			Data Carts at other Sites: 
			{% for openid, dc in datacarts.items %}
				{% for site, value in dc.items %}
					&nbsp; <a href="http://{{ site.domain }}/datacart/byopenid?openid={{openid}}">{{ site.name }}: {{ value }}</a>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}

	<!-- local data cart -->
	{% if datacart.items.all|length > 0 %}

	  <!-- skeleton form to empty the data cart via POST -->
	  <form name='emptyDataCartForm' action='{% url 'datacart_empty' site.id request.user.id %}' method='post'></form>

	  <!-- data cart form -->
	  <form name='dataCartForm'>

	  	<!-- data cart table -->
	  	<p/>
		<table class="no-color" id="datacart-table">

			<!-- Header: services -->
			<tr>
				<td align='left' colspan="4" style="vertical-align: middle;">
					<b>Collective Services for All Selected Datasets:</b>
					&nbsp; [ <b><a href=""
					               onclick="javascript:wgetDatasets('wget-scripts', this, 'WGET Script', 'Hide WGET Script'); return false">
					               WGET Script</a></b> ]
					<!-- FIXME &nbsp; [ <b><a href="" onclick="javascript:lasDatasets(); return false;">LAS Visualization</a></b> ] -->
					<br/>When 'Show Files' is clicked, or when generating WGET scripts, you may use an optional string to sub-select the filenames:
			  		&nbsp;<input type="text" name="query-filter" id="query-filter"
			  		             onkeydown="if (event.keyCode == 13) { applyQueryFilter(); return false; }" />
	  				&nbsp;<input type="button" value="Apply" onclick="javascript:applyQueryFilter(); return false;"/>
	  				&nbsp;<input type="button" value="Reset" onclick="document.getElementById('query-filter').value=''; javascript:applyQueryFilter(); return false;"/>

					<!-- wget scripts place-holder -->
					<div class="padded-box" id="wget-scripts" style="display:none"></div>
				</td>
			</tr>
			<tr id="item_{{ item.identifier }}_hr">
				<td colspan="4"><hr/></td>
			</tr>
			<tr>
				<td align='left' width="10px">
					<input type="checkbox" id="datacart-checkbox" onclick="javascript:toggleAllDataCartItems()"></input>
				</td>
				<td align='left' width="90%" style="vertical-align: middle;">
					<b>Select All Datasets</b>
				</td>
				<td align='left' width="100px" nowrap="nowrap">
					<a href="javascript:document.forms['emptyDataCartForm'].submit();"
                       onclick="return urlConfirmationDialog('Empty Data Cart Confirmation','Are you sure you want to remove ALL items from the cart ?', this)">
                       <img src="{{STATIC_URL}}cog/img/datacart-delete.png" height="20px" style="vertical-align:middle; padding-right:2px; padding-bottom:4px;">
                       Remove All</a>
				</td>
			</tr>

			<!-- items -->
			{% for item in datacart.items.all %}
				<tr id="item_{{ item.identifier }}_hr">
					<td colspan="4"><hr/></td>
				</tr>
				<tr id="item_{{ item.identifier }}">
					<td align='center'>
						<input type="checkbox" id="dataitem-checkbox_{{ item.identifier }}" name="{{ item.identifier }}"/>
					</td>
					<td align='left'>
						<!-- datacart item display -->
	                    {% with item.asRecord as record %}
							{% include 'cog/search/_record_display.html' %}
						{% endwith %}
					</td>
					<td align='left'>
						<a href="javascript:deleteFromCart('{{ item.identifier }}')">
							<img src="{{STATIC_URL}}cog/img/datacart-delete.png" height="20px" style="vertical-align:middle; padding-right:2px; padding-bottom:4px;"/>Remove
						</a>
					</td>
				</tr>
			{% endfor %}

		</table>
	  </form>
	{% endif %}

{% endblock %}