# Eclipse configuration files
.project
.pydevproject
.settings/

# Compiled files
*.pyc
*.eggs

# CKEditor
cog/static/cog/ckeditor

# static files
static/


# site media
site_media/

# database directory
database/

# setuptools artifacts
cog.egg-info/
dist/
build/
