# Eclipse configuration files
.project
.pydevproject
.settings/

# Compiled files
*.pyc

# CKEditor
cog/static/cog/ckeditor

# static files
static/

# site media
site_media/

# database directory
database/

# CDF
dcf
dcf_v0.9.9.3/
