# CoG application dependencies
django==1.10.4
django-grappelli==2.8.1
#django-openid-auth==0.7', # must be installed independently from fork
sqlalchemy>=1.0.11,<1.3
south==1.0.2
psycopg2>=2.5.2,<2.7
python-openid==2.2.5
passlib==1.6.5
pysqlite==2.8.1
django-contrib-comments==1.6.2
oauth2client==2.0.1
globusonline-transfer-api-client==0.10.18
#'pillow==3.1.0', # pre-requisite: must be installed with --use-wheel on MAC-OSX
django-simple-captcha==0.5.1
html5lib==1.0b8
bleach==1.4.2
python-magic==0.4.12
esgfpid==0.7.10
