<!--// START: /cog/templates/cog/common/_comments.html //-->

<!-- 
    Django template snippet to render comments for an object
    object: the object the comments refer to
    next_view; the URL of the view to forward to after saving the comment
-->

{% load comments %}
{% load pagination_tags %}
{% load cog_utils %}

{% get_comment_count for object as comment_count %}
{% get_comment_list for object as comment_list %}
{% autopaginate comment_list 20 %}

<hr class="white"/>

{% if comment_list %}
	{% for comment in comment_list %}
		<div class="mybox">
		   <div id="comment_{{ comment.id }}" class="box-comment2">
		       <div class="caption">
                   {% if comment.user_name %}
                       <a href="{% url 'user_detail' comment.user.id %}">{{ comment.name|escape }}</a>,
                   {% else %}
                       {{ comment.name|escape }},
                   {% endif %}
                   on {{ comment.submit_date }}
		       		<!-- comments can only be deleted by the original authors, or project administrators -->
		       		{% if request.user == comment.user or request.user|hasAdminPermission:project %}
			       		<span style='float:right'>
			       			<a class='changelink' href='{% url 'comment_update' comment.id %}'>Edit Post</a>
			       			&nbsp; &nbsp;
			       			<a class="deletelink" 
			       				onclick="return urlConfirmationDialog('Delete Comment Confirmation','Are you sure you want to delete this Post?',this)"
			       				href="{% url 'delete_comment' comment.id %}?next={{request.path}}">Delete Post</a>
			       		</span>
		       		{% endif %}
		       </div>
		       <div class="body">
		       		<table>
		       			<tr>
		       				<td>
		       					<img src="{{ comment.user|getImage }}" {% if comment.user.profile.image %} class="myimage" {% endif %} style="width:35px;"/>
		       				</td>
		       				<td class="long">
		       					{% autoescape off %}
		       						{{ comment.comment|urlizetrunc:40 }}
		       					{% endautoescape %}
		       				</td>
		       			</tr>
		       		</table>
		       </div>
		   </div><!--// end div id=comment_ //-->
		</div>
	{% endfor %}
{% else %}
	<em class="message">This thread has no posts yet.</em>
{% endif %}

{% paginate %}
		
<!-- only authenticated users can comment -->
{% if request.user|hasUserPermission:project %}
	{% get_comment_form for object as form %}
	<form action="{% comment_form_target %}" method="post">
	    {{ form.content_type }}
	    {{ form.object_pk }}
	    {{ form.timestamp }}
	    {{ form.security_hash }}
	    {% csrf_token %} 
	    <p style="display:none"><label for="id_honeypot">Leave blank</label>{{ form.honeypot }}</p>
	    <input type="hidden" name="next" value="{{ next_view }}"/>
	    <!--add the plus sign icon-->
	    <label for="id_comment">
            <div style="margin-left:4px; margin-bottom:4px; font-size:11px; vertical-align: middle;" class="addlink"> New Post:</div>
        </label>
        <textarea class='ckeditor' name="comment" id="id_comment"></textarea>
	    <br>
	    <input style="margin-left:4px;" type="submit" name="post" value="Post" />
	</form>
{% else %}
	{{ object.topic|is_locked:request }} 
	You must 
	{% if user.is_anonymous %}
	<a href="{% url 'login' %}?next={{ request.path }}">login</a> and
	{% endif %}
	<a href="{% url 'membership_request' project.short_name|lower %}">join the {{ project.short_name }} project</a>
	to post to this thread.
{% endif %}