{% load cog_utils %}

{% if user|hasAdminPermission:project %}
    <span style="float:right">
	    <a href="{% url 'topic_update' project.short_name.lower topic.id %}" class="changelink">&nbsp;Edit Topic</a>
	    &nbsp;
	    <a href="{% url 'topic_delete' project.short_name.lower topic.id %}" class="deletelink"
	        onclick="return urlConfirmationDialog('Delete Forum Topic Confirmation',
	                                              'Are you sure you want to delete this forum topic (including all its threads and posts)?',this)">
	    &nbsp;Delete Topic?</a>
	</span>
{% endif %}

<!-- anchor for delete confirmation dialog -->
<div id="myDialog" class="yui-skin-sam"></div>
