{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %}

    {% load comments %}
    {% load pagination_tags %}
    {% autopaginate threads 10 %}
    {% load cog_utils %}
    
     <div class="mybox">
	    <table>
	        <caption>{{ project.short_name }} Forum Discussions</caption>
    
    		{% if threads %}
	    		<!-- loop over forum threads -->
	    		{% for thread in threads %}
	    			{% get_comment_count for thread as comment_count %}
	    			<tr>
	    				<td>{{ page_obj.start_index|add:forloop.counter|add:-1}}</td>
	    				<td>
	    					<b><a href="{% url 'thread_detail' project.short_name thread.id %}">{{ thread.title }}</a></b>
	    					{{ thread|is_locked:request }} 
	    					<hr/>
	    					Started by {{ thread.author }} on {{ thread.create_date }}, 
	    					           {{ comment_count }} comments, last comment on ... by ...
	    				</td>
	    			</tr>
	    		{% endfor %}
	    	{% else %}
	    		<tr>
	    			<td>This forum has no threads yet.</td>
	    		</tr>
	    	{% endif %}
    
		</table>
	</div>

	{% paginate %}
		
	<hr/>		
	<!-- new forum thread form -->
	{% if user|hasUserPermission:project %}
		<table>
			<tr>
				<td>
					<form action="" method="post">
						{% csrf_token %}	
						<span style="vertical-align: middle; font-weight:bold">Start a new Thread:</span>
						<input style="vertical-align: middle; width:70%;" type="text" name="title" id="title" value="{{request.POST.title}}" />
						<input style="vertical-align: middle;" type="submit" value="Submit" />
						<br/>
						{{ form.title.errors }}
						Thread title must be non-empty and must not contain special characters.
						&nbsp; &nbsp;
						{{ form.is_private }} This thread is private (can only be viewed by project members)
					</form>
				</td>
			</tr>
		</table>
	{% endif %}
	
{% endblock %}