{% extends "cog/common/layout_left_center.html" %}

{% block main %}

    {% load comments %}
    {% load cog_utils %}
    
    <!-- one table per topic -->
    {% for topic in topics %}
   		<div class="mybox">
	    	<table>
	        	<tr>
                    <td class="caption_mimic">
	        		    {{ topic|is_locked:request }} <a href="{% url 'topic_detail' project.short_name topic.id %}"><strong>{{ topic.title }}</strong></a>
	        		    {% include 'cog/forum/_topic_links.html' %}
	        	    </td>
                </tr>
    			<!-- one row per thread -->
    			{% for thread in topic.get_threads %}
    				{% get_comment_count for thread as comment_count %}
					<tr>
						<td>
							<a href="{% url 'thread_detail' project.short_name thread.id %}">{{ thread.title }}</a>
							<br/>
	    					Started by {{ thread.author }} on {{ thread.create_date }}, {{ comment_count }} post{{comment_count|pluralize}}.
		    				{% if comment_count > 0 %}
		    					Last post on {{ thread.get_last_comment.submit_date }} by
                                {% if thread.get_last_comment.user.username %}
                                <a href="{% url 'user_detail' thread.get_last_comment.user.id %}">{{ thread.get_last_comment.user }}</a>
                            {% else %}
                                {{ thread.get_last_comment.user }}
                            {% endif %}
		    				{% endif %}							
						</td>
					</tr>
    			{% empty %}
    				<tr>
    					<td>
    						<em class="message">This Topic has no Threads yet.</em>
    					</td>
    				</tr>
    			{% endfor %}


    			<!-- link to start new thread -->
                <!-- for now does not need to be a Contributor -->
    			{% if user|hasUserPermission:project %}
	    			<tr>
	    				<td>Start a <a href="{% url 'thread_add' project.short_name topic.id %}" class="changelink">new Thread</a> about this Topic.</td>
	    			</tr>
    			{% endif %}	
    			
    		</table>
    	</div>
    {% empty %}
    	<em class="message">This Forum has no Topics yet.</em>
    {% endfor %}
    
    {% with topics as results_page %}
    	{% include 'cog/common/_pagination.html' %}
    {% endwith %}
	
	<br/>
	Forum Topics can only be created by project administrators. Project members can create new Threads for each Topic, after they <a href="{% url 'login' %}?next={{ request.path }}"> login</a>.
	<br/>
		
	<!-- new forum topic form -->
	{% if user|hasAdminPermission:project %}
		&nbsp;
		<hr/>
	  	<form action="" method="post">
		    {% csrf_token %}	
			<table>
				<tr>
					<td nowrap="nowrap">
						<span style="vertical-align: middle">Start a new <strong>Topic</strong>:</span>
					</td>
					<td class="long">
						<span style="vertical-align: middle">
							{{ form.title }} 
							<br/>{{ form.title.errors }}
							{{ form.is_private }} This Topic is private (can only be viewed by project members)
							&nbsp;<input type="submit" value="Submit"/>
						</span>
					</td>
				</tr>
			</table>
	  	</form>
	{% endif %}
	
	
{% endblock %}