{% extends "cog/common/layout_left_center.html" %}

{% block main %}

	<form action="" method="post">

		<div class="mybox">
			
			{% csrf_token %}	
			{{ form.topic.as_hidden }} 
			
			<table>
				<tr>
	               <td style="vertical-align:middle; text-align:right"><strong>Title:</strong></td>
	               <td class="long">
	               		{{ form.title }} 
	               		<br/>
	               		{{ form.title.errors }}
	               </td>
				</tr>
			</table>
			
		</div>
	
		<div style="text-align:right">
			{% if thread %}
				<!-- return to thread page -->
	    		<input type="button" value="Cancel" onclick="window.location='{% url 'thread_detail' project.short_name|lower thread.id %}'"/>
			{% else %}
				<!-- return to forum page -->
				<input type="button" value="Cancel" onclick="window.location='{% url 'forum_detail' project.short_name|lower %}'"/>
			{% endif %}
			&nbsp;
	        <input type="submit" value="Submit" />
		</div>
	
	</form>

{% endblock %}