{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %}

	{% load cog_utils %}
	
	<!-- thread header -->
	<div id="trail" style="text-aligh:left; padding-bottom:4px;">
		<a href="{% url 'forum_detail' project.short_name %}">Forum: {{ project.short_name }}</a> 
		> {{ thread.topic|is_locked:request }} Topic: {{ thread.topic.title }}
		> Thread: {{ thread.title }}
		{% include 'cog/forum/_thread_links.html' %}
	</div>
	
    <!-- Comments -->
    {% if not thread.topic.is_private or user|hasUserPermission:project %}
	    {% with thread as object %}
	        {% url 'thread_detail' project.short_name thread.id as next_view %}
	        {% include 'cog/forum/_comments.html' %}
	    {% endwith %}        
    {% else %}
    	{{ thread|is_locked:request }} 
    	You must 
		{% if user.is_anonymous %}
		<a href="{% url 'login' %}?next={{ request.path }}">login</a> and
		{% endif %}
		<a href="{% url 'membership_request' project.short_name|lower %}">join the {{ project.short_name }} project</a>
		to view this thread.
    {% endif %}
            
	
{% endblock %}