{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %}

	{% load cog_utils %}
	
    <!-- Comments -->
    {% if not thread.is_private or user|hasUserPermission:project %}
	    {% with thread as object %}
	        {% url 'thread_detail' project.short_name thread.id as next_view %}
	        {% include 'cog/forum/_comments.html' %}
	    {% endwith %}        
    {% else %}
    	{{ thread|is_locked:request }} 
    	You must 
		{% if user.is_anonymous %}
		<a href="{% url 'login' %}?next={{ request.path }}">login</a> and
		{% endif %}
		<a href="{% url 'membership_request' project.short_name|lower %}">join the {{ project.short_name }} project</a>
		to view this thread.
    {% endif %}
            
    {% if user|hasAdminPermission:project or user == thread.author %}
	    <br/>
	    {{ thread|is_locked:request }} 
	    &nbsp;
	    <a href="{% url 'thread_update' project.short_name.lower thread.id %}" class="changelink">&nbsp;Update Thread</a>
	    &nbsp;
	    <a href="{% url 'thread_delete' project.short_name.lower thread.id %}" class="deletelink"
	        onclick="return urlConfirmationDialog('Delete Thread Confirmation','Are you sure you want to delete this forum thread ?',this)">&nbsp;Delete Thread?</a>
	
		<!-- anchor for delete confirmation dialog -->
		<div id="myDialog" class="yui-skin-sam"></div>
	
	{% endif %}
	
{% endblock %}