{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %}

	<form action="" method="post">

		<div class="mybox">
			
			{% csrf_token %}	
			<table>
				<tr>
	               <td style="vertical-align:middle; text-align:right"><b>Title:</b></td>
	               <td class="long">
	               		{{ form.title }} 
	               		<br/>
	               		{{ form.title.errors }}
	               </td>
				</tr>
				<tr>
					<td style="vertical-align:middle; text-align:right">{{ form.is_private }}</td>
					<td>This topic is private (can only be viewed by project members)</td>
				</tr>
			</table>
			
		</div>
	
		<div style="text-align:right">
	    	<input type="button" value="Cancel" onclick="window.location='{% url 'forum_detail' project.short_name|lower %}'"/>
			&nbsp;
	        <input type="submit" value="Submit" />
		</div>
	
	</form>

{% endblock %}