<!-- Organizational Roles -->

{% load cog_utils %}

<div id="governance_processes">
	
	<!-- content -->	
	{% if proj.taskPrioritizationStrategy or proj.requirementsIdentificationProcess %}
	
		<table>
			{% if proj.taskPrioritizationStrategy %}
				<tr>
					<td class="leftcolumn"><b>Task Prioritization Strategy</b></td>
					<td>{{proj.taskPrioritizationStrategy|linebreaksbr}}</td>
				</tr>
			{% endif %}
			{% if proj.requirementsIdentificationProcess %}
				<tr>
					<td class="leftcolumn"><b>Requirements Identification Process</b></td>
					<td>{{proj.requirementsIdentificationProcess|linebreaksbr}}</td>
				</tr>
			{% endif %}
		</table>
		
	{% else %}
		:&nbsp;<i>No information found.</i>
	{% endif %}

</div>