<!-- Organizational Roles -->

{% load cog_utils %}

<div id="governance_processes">
	
	<!-- content -->	
	{% if proj.taskPrioritizationStrategy or proj.requirementsIdentificationProcess %}
	
		<table>
			{% if proj.taskPrioritizationStrategy %}
				<tr>
					<td class="leftcolumn"><strong>Task Prioritization Strategy</strong></td>
					<td>{{proj.taskPrioritizationStrategy|urlizetrunc:50|linebreaksbr}}</td>
				</tr>
			{% endif %}
			{% if proj.requirementsIdentificationProcess %}
				<tr>
					<td class="leftcolumn"><strong>Requirements <br> Identification Process</strong></td>
					<td>{{proj.requirementsIdentificationProcess|urlizetrunc:50|linebreaksbr}}</td>
				</tr>
			{% endif %}
		</table>
		
	{% endif %}

</div>