<!-- Organizational Roles -->

{% load cog_utils %}

 <div id="communications">

<!-- content -->
{% if proj|getCommunicationMeans:internal %}

	<table>
		{% for obj in proj|getCommunicationMeans:internal %}
			<tr>
				<td>
					<table class="{% if forloop.counter|divisibleby:2 %}{% else %}no-color{% endif %}">
						<tr>
							<td class="leftcolumn"><strong>{{obj.title}}</strong></td>
							<td>{{obj.type}}</td>
						</tr>
						{% if obj.frequency %}
						<tr>
							<td class="leftcolumn">Frequency</td>
							<td>{{obj.frequency|urlizetrunc:50|linebreaksbr}}</td>
						</tr>
						{% endif %}
						{% if obj.purpose %}
						<tr>
							<td class="leftcolumn">Purpose</td>
							<td>{{obj.purpose}}</td>
						</tr>
						{% endif %}
						{% if obj.membership %}
						<tr>
							<td class="leftcolumn">Membership</td>
							<td>{{obj.membership}}</td>
						</tr>
						{% endif %}
						{% if obj.members.all %}
						<tr>
							<td class="leftcolumn">Members</td>
							<td>
								{% for member in obj.members.all %}{% if forloop.counter > 1 %}, {% endif %}
									{{member.user.get_full_name}}{% endfor %}	
							</td>
						</tr>
						{% endif %}	
						{% if obj.participationDetails %}
						<tr>
							<td class="leftcolumn">Participation Details</td>
							<td>{{obj.participationDetails|urlizetrunc:50|linebreaksbr}}</td>
						</tr>							
						{% endif %}						
					</table>
					
				</td>
			</tr>
		{% endfor %}
	</table>

{% endif %}

 </div>