{% load cog_utils %}

<!-- IMPORTANT: style used to allign all governance tables across pages -->
<style type="text/css">
	.leftcolumn {
		width: 130px;
		text-align: right;
		vertical-align: top;
	}
</style>

{% if tab = "GOVERNANCE"|tabs %}
	{% include 'cog/governance/_governance_overview.html' %}
{% endif %}

{% if tab = "BODIES"|tabs %}
	{% include 'cog/governance/_governance_strategic_management_bodies.html' %}
	{% include 'cog/governance/_governance_operational_management_bodies.html' %}
{% endif %}

{% if tab = "ROLES"|tabs %}
	{% include 'cog/governance/_governance_lead_organizational_roles.html' %}
	{% include 'cog/governance/_governance_member_organizational_roles.html' %}
{% endif %}

{% if tab = "PROCESSES"|tabs %}
	{% include 'cog/governance/_governance_communication_means.html' %}
	{% include 'cog/governance/_governance_processes.html' %}
	{% include 'cog/governance/_governance_policies.html' %}
{% endif %}