{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block extrastyle %}

<!-- style used to allign all governance tables across pages -->
<style type="text/css">
	.leftcolumn {
		width: 130px;
		text-align: right;
		vertical-align: top;
	}
</style>

{% endblock %}

{% block main %}

	<!-- selective display -->
	<div class="box-blue" style="padding:4px">
		<form method="get" action="." id="displayForm">
			Select information to display:
			<select name="display" onchange="javascript:document.getElementById('displayForm').submit()">
				<option value="ALL"               {% if display == 'ALL' %}selected="selected"{% endif %}>Display All Information</option>
				<option value="STRATEGIC_MANAGEMENT_BODIES" {% if display == 'STRATEGIC_MANAGEMENT_BODIES' %}selected="selected"{% endif %}>Display Strategic Management Bodies</option>
				<option value="OPERATIONAL_MANAGEMENT_BODIES" {% if display == 'OPERATIONAL_MANAGEMENT_BODIES' %}selected="selected"{% endif %}>Display Operational Management Bodies</option>				
				<option value="LEAD_ORGANIZATIONAL_ROLES" {% if display == 'LEAD_ORGANIZATIONAL_ROLES' %}selected="selected"{% endif %}>Display Lead Organizational Roles</option>
				<option value="MEMBER_ORGANIZATIONAL_ROLES" {% if display == 'MEMBER_ORGANIZATIONAL_ROLES' %}selected="selected"{% endif %}>Display Member Organizational Roles</option>
				<option value="COMMUNICATION_MEANS" {% if display == 'COMMUNICATION_MEANS' %}selected="selected"{% endif %}>Display Communication and Coordination</option>
				<option value="PROCESSES" {% if display == 'PROCESSES' %}selected="selected"{% endif %}>Display Governance Processes</option>
				<option value="POLICIES" {% if display == 'POLICIES' %}selected="selected"{% endif %}>Display Policies</option>
			</select>
		</form>			
	</div>

	<!-- This project governance -->
	{% with project as proj %}
		{% include 'cog/governance/_governance.html' %}	
	{% endwith %}
		
	<!-- Children projects governance -->
	{% if children %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('children_governance'); return false;" class="listlink">&nbsp;Child Project Governance</a>
		</div>
		<div id="children_governance" style="display:none">	   	    
		    {% for child in children %}
	    		{% with child as proj %}
	    			<br/>
	    			<div class="mybox" style="padding:2px;">
	    				<div style="text-align:center; font-weight:bold; padding-top:1px;">{{ proj.short_name }} Governance</div>
						{% include 'cog/governance/_governance.html' %}
					</div>
				{% endwith %}
		    {% endfor %}		
		</div>
	{% endif %}
	
	<!-- Peer projects governance -->
	{% if peers %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('peers_governance'); return false;" class="listlink">&nbsp;Peer Project Governance</a>
		</div>
		<div id="peers_governance" style="display:none">	   	    
		    {% for peer in peers %}
	    		{% with peer as proj %}
	    			<br/>
	    			<div class="mybox" style="padding:2px;">
	    				<div style="text-align:center; font-weight:bold; padding-top:1px;">{{ proj.short_name }} Governance</div>
						{% include 'cog/governance/_governance.html' %}
					</div>
				{% endwith %}
		    {% endfor %}		
		</div>
	{% endif %}
	
	
{% endblock %}