{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block main %} 

	{% load cog_utils %}
    
	<form action="" method="post">
	         
	     {% csrf_token %}
	     
	        <div class="mybox">
				<table>
	            	<tr>
	            		<td valign="top" nowrap="nowrap">Task Prioritization Strategy</td>
	            		<td class="long">
	            			{{ form.taskPrioritizationStrategy.help_text }}
	            			{{ form.taskPrioritizationStrategy }} 
	            			{{ form.taskPrioritizationStrategy.errors }}
	            		</td>
	            	</tr>
	            	<tr>
	            		<td valign="top" nowrap="nowrap">Requirements Identification Process</td>
	            		<td class="long">
	            			{{ form.requirementsIdentificationProcess.help_text }}
	            			{{ form.requirementsIdentificationProcess }} 
	            			{{ form.requirementsIdentificationProcess.errors }}
	            		</td>
	            	</tr>
				</table>
		</div>	
		{{ form.project.as_hidden }}
	     
	    <div style="text-align:right">
	         <input type="button" value="Cancel" onclick="window.location='{% url governance_display project.short_name|lower %}'"/>
	         <input type="submit" value="Submit" />
        </div>

	</form>
	
{% endblock %}