{% extends "layouts/layout_popup.html" %}

<!-- LOADING -->
{% load i18n adminmedia fb_tags fb_pagination %}
{% load pagination_tags %}

{% block head %}

    {{ block.super }}
    {% ifequal query.pop '1' %} <!-- FileBrowseField -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_FileBrowseField.js"></script>
    {% endifequal %}
    {% ifequal query.pop '2' %} <!-- TinyMCE -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_TINYMCE }}tiny_mce_popup.js"></script>
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_TinyMCE.js"></script>
    {% if query.mce_rdomain %}<script language="javascript">document.domain = "{{ query.mce_rdomain }}"</script>{% endif %}
    {% endifequal %}
    {% ifequal query.pop '3' %} <!-- CKeditor (former "FCKeditor") -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_CKEditor.js"></script>
    {% endifequal %}
    {{ media }}
    

{% endblock %}

{% block body %}

    <h2>Image Selection Window</h2>
    
    <!-- redefine style of list for pagination -->
    <style>
        .pagination li {
            display: inline;
            list-style-type: none;
            padding-right: 10px;
         }
    </style>
    <!-- PAGINATION -->
    {% pagination %}

    <div class="box-rounded">
    
	    <!-- SEARCH -->
	    <form id="changelist-search" action="." method="get">
            {% if query.filter_type %}<input type="hidden" name="filter_type" value="{{ query.filter_type }}" />{% endif %}
            {% if query.filter_date %}<input type="hidden" name="filter_date" value="{{ query.filter_date }}" />{% endif %}
            {% if query.o %}<input type="hidden" name="o" value="{{ query.o }}" />{% endif %}
            {% if query.ot %}<input type="hidden" name="ot" value="{{ query.ot }}" />{% endif %}
            {% if query.pop %}<input type="hidden" name="pop" value="{{ query.pop }}" />{% endif %}
            {% if query.type %}<input type="hidden" name="type" value="{{ query.type }}" />{% endif %}
            {% if query.format %}<input type="hidden" name="format" value="{{ query.format }}" />{% endif %}
            {% if query.dir %}<input type="hidden" name="dir" value="{{ query.dir }}" />{% endif %}
	    
	        <div id="search" class="mybox">
	               
	                <table width="80%">
	                   <caption>Filter Image List</caption>
	                    <tr>
	                       <td width="70%">
                                <input type="text" size="20" name="q" value="{{ query.q }}" id="searchbar" />
                           </td>
	                       <td>                       
                               <select name="filter_date">
                                    <option value="">{% trans "Any Date" %}</option>
                                    <option value="today" {% if query.filter_date == "today" %} selected="selected"{% endif %}>{% trans "Today" %}</option>
                                    <option value="past7days"{% if query.filter_date == "past7days" %} selected="selected"{% endif %}>{% trans "Past 7 days" %}</option>
                                    <option value="thismonth"{% if query.filter_date == "thismonth" %} selected="selected"{% endif %}>{% trans "This Month" %}</option>
                                    <option value=thisyear"{% if query.filter_date == "thisyear" %} selected="selected"{% endif %}>{% trans "This year" %}</option>
                                </select>
                                &nbsp;
                                <input type="submit" value="Search">&nbsp</input>
                            </td>
	                    </tr>
	                </table>
	        </div>
	    </form>
	    
    <!-- UPLOAD -->
    <a href="{% url fb_upload %}{% query_string '' 'p' %}" class="focus">&raquo; Upload New Image(s)</a>
    
    </div>
        
    <!-- RESULTS -->         
    <div id="results" class="mybox">        
        {% if results_var.results_current %}
	        <div class="module changelist-results">
	            <table cellspacing="0">
	                <caption>File Browser</caption>
	                {# include "filebrowser/include/tableheader.html" #}
	                <tbody>
	                {% include "filebrowser/include/filelisting.html" %}
	                </tbody>
	            </table>
	        </div>
        {% endif %}
    </div>

{% endblock %}