{% extends "layouts/layout_popup.html" %}

<!-- LOADING -->
{% load i18n adminmedia fb_tags %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/uploadify.css" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block head %}
    {{ block.super }}
    <script type="text/javascript" src="../../jsi18n/"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/jquery.uploadify.v2.1.1.js"></script>
    <script type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/swfobject.js"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/admin/CollapsedFieldsets.js"></script>
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $('#file_upload').uploadify({
                'uploader'          : '{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/uploadify.swf',
                'script'            : '{% url fb_do_upload %}',
                'scriptData'        : {'session_key': '{{session_key}}'},
                'checkScript'       : '{% url fb_check %}',
                'cancelImg'         : '{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/cancel.png',
                'auto'              : false,
                'folder'            : '{{ query.dir }}',
                'multi'             : true,
                'fileDesc'          : '{% for extension in settings_var.EXTENSIONS.items %}{% ifnotequal extension.0 'Folder' %}{% for item in extension.1 %}*{{ item|safe }};{% endfor %}{% endifnotequal %}{% endfor %}',
                'fileExt'           : '{% for extension in settings_var.EXTENSIONS.items %}{% ifnotequal extension.0 'Folder' %}{% for item in extension.1 %}*{{ item|safe }};{% endfor %}{% endifnotequal %}{% endfor %}',
                'sizeLimit'         : {{ settings_var.MAX_UPLOAD_SIZE }},
                'scriptAccess'      : 'sameDomain',
                'queueSizeLimit'    : 50,
                'simUploadLimit'    : 1,
                'width'             : 300,
                'height'            : 30,
                'hideButton'        : false,
                'buttonText'        : 'Select Files',
                'buttonImg'         : '{{ settings_var.URL_FILEBROWSER_MEDIA }}uploadify/button.png',
                'wmode'             : 'transparent',
                'onSelectOnce'      : function(event,data) {
                                               $('#status-message').text(data.filesSelected + ' files have been added to the queue.');
                                      },                  
                'onAllComplete'     : function(event,data) { 
                                               //alert(data.filesUploaded + " files uploaded successfully!"); 
                                               $('#status-message').text(data.filesUploaded + ' files uploaded, ' + data.errors + ' errors.');
                                               //window.location = '{% url fb_browse %}';
                                      },
                translations        : {
                                      browseButton: '{% trans "Browse" %}',
                                      error: '{% trans "An Error occured" %}',
                                      completed: '{% trans "Completed" %}',
                                      replaceFile: '{% trans "Do you want to replace the file" %}',
                                      unitKb: '{% trans "KB" %}',
                                      unitMb: '{% trans "MB" %}'
                }
            });
            $('input:submit').click(function(evt){
                $('#file_upload').uploadifyUpload();
                return false;
            });
            $('input.cancel-link').click(function(evt){
                $('#file_upload').uploadifyClearQueue();
                return false;
            });
        });
    })(jQuery.noConflict());
    </script>
{% endblock %}

<!-- CONTENT -->
{% block body %}

        <style type="text/css">
        #upload-div .uploadifyQueueItem {
  background-color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #E5E5E5;
  font: 11px Verdana, Geneva, sans-serif;
  height: 50px;
  margin-top: 0;
  padding: 10px;
  width: 350px;
}
#upload-div .uploadifyError {
  background-color: #FDE5DD !important;
  border: none !important;
  border-bottom: 1px solid #FBCBBC !important;
}
#upload-div .uploadifyQueueItem .cancel {
  float: right;
}
#upload-div .uploadifyQueue .completed {
  background-color: #E5E5E5;
}
#upload-div .uploadifyProgress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%;
}
#upload-div .uploadifyProgressBar {
  background-color: #0099FF;
  height: 3px;
  width: 1px;
}
#upload-div #custom-queue {
  border: 1px solid #E5E5E5;
  height: 213px;
margin-bottom: 10px;
  width: 370px;
}               </style>

<h2>Image Upload Window</h2>

<div id="upload-div" class="box-rounded">
    <form>
        <div id="status-message">Select some files to upload:</div>
        <input type="file" id="file_upload"/>
    </form>
</div>

<div style="float:right">
    <input class="cancel-link" type="button" name="_cancel" value='Clear All Files' />
    <input type="submit" name="_save" value='Upload All Files' />
    <input type="button" name="_back" value='Back to File Listing' onClick="self.location='{% url fb_browse %}?pop=2&type=image'" />
</div>

{% endblock %}
