{% extends "layouts/layout_popup.html" %}

<!-- LOADING -->
{% load i18n adminmedia fb_tags fb_versions %}

<!-- STYLESHEETS and JAVASCRIPTS -->
{% block head %}

    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
    {% if query.pop %}
    <style type="text/css">
        #header { display: none; }
    </style>
    {% endif %}

    
    {% ifequal query.pop '1' %}
    <!-- FileBrowseField -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_FileBrowseField.js"></script>
    {% endifequal %}
    
    {% ifequal query.pop '2' %}
    <!-- TinyMCE -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_TINYMCE }}tiny_mce_popup.js"></script>
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_TinyMCE.js"></script>
    {% if query.mce_rdomain %}<script language="javascript">document.domain = "{{ query.mce_rdomain }}"</script>{% endif %}
    {% endifequal %}
    
    {% ifequal query.pop '3' %}
    <!-- CKeditor (former "FCKeditor") -->
    <script language="javascript" type="text/javascript" src="{{ settings_var.URL_FILEBROWSER_MEDIA }}js/FB_CKEditor.js"></script>
    {% endifequal %}
    
    {{ media }}
{% endblock %}

<!-- CONTENT -->
{% block body %}

    <h2>Image Size Selection Window</h2>
    
	<div class="mybox">
	        <table cellspacing="0">
	            <caption>Available Image Sizes</caption>
	            <tbody>
	            {% for version in settings_var.ADMIN_VERSIONS %}
	                {% version_object original version as image_version %}
	                   {% if image_version.dimensions %}
	                   
		                <tr class="{% cycle 'row1' 'row2' %}">
		                
			                <!-- Fileselect for RTE/TinyMCE -->
			                {% ifequal query.pop '2' %}
			                <td class="fb_icon">
			                    {% selectable image_version.filetype query.type %}
			                    {% if selectable %}
			                        <button class="button fb_selectlink" onclick="FileBrowserDialogue.fileSubmit('{{ image_version.url_save|escapejs }}');">{% trans "Select" %}</button>
			                    {% else %}
			                        &nbsp; 
			                    {% endif %}
			                </td>
			                {% endifequal %}
			                              
			                <!-- Filename / Dimensions  -->
			                <td nowrap="true">
			                    {% version_setting version %}
			                    <b>{{ version_setting.verbose_name }}</b><br />
			                    {% if version_setting.width %}{% trans "Width" %}: {{ version_setting.width }}px<br />{% endif %}
			                    {% if version_setting.height %}{% trans "Height" %}: {{ version_setting.height }}px{% endif %}
			                </td>
			                
			                <!-- Version -->
			                <td><img src="{{ image_version.url_full }}" /></td>
			                
			                <!-- Debug -->
			                {% if settings_var.DEBUG %}
			                <td>
			                    <b>Filename</b> {{ image_version.filename }}<br />
			                    <b>Filetype</b> {{ image_version.filetype }}<br />
			                    <b>Filesize</b> {{ image_version.filesize }}<br />
			                    <b>Extension</b> {{ image_version.extension }}<br />
			                    <b>Date</b> {{ image_version.date }}<br />
			                    <b>Datetime Object</b> {{ image_version.datetime }}<br /><br />
			                    
			                    <b>Relative Path</b> {{ image_version.path_relative }}<br />
			                    <b>Full Path</b> {{ image_version.path_full }}<br />
			                    <b>Relative URL</b> {{ image_version.url_relative }}<br />
			                    <b>Full URL</b> {{ image_version.url_full }}<br /><br />
			                    
			                    <b>URL for FileBrowseField</b> {{ image_version.url_save }}<br />
			                    <b>Thumbnail URL</b> {{ image_version.url_thumbnail }}<br /><br />
			                    
			                    <b>Dimensions</b> {{ image_version.dimensions }}<br />
			                    <b>Width</b> {{ image_version.width }}<br />
			                    <b>Height</b> {{ image_version.height }}<br />
			                    <b>Orientation</b> {{ image_version.orientation }}
			                </td>
			               {% endif %}
			                
		                </tr>
	                
	               {% endif %}
	            {% endfor %}
	            </tbody>
	        </table>
	</div>

<p>
    <input type="button" name="_back" value='Back to File Listing' onClick="self.location='{% url fb_browse %}?pop=2&type=image'" />
</p>

{% endblock %}