{% extends "cog/common/layout_center.html" %}
<!--// start /access_control/list.html //-->

{% block main %}

  <div class="mybox">
    <table>
      
      <tr style="background:#B9E0E3; border-bottom: 1px solid #666666;">
        <td nowrap="nowrap"><b>Name</b></td>
        <td><b>Description</b></td>
        <td nowrap="nowrap"><b>Site</b></td>
        <td nowrap="nowrap"><b>Registration URL</b></td>
      </tr>
      {% for group_name, group_dict in groups.items %}
      	{% with 'http://'|add:group_dict.site_domain|add:'/ac/subscribe/'|add:group_name|add:'/' as url %}
        <tr>		        
          <td align="right">{{ group_dict.name }}</td>
		  <td align="right">{{ group_dict.description }}</td>
		  <td align="right">{{ group_dict.site_name }}</td>
		  <td align="right"><a href='{{ url }}'>{{ url }}</a></td>
        </tr> 
        {% endwith %}      
      {% endfor %}
    </table>
  </div>
  <div style="float:right;"><input type="reset" value="Cancel" onclick="self.location='/'"/></div>

{% endblock %}