{% extends "cog/common/layout_center.html" %}
<!--// start /access_control/list.html //-->

{% block main %}

  <div class="mybox">
    <table>
       <caption style="display: none;"> ESGF Access Control Groups </caption> <!--caption for 508 -->
       <tr style="background:#B9E0E3; border-bottom: 1px solid #666666;">
          <th scope="col" class="green" nowrap="nowrap"><strong>Name</strong></th>
          <th scope="col" class="green"><strong>Description</strong></th>
          <th scope="col" class="green" nowrap="nowrap"><strong>Site</strong></th>
          <th scope="col" class="green" nowrap="nowrap"><strong>Registration URL</strong></th>
       </tr>
       <tbody>
          {% for group_name, group_dict in groups.items %}
      	     {% with 'http://'|add:group_dict.site_domain|add:'/ac/subscribe/'|add:group_name|add:'/' as url %}
                 <tr>
                     <td align="right">{{ group_dict.name }}</td>
		             <td align="right">{{ group_dict.description }}</td>
		             <td align="right">{{ group_dict.site_name }}</td>
		             <td align="right"><a href='{{ url }}'>{{ url }}</a></td>
                  </tr>
             {% endwith %}
          {% endfor %}
       </tbody>
    </table>
  </div>
  <label for="cancel" style="display:none;">Cancel</label>
  <div style="float:right;"><input id="cancel" type="reset" value="Cancel" onclick="self.location='/'"/></div>

{% endblock %}