{% extends "cog/common/layout_center.html" %}

{% block main %}
    
    <!-- invocation after POST redirection -->
    {% if request.GET.approved != None %}
    
    	<p></p>
		<div class="message-box" >
			Thank you for requesting "{{ group_name }}" data access.
			<br/>
			
			{% if request.GET.approved == 'True' %}
				Your request has been approved automatically.
			{% else %}
				Your request is pending approval by the node administrator.
			{% endif %}
			
		</div>
		
	<!-- direct GET invocation -->
	{% else %}
	
		<!-- display subscription form -->
	    {% if status == None %}
	    
	    	{% if licenseTxt or licenseHtml %}
	    		
	    		<div class="license-box" >
	    			{% if licenseTxt %}
	    				{{ licenseTxt|urlizetrunc:50|linebreaksbr }}
	    			{% else %}
	    				{{ licenseHtml }}
	    			{% endif %}
	    		</div>
	    		
	    		<form method="post" action="">
			      {% csrf_token %}
			      <input type="button" value="Cancel" onclick="window.location.href='/'" />
			      &nbsp; &nbsp;
			      <input type="submit" value="I agree"/>
			    </form>
	    	
	    	{% else %}
	    
		    	<p>Please click on the button below to request "{{ group_name }}" data access.</p>
		           		
			    <form method="post" action="">
			      {% csrf_token %}
			      <input type="submit" value="Subscribe"/>
			    </form>
			    
			{% endif %}
		   
		 <!-- display subscription status -->
		 {% else %}
		   
		   		{% if status %}
		   			<p>You already have "{{ group_name }}" data access rights.</p>
		   		{% else %}
		   			<p>Your request for "{{ group_name }}" data access is pending approval by the node administrator
					    .</p>
		   		{% endif %}
		   
		 {% endif %}
	
    
    {% endif %}
    
    
    
{% endblock %}