<!--START: /cog/templates/cog/post/_post_form_home.html //--><!-- form table for home page -->

{% load cog_utils %}

<!-- immutable fields -->
{{ form.url.as_hidden }}
{{ form.topic.as_hidden }}
{{ form.parent.as_hidden }}

<!-- mutable fields -->
<table class="post_home">
    <tr>
      <td class="col1">Author</td>
      <td>{{ request.user }} </td>		          
    </tr>
    <tr>
        <td class="col1"><strong>*Title</strong></td>
        <td>{{ form.title }} </td>
        <td style="vertical-align: middle;">{{ form.title.errors }}</td>
    </tr>
</table>
<table class="post_home">
    <!-- allow changing of the template, except for the home page -->
    <tr>
         <td class="col1"><strong>*Template</strong></td>
         <td class="long">
         <select id="id_template" name="template">
		 	<option value="cog/post/page_template_center_right.html" 
		 	        {% if form.template.value == 'cog/post/page_template_center_right.html' %} selected="selected" {% endif %}>
		 	        Main Content, Right Widgets</option>
			<option value="cog/post/page_template_sidebar_center_right.html"
			        {% if form.template.value == 'cog/post/page_template_sidebar_center_right.html' %} selected="selected" {% endif %}>
			        Left Menu, Main Content, Right Widgets</option>
		 </select>
         {{ form.template.errors }}
         </td>
    </tr>
    <tr>
          <td class="col1" nowrap="nowrap">Not Viewable?</td>
          <td>{{ form.is_private }} &nbsp; (<em class="message">If checked, only project members will be able to view this page.</em>)
          </td>                      
    </tr>  
    {% if user|hasAdminPermission:project %}
	    <tr>
	          <td nowrap="nowrap" class="col1">Not Editable?</td>
	          <td>{{ form.is_restricted }} &nbsp; (<em class="message">If checked, only project administrators will be able to edit this page.
	                                               If not checked, all project members can edit this page.</em>)</td>
	    </tr>   
    {% endif %}
    <tr>
        <td style="vertical-align:top;" class="col1"><strong>*Body</strong></td>
        <td>{{ form.body }} {{ form.body.errors }}</td>
    </tr>
    
</table>