<!--// START: /cog/templates/cog/post/_post_last_update.html //-->
{% if post %}
    <!--clear:both added to move the last update down if any elements above are floated.-->
    <!--clear:both means no floating elements allowed on either the left or the right side-->
	<div id="last_update_text" style="font-size: 8pt; font-style: italic; text-align:center; clear:both;">
	     Last Update: {{ post.update_date }} by
         {% if post.author.id %}
             <a href="{% url 'user_detail' post.author.id %}">{{ post.author.get_full_name }}</a>
         {% else %}
             {% if post.author.get_full_name %}
                 {{ post.author.get_full_name }}
             {% else %}
                 deleted user
             {% endif %}
         {% endif %}
	</div> <!--// end div id="last_update_text" //-->
{% endif %}