{% load cog_utils %}
<!--// START: /cog/templates/cog/post/_post_actions.html //-->
{% if post %}
	<div id="last_update_text" style="font-size: 8pt; font-style: italic; text-align:center;">
	     Last Update: {{ post.update_date }} by {{ post.author.get_full_name }}
	</div> <!--// end div id="last_update_text" //-->
        {% if request.user|canPost:post %}
        <div id="page_actions_box" style="text-align:center">
	   <hr/>
	   <a href="{% url 'post_update' post.id %}" class="changelink">&nbsp;Update {{ post.type|capfirst }}</a>&nbsp;&nbsp;
	   <a href="{% url 'doc_add' post.project.short_name.lower %}?redirect={% url 'post_add_doc' post.id %}" class="addlink">Add File</a>&nbsp;&nbsp;
           <a href="{% url 'post_add' post.project.short_name.lower %}?type={{ post.type }}&amp;parent_id={{post.id}}" class="addlink">Add Child {{ post.type|capfirst }}</a>&nbsp;&nbsp;
           {% if user|hasUserPermission:post.project %}
                {% if not post.is_predefined %}
                    <a href="{% url 'post_delete' post.id %}" class="deletelink">Delete {{ post.type|capfirst }}</a>&nbsp;&nbsp;  
                {% endif %}  
            {% endif %}   
            &nbsp;&nbsp;
            {% if post.is_private %}
	         <span class='privatelink'>&nbsp;This page is private</span>
	    {% endif %}       
        </div> <!--// end div id="page_actions_box" //-->          
    {% endif %}
{% endif %}
<!--// END: /cog/templates/cog/post/_post_actions.html //-->
	