<!--// START: /cog/templates/cog/post/_post_attachements.html //-->
{% load cog_utils %}

{% if post.docs.all %}
   <hr class="white"/>
   <div class="header_bar"> 
        <a href="" onclick="javascript:toggle_visibility('myattachments'); return false;" class="listlink">&nbsp;Attachments ({{ post.docs.all|length }})</a>
   </div> <!--// end div.header_bar //-->
   <div class="mybox" id="myattachments" style="display:none">
        <table>
            {% for doc in post.docs.all %}
                <tr>
                    <td>
                       {% if doc.is_private %}
                            <a class="privatelink" href="{{ doc.file.url }}">&nbsp;
                       {% else %}
                            <a href="{{ doc.file.url }}">
                       {% endif %}
                       {{ doc }}</a> uploaded by {{ doc.author }} on {{ doc.publication_date|date:"d M Y, H:m" }}
                       &nbsp;<a href="{% url 'doc_detail' doc.id %}" class="listlink"> Info</a>
                       {% if user|hasUserPermission:project %}
                            &nbsp;<a href="{% url 'post_remove_doc' post.id doc.id %}?redirect={{ request.path }}" class="deletelink"
                                      onclick="return urlConfirmationDialog('Delete Attachment Confirmation','Are you sure you want to remove the attachment?',this)">Delete</a>
                       {% endif %}
                       {% if doc.description %}
                          <br/>
                          <em class="message">{{ doc.description|urlizetrunc:50|linebreaksbr }}</em>
                       {% endif %}              
                   </td>
                </tr>
            {% endfor %}
        </table>  
    </div> <!--// end div id=attachments //-->
    <div id="myDialog" class="yui-skin-sam"></div><!--// end div id=myDialog //-->
{% endif %}
