<!--// START: /cog/templates/cog/post/_post_form_page.html //-->

{% load cog_utils %}

<table>
    <tr>
	<td class="col1">Author</td>
	<td>{{ request.user }}</td>
    </tr>
    <tr>
        <td class="col1" style="vertical-align: middle;"><strong>Title</strong></td>
        <td style="vertical-align: middle;">{{ form.title }}</td>
        <td style="vertical-align: middle;">{{ form.title.errors }}</td>
    </tr>
</table>
<table>
   <tr>
        <td class="col1" style="vertical-align: middle;">Label</td>
        <td style="width:200px;">{{ form.label }}</td>
	<td style="vertical-align:middle;">&nbsp; <em class="message">Optional shorter label for left menu, max 25 characters, defaults to page title</em> {{ form.label.errors }}</td>
    </tr>
</table>
<table class="odd-color">
   <tr>
        <td class="col1" style="vertical-align: middle;">
           <strong>URL</strong>
        </td>
        <td style="max-width:300px; vertical-align:middle;" nowrap="nowrap">
             /projects/{{project.short_name|lower }}/
        </td>
        <td style="width:300px; vertical-align: middle;">
            {{ form.url }}
        </td>
       {% if form.url.errors|length == 0 %}
	       <td style="width:400px;vertical-align:middle;">
              <em class="message">Use only letters, numbers, '_', '-' and '/'</em>
           </td>
       {%  else %}
           <td style="width:400px;vertical-align:middle;">
              {{ form.url.errors }}
           </td>
       {% endif %}
   </tr>
</table>
<!--// Load list of templates from /cog/forms/forms_post.py //-->
<table>
    <tr>
         <td class="col1" style="vertical-align: middle;"><strong>Template</strong></td>
         <td class="long">{{ form.template }} {{ form.template.errors }}</td>
    </tr>
</table>
<table class="odd-color">
   <tr>
          <td class="col1" nowrap="nowrap" style="vertical-align: middle;">Parent Page</td>
          <td>{{ form.parent }} </td>                
    </tr>
</table>
<table>
    <tr>
          <td class="col1" style="vertical-align: middle;"><strong>Topic</strong></td>
          <td style="width:80px; vertical-align:middle;" nowrap="nowrap">{{ form.topic }}</td>
          <td style="width:80px; vertical-align:middle;"><strong>or New Topic</strong></td>
	  <td style="width:140px;vertical-align:middle;">{{ form.newtopic }}</td>
	  <td>{{form.newtopic.errors }} {{ form.topic.errors }}</td>
   </tr>
 </table>
 <table class="odd-color">
    <tr>
          <td class="col1" nowrap="nowrap" style="vertical-align: middle;">Not Viewable?</td>
          <td style="vertical-align: middle;">{{form.is_private }}
               (<em class="message">If checked, only project members will be able to view this page.</em>)
          </td>
    </tr>
    {% if user|hasAdminPermission:project %}
    	<tr>
          <td class="col1" nowrap="nowrap" style="vertical-align: middle;">Not Editable?</td>
          <td style="vertical-align: middle;">{{form.is_restricted}}
               (<em class="message">If checked, only project administrators will be able to edit this page. 
                    If not checked, all project members can edit this page.</em>)
          </td>
    	</tr>
    {% endif %}
 <!--
    {% if form.url.value %}
    <tr>
        <td class="col1" nowrap="nowrap" style="vertical-align: middle;">Save Only Mode?</td>
        <td style="vertical-align: middle;">{{form.save_only}}
       (<em class="message">If checked, page will save only. Uncheck to publish.</em>)
            </td>
    </tr>
    {% endif %}
 -->

 <!--
 {% if form.save_only.value %}
    <tr>
        <td colspan="2">

            <div style="background-color:red;color:white; text-align: center;">SAVE ONLY MODE</div>
        </td>
    </tr>
 {% endif %}
 -->
</table>
<table>
    <tr>
        <td class="col1"><strong>Body</strong></td>
        <td>{{ form.body }} {{ form.body.errors }}</td>
    </tr>
</table>
<!--// END: /cog/templates/cog/post/_post_form_page.html //-->