<!-- form table for blog -->

<!-- immutable fields -->
{{ form.url.as_hidden }}
{{ form.template.as_hidden }}

<!-- mutable fields -->
<table>
    <tr>
	    <td valign="top">Author</td>
	    <td>{{ request.user }} </td>		          
    </tr>
    <tr>
        <td><strong>Title</strong></td>
        <td class="long">{{ form.title }} {{ form.title.errors }}</td>
    </tr>
    <tr>
          <td nowrap="nowrap">Parent Blog</td>
          <td>{{ form.parent }} </td>                
    </tr>
    <tr>
          <td><strong>Topic</strong></td>
          <td nowrap="nowrap">{{ form.topic }} &nbsp; <strong>or New Topic</strong>&nbsp;{{ form.newtopic }}
              {{ form.newtopic.errors }} {{ form.topic.errors }}
          </td>
     </tr>
     <tr>
        <td><strong>Body</strong></td>
        <td>{{ form.body }} {{ form.body.errors }}</td>
     </tr>
     <tr>
          <td nowrap="nowrap"><strong>Private?</strong></td>
          <td>{{ form.is_private }} &nbsp; (<em class="message">if checked, only project members will be able to view this page</em>)</td>
     </tr>    
     
</table>