<!--START: /cog/templates/cog/post/_post_form_home.html //--><!-- form table for home page -->

{% load cog_utils %}

<!-- immutable fields -->
{{ form.url.as_hidden }}
{{ form.topic.as_hidden }}
{{ form.parent.as_hidden }}

<!-- mutable fields -->
<table class="post_home">
    <tr>
      <td>Author</td>
      <td>{{ request.user }} </td>		          
    </tr>
    <tr>
        <td><b>Title</b></td>
        <td>{{ form.title }} {{ form.title.errors }}</td>
    </tr>
    <!-- allow changing of the template, except for the home page -->
    <tr>
         <td><b>Template</b></td>
         <td class="long">
         <select id="id_template" name="template">
		 	<option value="cog/post/page_template_center_right.html" 
		 	        {% if form.template.value == 'cog/post/page_template_center_right.html' %} selected="selected" {% endif %}>
		 	        Main Content, Right Widgets</option>
			<option value="cog/post/page_template_sidebar_center_right.html"
			        {% if form.template.value == 'cog/post/page_template_sidebar_center_right.html' %} selected="selected" {% endif %}>
			        Left Menu, Main Content, Right Widgets</option>
		 </select>
         {{ form.template.errors }}
         </td>
    </tr>
    <tr>
          <td nowrap="nowrap">Not Viewable ?</td>
          <td>{{ form.is_private }} &nbsp; (<i>If checked, only project members will be able to view this page.</i>)
          </td>                      
    </tr>  
    {% if user|hasAdminPermission:project %}
	    <tr>
	          <td nowrap="nowrap">Not Editable ?</td>
	          <td>{{ form.is_restricted }} &nbsp; (<i>If checked, only project administrators will be able to edit this page. 
	                                               If not checked, all project members can edit this page.</i>)</td>                      
	    </tr>   
    {% endif %}
    <tr>
        <td style="vertical-align:top;"><b>Body</b></td>
        <td>{{ form.body }} {{ form.body.errors }}</td>
    </tr>
    
</table>