<!-- page body -->
{% load cog_utils %}

<p/>
{% autoescape off %}

    <div id="cog_post_body">
        {{ post.body }}
    </div> <!-- /#cog_post_body -->
    
    <!-- include action links -->
    {% include 'cog/post/_post_actions.html' %}
    
    <!-- social media buttons -->
	<div style="text-align:center; padding-top: 4px; padding-bottom:8px;">
		 {% include 'cog/common/cog_social_media.html' %} 
	</div>	
        	
	<!-- Comments -->
    {% with post.url as next_view %}
	    {% with post as object %}
	        {% include 'cog/common/_comments.html' %}
	    {% endwith %}
    {% endwith %}
    
    <!-- Attachments -->  
    {% include 'cog/post/_post_attachements.html' %}
    
    <!-- Hierarchy -->
    {% with related_pages as related_posts %}
		{% include 'cog/post/_post_hierarchy.html' %}
	{% endwith %}
    
    <!-- include signals, if available -->
    {% include 'cog/project/_project_signals.html' %}
           	
{% endautoescape %}