{% extends "cog/common/layout_left_center.html" %}


{% block extrahead %}
<!--// begin styles for _post_form_home.html //-->
<!--// note: don't include scoped for this style because it is used one template down //-->
   <style type="text/css">
      table.post_home td{
      vertical-align:middle;
      }
   </style>

<!--// begin styles for _post_form_page.html //-->
<!--// note: don't include scoped for this style because it is used one template down //-->
   <style type="text/css">
     td.col1{
         width:    75px;
         min-width:75px;
         vertical-align: middle;
     }

   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       td.col1{
           vertical-align:bottom;
       }
   }
   </style>
{% endblock %}

{% block main %}
    {{ form.media }}
    
    {% load cog_utils %}
    
    <!-- display lock -->
	{% if lock %}
		<div class="warning">
			Your lock on this page expires at {{ lock.get_expiration|date:"Y-m-d H:i:s" }}.
			To renew the lock, please submit the page and update it again.
		</div>
	{% endif %}


	* indicates a required field
	<div class="mybox">
		<form action="" method="post">
		    
		    {% csrf_token %}
		    
		    <!-- hidden fields carry immutable properties -->
		    {{ form.project.as_hidden }}
		    {{ form.type.as_hidden }}
		    {{ form.is_home.as_hidden }}
		    {{ form.version.as_hidden }}
		    
		    		    
		    <!-- TYPE_PAGE -->
		    {% if form.instance.type == 'page' %}
		      {% if form.instance.id and form.instance.is_predefined %}
		          <!-- if page exists already and is predefined, only some fields are mutable -->
		          {% include 'cog/post/_post_form_home.html' %}
		      {% else %}
		          <!-- otherwise all fields are mutable -->
		          {% include 'cog/post/_post_form_page.html' %}
		      {% endif %}
		    {% endif %}
		    
		    <!-- TYPE_NOTES -->
		    {% if form.instance.type == 'notes' %}
		          {% include 'cog/post/_post_form_notes.html' %}
		    {% endif %}
		    
		    
		    <!-- TYPE_BLOG -->
		    {% if form.instance.type == 'blog' %}
		          {% include 'cog/post/_post_form_blog.html' %}
		    {% endif %}
		    
		    <!-- update to existing form -->
			{% if form.instance.id %}
				<!-- must resubmit attachments as hidden fields (only if the post has been saved already to the database) -->
			    {% for doc in form.instance.docs.all %}
	                <input type="hidden" name="docs" value="{{doc.id}}"/>
	            {% endfor %}
	            
	            <!-- must resubmit the page order as hidden field -->
	            <input type="hidden" name="order" value="{{form.instance.order}}"/>
	            
            {% endif %}
            
            <div style="text-align:right">
            <!--
                {% if form.save_only.value %}
                     <input type="submit" value="Submit" />
                {% else %}
            -->
                    {% if form.instance.id %}
                        <input type="reset" value="Cancel" onclick="self.location='{% url 'post_cancel' form.instance.id %}'"/>
                    {% else %}
                        <input type="reset" value="Cancel" onclick="self.location='{% url 'project_home' project.short_name.lower %}'"/>
                    {% endif %}
                    &nbsp; <input type="submit" value="Submit" />
            <!--
                {% endif %}
            -->
            </div>

		</form>

	</div>

{% endblock %}
