{% extends "cog/common/layout_center.html" %}

{% block main %}
    {% load cog_utils %}
    {% url post_list as url %}
    {% load comments %}
    {% load pagination_tags %}
    {% autopaginate object_list 50 %}

                
    <div class="mybox">
	    <table>
	        <caption>
		        {{ list_title }}
	            <span style="float: right;">Sort by:
	                <a href="{{ url }}?type={{request.GET.type}}&amp;sortby=title&amp;query=
	                {{request.GET.query}}">Title</a> |

	                <a href="{{ url }}?type={{request.GET.type}}&amp;sortby=date&amp;query=
	                {{request.GET.query}}">Date</a>  |

		            <a href="{{ url }}?type={{request.GET.type}}&amp;sortby=topic&amp;query=
		            {{request.GET.query}}">Topic</a>
	            </span>
	            &nbsp;
	        </caption>
	        <tr>
	            <th><strong>#</strong></th>
	            <th><strong>Title</strong></th>
	            <th><strong>Author</strong></th>
	            <th><strong>Update Date</strong></th>
	            <th><strong>Topic</strong></th>
	            <th><strong># Comments</strong></th>
		        {% if request.user|hasAdminPermission:project %}
		            <th><strong>Delete?</strong></th>
		        {% endif %}

	        </tr>
			{% for object in object_list %}
			   {% get_comment_count for object as comment_count %}
			   <tr>
			      <td valign="top">{{ page_obj.start_index|add:forloop.counter|add:-1}}</td>
			      <td valign="top"><strong><a href="{% url 'post_detail' object.id %}">{{ object.title }}</a></strong></td>
			      <td valign="top" align="left">{{ object.author }} </td>
			      <td valign="top">{{ object.update_date|date:"d M Y, H:m" }} </td>
			      <td valign="top">{{ object.topic }} </td>
			      <td valign="top" nowrap="true">{{ comment_count }} Comment{{ comment_count|pluralize }} </td>
				  {% if request.user|hasAdminPermission:project %}
			          <td valign="top">
                          <!-- only Admins can delete posts -->
			      	      {% if not post.is_predefined %}
                              <a href="{% url 'post_delete' object.id %}" class="deletelink">Delete</a>&nbsp;&nbsp;
                          {% endif %}
					  </td>
			      {% endif %}
			   </tr>
			{% endfor %}
		</table>
	</div>
	
	{% paginate %}	
		
{% endblock %}
