{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %} 

    <!-- COG custom filters --> 
    {% load cog_utils %}
    
    {% if project|projectNews|length == 0 %} 
    
    	<p>This project has no news.</p>
    
    {% else %}

	    {% load pagination_tags %}
	    {% autopaginate project_news 10 %}
	    
	    {% for news in project_news %}
	
		    <div class="mybox">
			    <table>
			       <caption>{{news.project.short_name}}: {{ news.title }}</caption>
			        <tr>
			           <td class="long"> {{ news.text|urlize }} </td>
			        </tr>	        
			        <tr>
			          <td>
			          	<i>{{news.update_date|date:"SHORT_DATETIME_FORMAT"}} by {{ news.author }}</i>
			          	{% if user|hasUserPermission:news.project %}
	                  		<div style="float:right">
	                    	     &nbsp;<a href="{% url news_update news.id %}" class="changelink">Update</a>
	                    	     &nbsp;<a href="{% url news_delete news.id %}" class="deletelink">Delete</a>
	                    	</div>
	                    {% endif %}
			          </td>
			        </tr>
			    </table>
		    </div>
	    
	      {% endfor %}
	    
	    {% paginate %}
    
    {% endif %}

{% endblock %}