{% extends "cog/common/layout_sidebar_center.html" %}

{% block extrahead %}

	<script type="text/javascript">
	//<![CDATA[

		// function to toggle the state of a set of checkboxes
		// according to a master checkbox
		function toggle_projects(cb) {
			var name = cb.name;
			var checked = cb.checked;
			var inputs = document.getElementsByTagName("input");
			for (var i = 0; i < inputs.length; i++) {
				if (inputs[i].type == "checkbox") {
					if (inputs[i].name.indexOf(name)>=0) {
						inputs[i].checked = checked;
					}
				}
			}
		}

	//]]>
	</script>

	<style type="text/css">

	    #parent_projects ul, #peer_projects ul, #child_projects ul {
		    margin: 0;
		    padding: 0;
		    padding-left: 18px; /* indent checkbox */
		    list-style-type: none;
		}

	</style>

{% endblock %}

{% block main %}

    {% load cog_utils %}

    Please note: this form is to be used for ONE news item at a time.
    <br/>&nbsp;

    <div class="mybox">
        <form action="" method="post">

            {% csrf_token %}
            <table>
                <tr>
                    <td><b>Title</b></td>
                    <td>{{ form.title }} {{ form.title.errors }}</td>
                </tr>
                <tr>
                    <td><b>Text</b></td>
                    <td>{{ form.text }} {{ form.text.errors }}</td>
                </tr>

                <tr>
                    <td><b>Author</b></td>
                    <td>
                        {{ request.user }}
                        <input type="hidden" name="author" value="{{request.user.id}}"/>
                    </td>
                </tr>
                 <tr>
                    <td style="vertical-align:top;"><b>Publish to</b></td>
                    <td>
                    	<!-- this project -->
                        {{ form.instance.project }}
                        <input type="hidden" name="project" value="{{form.instance.project.id}}"/>
                        <br/>
                        <!-- parent projects -->

                        <input type="checkbox" id="parent_project" name="parent_project" onclick="toggle_projects(this)">
                            <label for="parent_project"><b>Parent Projects</b></label>
                        <div id="parent_projects">{{ form.parent_projects }}</div>

                        <!-- peer projects -->
                        <input type="checkbox" id="peer_project" name="peer_project" onclick="toggle_projects(this)">
                             <label for="peer_project"><b>Peer Projects</b></label>
                        <div id="peer_projects">{{ form.peer_projects }}</div>

                        <!-- child projects -->
                        <input type="checkbox" id="child project" name="child_project" onclick="toggle_projects(this)">
                             <label for="child project"><b>Child Projects</b></label>
                        <div id="child_projects">{{ form.child_projects }}</div>

                    </td>
                </tr>
            </table>
            <div style="text-align:right">
                <input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name.lower %}'"/>
                <input type="submit" value="Submit" />
            </div>
         </form>

    </div>

{% endblock %}