{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %} 

    <!-- COG custom filters --> 
    {% load cog_utils %}
    
	    <div class="mybox">
		    <table>
		       <caption>{{news.project.short_name}}: {{ news.title }}</caption>
		        <tr>
		           <td class="long"> {{ news.text|urlize|linebreaks }} </td>
		        </tr>	        
		        <tr>
		          <td>
		          	<i>{{news.update_date|date:"SHORT_DATETIME_FORMAT"}} by {{ news.author }}</i>
		          	<!-- links to update, delete the news -->
                    {% if user|hasUserPermission:news.project %}
                  		<div style="float:right">
                    	     &nbsp;<a href="{% url news_update news.id %}" class="changelink">Update</a>
                    	     &nbsp;<a href="{% url news_delete news.id %}" class="deletelink">Delete</a>
                    	</div>
                    {% endif %}		          
		          </td>
		        </tr>
		    </table>
	    </div>
  
        <p/>
        <a href="{% url news_list project.short_name.lower %}">More Project News &raquo;</a>    

{% endblock %}