{% extends "cog/common/layout_center.html" %}

{% block main %}
    <!-- limit visibility to node administrators -->
    {% if request.user.is_staff %}
    
        {% load pagination_tags %}
        {% autopaginate project_list 10 %}
    
	    <div class="mybox">
		    <table>
		        <caption>
		           Project List
		        </caption>
                <tr>
                    <th class="white" scope="col">Name</th>
                    <th class="white" scope="col">Status</th>
                    <th class="white" scope="col">Update?</th>
                    <th class="white" scope="col">Delete?</th>
                </tr>

		        {% for project in project_list %}
			        <tr>
			           <td class="long"><a href="{% url 'project_home' project.short_name.lower %}">{{ project }} &raquo;</a></td>
			           <td nowrap="true" style="text-align: center">
			               {% if project.active %}
			                   Active
			               {% else %}
			                   Not Active
			               {% endif %}
			           </td>
			           <td nowrap="true"><a href="{% url 'project_update' project.short_name.lower %}" class="changelink">Update &raquo;</a></td>
			           <td nowrap="true"><a href="{% url 'project_delete' project.short_name.lower %}" class="deletelink">Delete &raquo;</a></td>
			        </tr>
		        {% endfor %}   
		    </table>
	    </div>
        {% paginate %}
    {% endif %}
{% endblock %}