{% extends "cog/common/layout_center.html" %}
<!--begin system users template-->
{% block main %}

   {% load cog_utils %}
	{% url admin_users as url %}



<p>Below is the users with an account on this node. Click on the name to visit their profile (includes home node). Click
	on the email to contact the user. Sort by "Last Login" to find stale accounts.  </p>
       <!-- pad left margin by 2px beyond half to account for invisible right margin around button -->
       <table style="margin-left:183px; width:778px;">
           <tr>
               <td>
                   <form name="lookupUserForm" action="" method="post">
                   	    {% csrf_token %}
                        <label for="match" style="width:70%; vertical-align: middle;">Lookup user by
	                        <strong>User Name</strong>, <strong>First Name</strong>, <strong>Last Name</strong>,
	                        <strong>Email</strong>, or <strong>Year Joined:</strong></label>
                        <input style="vertical-align: middle; width:30%;" type="text" alt="text" name="match" id="match" value="{{request.POST.match}}" />
	   		            <input style="vertical-align: middle;" type="submit" value="Submit"/>
	   		            <input style="vertical-align: middle;" type="button" value="Reset" onclick="window
				                .location='{{ request.path }}'"/>
                   </form>
               </td>
           </tr>
       </table>

   {% with users as results_page %}
   		{% include 'cog/common/_pagination.html' %}
   {% endwith %}

   <div class="mybox">
        <table>
            <caption>
	            System Users
                <span style="float: right;">
	                Sort by:
	                <a href="{{ url }}?sortby=email&amp;query={{request.GET.query}}">Email</a> |
	                <a href="{{ url }}?sortby=last_login&amp;query={{request.GET.query}}">Last
	                Login</a> |
	                <a href="{{ url }}?sortby=last_name&amp;query={{request.GET.query}}">Last
	                Name</a>
                </span>

            </caption>
            <!-- <br/> tags in table are to align text to the bottom -->
            <tr>


                <th scope="col" class="white"><strong>Identifying Info</strong></th>
                <th scope="col" class="white"><strong>Email</strong></th>
                <th scope="col" class="white"><strong>Home</strong></th>
	            <th scope="col" class="white"><strong>Date Joined</strong></th>
                <th scope="col" class="white"><strong>Last Login</strong></th>
                <th scope="col" class="white"><strong>Delete Account</strong></th>
            </tr>
            {% for user in users %}

                <tr>
                    {% if user.last_name %}
                        <td>
                            <a href="{% url 'user_detail' user.id %}">{{ user.last_name }}</a> |
                            <a href="{% url 'user_detail' user.id %}">{{ user.first_name }}</a> |
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{% url 'user_detail' user.id %}">{{ user.profile.openids }}</a> |
                        </td>
                    {% endif %}

                    <td><a href="{% url 'user_detail' user.id %}">{{ user.username }}</a></td>
                    <td>{{ user.profile.site.name }}</td>
	                <td>{{ user.date_joined|date:'m/j/Y'}}</td> <!--mm/dd/yy-->
                    <td>{{ user.last_login|date:'m/j/Y' }}</td>
                    <td><a href="{% url 'user_delete' user.id %}" class="deletelink"> Delete</a></td>
                </tr>
            {% endfor %}
        </table>
   </div>
   <div style="float:right;"><input type="reset" value="Cancel" onclick="self.location='/'"/></div>
   <div id="myDialog" class="yui-skin-sam"></div>

{% endblock %}