{% extends "cog/common/layout_center.html" %}

{% block main %}
    <!-- limit visibility to node administrators -->
    {% if request.user.is_staff %}
    
	    <table style="margin-left:375px; width:390px;">
           <tr>
               <td>
                   <form name="lookupProjectForm" action="" method="post">
                   	    {% csrf_token %}
                        <label for="match" style="width:60%; vertical-align: middle;">Lookup project by <strong>Name</strong>:</label>
                        <input style="vertical-align: middle; width:30%;" type="text" name="match" id="match" value="{{request.POST.match}}" />
	   		            <input style="vertical-align: middle;" type="submit" value="Submit"/>
	   		            <input style="vertical-align: middle;" type="button" value="Reset" onclick="window.location='{{ request.get_full_path }}'"/>
                   </form>
               </td>
           </tr>
       </table>
    
	    <div class="mybox">
		    <table>
		        <caption>
		           Project List
		        </caption>
                <tr>
                    <th class="white" scope="col"><strong>Name</strong></th>
                    <th class="white" scope="col"><strong>Status</strong></th>
                    <th class="white" scope="col"><strong>Update?</strong></th>
                    <th class="white" scope="col"><strong>Delete?</strong></th>
                </tr>

		        {% for project in project_list %}
			        <tr>
			           <td class="long"><a href="{% url 'project_home' project.short_name.lower %}">{{ project }} &raquo;</a></td>
			           <td nowrap="true" style="text-align: center">
			               {% if project.active %}
			                   Active
			               {% else %}
			                   Not Active
			               {% endif %}
			           </td>
			           <td nowrap="true"><a href="{% url 'project_update' project.short_name.lower %}" class="changelink">Update &raquo;</a></td>
			           <td nowrap="true"><a href="{% url 'project_delete' project.short_name.lower %}" class="deletelink">Delete &raquo;</a></td>
			        </tr>
		        {% endfor %}   
		    </table>
	    </div>
        {% with project_list as results_page %}
        	{% include 'cog/common/_pagination.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}