{% extends "layouts/_layout_desktop.html" %}
<!-- don't put comments above the extends or it ends up above the doctype. This throws IE into quirks mode -->

{% block body %}

    <!--// LAYOUT: /layouts/layouts/layout_main.html //-->
    <!--//extends layouts/layout_base.html -->

    <div class="span-max last">
        {% block title %} <h1 class="title"> {{ title }} </h1> {% endblock %}
    </div> <!--// closing div.span-max last //-->

    <!--load block main-->
    <div class="span-max last">
         {% block main %} Main content {% endblock %}
    </div> <!--// closing div.span-max last //-->
   <!--//END: /layouts/templates/layouts/layout_main.html-->
{% endblock %}