<!DOCTYPE html>
<!--// LOCATION: /layouts/templates/layouts/layout_base.html //-->
<!--// START: /layouts/templates/layouts/layout_base.html //-->
<!--// <html xmlns="http://www.w3.org/1999/xhtml">  //-->


<html>
<!--creates classes for the various versions of internet explorer. These are then used in the CSS to fix specific issues-->
<!--[if lt IE 7 ]>   <html class="ie6">  <![endif]-->
<!--[if IE 7 ]>      <html class="ie7">  <![endif]-->
<!--[if IE 8 ]>      <html class="ie8">  <![endif]-->
<!--[if IE 9 ]>      <html class="ie9">  <![endif]-->
<!--[if IE 10 ]>     <html class="ie10"> <![endif]-->
<!--[if IE 11 ]>     <html class="ie11"> <![endif]--> 

 <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=9"> <!--required to get IE out of quirks mode-->

        <!--// add meta-tag "title" //-->
        <title>{% block head_title %} {{ title|removetags:"h2"|safe }} {% endblock %}</title>
            
        <!--// consider removing these all together //-->
        <!--// <link type="text/css" rel="stylesheet"  media="screen, projection" href="{{MEDIA_URL}}css/blueprint/screen.css"/> //-->
        <!--// <link type="text/css" rel="stylesheet"  media="print" href="{{MEDIA_URL}}css/blueprint/print.css"/> //-->

        <!--// CSS for grid layout //-->
        <link type="text/css" rel="stylesheet"  media="screen, projection" href="{{MEDIA_URL}}css/blueprint/src/reset.css"/> 
        <link type="text/css" rel="stylesheet"  media="screen, projection" href="{{MEDIA_URL}}css/blueprint/src/grid.css"/>
        <link type="text/css" rel="stylesheet"  media="screen, projection" href="{{MEDIA_URL}}css/blueprint/src/typography.css" />

        <!-- [if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif] -->

        <!--// Load head section from template. Contains CSS //-->
        {% block head %}{% endblock %}

        <!--// loading CoG-specific styles. Needs to be last //-->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}cog/css/cogstyle.css" />

       <!--// hooks for page-specific head content //-->
       <!--// do we need this section?? //-->
        {% block extrahead %}{% endblock %}
        {% block extrastyle %}{% endblock %}
 </head>
    
  <body>
   <!--<div class="content_wrapper">-->
    <div class="custom_header_bar">
       <!--Load block custom_header from various templates -->
       {% block custom_header %} {% endblock %}
    </div> <!--// end div.custom_header //-->
      
    <hr style="background:#333;margin:0px;padding:0px;"/>
      

         <div class="container"> <!--// django class //-->
	   <!--Load block header from various templates-->
	    {% block header %} {% endblock %}
	 
           <!--Load block body from various templates -->
            {% block body %} {% endblock %}
	 
	  <!--Load block footer from various templates -->
           {% block footer %} {% endblock %}
       </div> <!--// end div.container //-->
 
 <!--</div> <!--// end div.content_wrapper //-->

 	<div class="custom_footer_bar">
           <!--Load block custom_footer from various templates -->
           {% block custom_footer %} {% endblock %}
        </div> <!--// end div.custom_footer_bar //-->
   

     
  </body>
    
</html>
<!--END: /layouts/templates/layouts/layout_base.html-->	