{% extends "layouts/layout_base.html" %}

{% block body %}
	<!--EXTENDS: /layouts/templates/layouts/layout_base.html-->
	<!--LAYOUT: /layouts/templates/layouts/layout_sidebar_main.html-->
        
    <div class="span-4">
         {% block left %} &nbsp; {% endblock %}
    </div>
    <div class="span-23">
         {% block title %} <h1 class="title">{{ title }}</h1> {% endblock %}
         {% block main %} &nbsp; {% endblock %}
    </div>
    <div class="span-4 last">
         {% block right %} &nbsp; {% endblock %}
    </div>

{% endblock %}