<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <title>{% block title %} {{ title }} {% endblock %}</title>
            
        <!-- BluePrint CSS (without Grid) -->
        <link rel="stylesheet" href="{{STATIC_URL}}css/blueprint/src/reset.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{STATIC_URL}}css/blueprint/src/typography.css" type="text/css" media="screen, projection">
        
        <!--  Django admin CSS --->
        {% block style %}
            <link rel="stylesheet" type="text/css" href="{STATIC_URL}}cog/css/cogstyle.css" />
        {% endblock %}
   
        {% block head %}{% endblock %}
    
    </head>
    
    <body style="padding:5px">
        <!-- no header -->
        {% block body %}{% endblock %}
        <!-- no footer -->
    </body>
    
</html>