{% extends "cog/common/layout_center.html" %}

{% block main %}

   {% load cog_utils %}
   {% load pagination_tags %}
   {% autopaginate users 50 %}
         
   {% if request.GET.status == 'success' %}
	   <p class="message-box">
	       Your changes have been submitted. The updated {{ project.short_name }} membership list is displayed below.
	   </p>
   {% else %}
       <p class="instruction-box">
            Use the check-boxes below to assign or change the role of a user.
            <br>
            Click on Cancel Membership to remove a user from the project.
       </p>
       <p>
            The <b>User Group</b> grants permissions to: create or edit any content in the project workspace (except for the home page),
            send news, and comment on any page.
            <br/> 
            The <b>Admin Group</b> grants additional permissions to: change the project home page,
            delete any page or blog in the project workspace (except for the predefined project pages),
            enroll users in the project, create a child project, or delete the project altogether.
       </p>
   {% endif %}

   {% csrf_token %}

       <table style="margin-left:125px; width:700px;">
           <tr>
               <td>
                   <form name="lookupUserForm" action="" method="post">
                        <label for="match" style="width:60%; vertical-align: middle;">Lookup user by <b>User Name</b>, <b>First Name</b>, <b>Last Name</b>, or <b>Email</b>:</label>
                        <input style="vertical-align: middle; width:40%;" type="text" name="match" id="match" value="{{request.POST.match}}" />
	   		            <input style="vertical-align: middle;" type="submit" value="Submit"/>
                   </form>
               </td>
           </tr>
       </table>



   
   {% paginate %}
    
   <form name="membershipForm" action="{% url 'membership_process' project.short_name|lower %}" method="post"> 
       {% csrf_token %}
       
       <!-- pass through the current view name for eventual redirection -->
       <input type="hidden" name='view_name' value='{{view_name}}'/>
       
	   <div class="mybox">
	        <table>
	            <caption>{{ list_title }}</caption>
	            <!-- <br/> tags in table are to align text to the bottom -->
	            <tr>
	                <td class="tophead">&nbsp;<br/>Last Name</td>
	                <td class="tophead">&nbsp;<br/>First Name</td>
	                <td class="tophead">&nbsp;<br/>User Name</td>
	                <td class="tophead">&nbsp;<br/>Email</td>
                    <td style="text-align: center;"><b>User<br/>Group</b></td>
	                <td style="text-align: center;"><b>Admin<br/>Group</b></td>
	                <td style="text-align: center;"><b>Cancel<br/>Membership</b></td>

	            </tr>
	            {% for user in users %}
	                <tr>
	                    <td><a href="{% url 'user_detail' user.id %}">{{ user.last_name }}</a></td>
	                    <td><a href="{% url 'user_detail' user.id %}">{{ user.first_name }}</a></td>
	                    <td><a href="{% url 'user_detail' user.id %}">{{ user.username }}</a></td>
	                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <!-- encode HTTP parameters for new and old membership in users group -->
	                    <td style="text-align:center">
	                       {% with user|isEnrolled:project.getUserGroup as isEnrolled %}
	                           <input type='checkbox' name='{{ project.getUserGroup|newMembership:user}}' 
	                                  {% if isEnrolled %} checked="checked" {% endif %} />
	                           {% if isEnrolled %}
	                               <input type='hidden' name='{{ project.getUserGroup|oldMembership:user}}' value="on"/>
	                           {% endif %}
	                       {% endwith %}
	                    </td>
	                    <!-- encode HTTP parameters for new and old membership in admins group -->
                        <td style="text-align:center">
                           {% with user|isEnrolled:project.getAdminGroup as isEnrolled %}
                               <input type='checkbox' name='{{ project.getAdminGroup|newMembership:user}}' 
                                      {% if isEnrolled %} checked="checked" {% endif %} />
                               {% if isEnrolled %}
                                   <input type='hidden' name='{{ project.getAdminGroup|oldMembership:user}}' value="on"/>
                               {% endif %}
                           {% endwith %}
                        </td>
                        <td style="text-align:center">
                            <a class="deletelink" 
                               href="{% url 'membership_process' project.short_name|lower %}?{{project.getUserGroup|noMembership:user}}=on&{{ project.getAdminGroup|noMembership:user}}=on&view_name={{view_name}}"
                               onclick="return urlConfirmationDialog('Cancel Membership Confirmation','Are you sure you want to remove this user from the group?',this)">Cancel</a>
                        </td>
	                </tr>
	            {% endfor %}
	            
	        </table>
	   </div>
	   <div style="float:left"><input type="reset" value="Cancel" onclick="self.location='{% url 'project_home' project.short_name.lower %}'"/></div>
	   <div style="float:right"><input type="submit" value="Submit"/></div>
	   <div id="myDialog" class="yui-skin-sam"></div>
   </form>   

{% endblock %}