{% extends "cog/common/layout_left_center_right.html" %}

{% block main %}
    
    <!-- display submission form -->
    {% if request.method == "GET" %}
           
        <div class="instruction-box">
	       <p>Thank you for your interest in joining the {{ project.short_name }} project. </p>
           <p>**** You do not need to join this project to search for or download data. **** <br><br>
              **** You do not need to join this project to view public information. **** <br>
           <br>
           In general, project membership allows you to:</p>

	       <div style="margin-left:auto; margin-right:auto; margin-bottom: 1.5em; width:260px;">
              <ul style="text-align:left;margin:0;">
                 <li>Modify editable wiki pages.</li>
		         <li>View private projects.</li>
		         <li>View member-only pages on a public project.</li>
		      </ul>
           </div>
		

	       <p>If you still wish to join the {{ project.short_name }} project, click on the button below. <br> The project administrator will be notified of your request.</p>
		
	           <form method="post" action="">
	              {% csrf_token %}
	              <input type="submit" value="Join"/>
	           </form>
        </div>
    
    
    <!-- display confirmation -->
    {% else %}
    
	    <div class="message-box">
		   Thanks for your interest in joining the {{ project.short_name }} project.
		
			<!-- Membership just requested -->
			{% if status == "SUCCESS" %}
			    
			    <br/>Your request for membership has been received, 
			    <br/>and will be reviewed by the project administrators as soon as possible.
			    <br/>You will be notified of the administrators' decision by email.
			
			<!-- Membership was already requested -->
			{% else %}
			
			    <br/>Your request for membership <span style="text-decoration:underline">has already been submitted</span>, 
			    <br/>and will be reviewed by the project administrators as soon as possible.
			    
			{% endif %}
		
	    </div>
	    
    {% endif %}
    
{% endblock %}