/*
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}

#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}
#ttcont {
    display:      block;
    padding:      3px 2px 3px 10px;
    background:   darkred;
    color:        #666666;
    [top-left] [top-right] [bottom-right] [bottom-left]

    border-radius: 10px 0px 0 10px ;
    display: inline;
}

#tt {position:absolute; display:block; background:url(images/tt_right.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

*/


.arrow-right {
	width:         0; /* must stay 0 */
	height:        0;
	border-top:    8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left:   12px solid #f2e886;  /* making this item longer makes the pointer grow towards the left */
}
