<!-- 
    Template snippet for object pagination 
    @param results_page: a page returned by the Paginator object
-->

<!-- pagination -->

{% load cog_utils %}

<div class="pagination">
	Total Number of Results: {{ results_page.paginator.count }}, &nbsp;
	
	{% if results_page.has_previous %}
	    <a href="{{ request|pagination_url:results_page.previous_page_number }}">&#171; Previous |</a>
	{% endif %}
	
	<span class="current">
	    Showing Results: {{ results_page.start_index }} - {{ results_page.end_index }}
	</span>
	
	{% if results_page.has_next %}
	    <a href="{{ request|pagination_url:results_page.next_page_number }}">| Next &#187;</a>
	{% endif %}
</div>