<!-- Peer Nodes widget -->

{% load cog_utils %}

<div class="peer_nodes_box">

	<div class="right_widget_header">
	    <span style="vertical-align: middle;">
	        Federated ESGF-CoG Nodes
	    </span>
    </div>
	<div class="peer_nodes_box_body">
	    {% if project|get_peer_sites %}
		    {% for peer in project|get_peer_sites %}
		        {% if forloop.counter > 1 %}<br/>{% endif %}
			        <a href="http://{{ peer.domain }}/">{{ peer.name }}</a>
	   		{% endfor %}
	    {% else %}
			Not federated with any nodes.
	    {% endif %}
	</div>

</div>