<!-- 
    Template snippet for search
    #@param object_type : mandatory results type
    @param url : mandatory search results url
    @param query: optional previous query string
    @param topic_list : optional list of topics for sub-selection
    @param topic : optional currently selected topic
-->
<!--LOCATION:/cog/templates/cog/common/_search.html-->
 
<div class="box-colored">
    
    <form action="{{ url }}" method="GET" id="searchForm">
    
        <input type="hidden" name="type" value="{{ request.GET.type }}"/>
    
        <!-- text box -->
        <table>
           <tr>
            <td style="vertical-align:middle;" nowrap="nowrap"> <img src="{{STATIC_URL}}/cog/img/icon_listlink.gif"></td>
	    <td style="vertical-align:middle;"><b>Search</b></td>
            <td class="long" style="vertical-align:middle;" ><input type="text" name="query" value="{{ query|escape }}">
            </td>
            <td>
            <!-- sub-select -->
	        {% if topic_list %}
	            <td sytle="vertical-align:middle;" nowrap="nowrap"><b>Select Topic</b></td> 
	            <td style="vertical-align:middle;">
		            <select name="topic">
		                <option value="">-- Any --</option>
		                {% for option in topic_list %}
		                    {% if option.name == topic %}
		                        <option value="{{option.name}}" selected='true'>{{option}}</option>
		                    {% else %}
		                        <option value="{{option.name}}">{{option}}</option>
		                    {% endif %}
		                {% endfor %}
		            </select>
	            </td> 
	        {% endif %}  
            </td>
            <!-- filter by -->
            <td nowrap="nowrap" style="vertical-align:middle;">
            	<b>Type</b>
            	<select name="filter_by" onChange="document.getElementById('searchForm').submit()">
            		<option value="All"           {% if filter_by = 'All' %}  selected="selected" {% endif %}>All Files
            		<option value="Image"         {% if filter_by = 'Image' %} selected="selected" {% endif %}>Images
            		<option value="Text"          {% if filter_by = 'Text' %} selected="selected" {% endif %}>Text
            		<option value="Presentation"  {% if filter_by = 'Presentation' %} selected="selected" {% endif %}>Presentations
            		<option value="Program"       {% if filter_by = 'Program' %} selected="selected" {% endif %}>Programs
            	</select>
            </td>
            
            <!-- order by -->
            <td nowrap="nowrap" style="vertical-align:middle;">
            	<b>Order By</b>
            	<select name="order_by" onChange="document.getElementById('searchForm').submit()">
            		<option value="title"        {% if order_by = 'title' %}  selected="selected" {% endif %}>Title
            		<option value="-title"       {% if order_by = '-title' %} selected="selected" {% endif %}>Title (reversed)
            		<option value="-update_date" {% if order_by = '-update_date' %} selected="selected" {% endif %}>Last Update
            		<option value="update_date"  {% if order_by = 'update_date' %} selected="selected" {% endif %}>Last Update (reversed)
            	</select>
            </td>
            <td style="vertical-align:top;"><input type="submit" value="Search"></td>
           </tr>
        </table>
    </form>
</div>
&nbsp;