<!--START: /templates/cog/common/_search.html-->

<!--
    Template snippet for search
    #@param object_type : mandatory results type
    @param url : mandatory search results url
    @param query: optional previous query string
    @param topic_list : optional list of topics for sub-selection
    @param topic : optional currently selected topic
-->
<!--LOCATION:/cog/templates/cog/common/_search.html-->

<!--File search-->
 
<div class="box-colored">
    
    <form action="{{ url }}" method="GET" id="searchForm">
    
        <input type="hidden" name="type" value="{{ request.GET.type }}"/>
    
        <!-- text box -->
        <table>
           <tr>
            <td style="vertical-align:middle;" nowrap="nowrap">
                <img src="{{STATIC_URL}}/cog/img/icon_listlink.gif" alt="search">
            </td>
	        <td style="vertical-align:middle;">
                <label for="search_text"><strong>Search</strong></label>
            </td>
            <td class="long" style="vertical-align:middle;" >
                <input id="search_text" type="text" alt="search_text" name="query" value="{{ query|escape }}">
            </td>

             <!-- sub-select -->
	         {% if topic_list %}
	            <td style="vertical-align:middle;" nowrap="nowrap">
                    <label for="topic"><strong>Select Topic</strong></label>
                </td>
	            <td style="vertical-align:middle;">
		            <select id="topic" name="topic">
		                <option value="">-- Any --</option>
		                {% for option in topic_list %}
		                    {% if option.name == topic %}
		                        <option value="{{option.name}}" selected='true'>{{option}}</option>
		                    {% else %}
		                        <option value="{{option.name}}">{{option}}</option>
		                    {% endif %}
		                {% endfor %}
		            </select>
	            </td>
	         {% endif %}

            <!-- filter by -->
            <td nowrap="nowrap" style="vertical-align:middle;">
            	<label for="file_type"><strong>Type</strong></label>
            	<select name="filter_by" id="file_type" onChange="document.getElementById('searchForm').submit()">
            		<option label="All" value="All"           {% if filter_by == 'All' %}  selected="selected" {% endif %}>All Files
            		<option label="Image" value="Image"         {% if filter_by == 'Image' %} selected="selected" {% endif %}>Images
            		<option label="Text" value="Text"          {% if filter_by == 'Text' %} selected="selected" {% endif %}>Text
            		<option label="Presentation" value="Presentation"  {% if filter_by == 'Presentation' %} selected="selected" {% endif %}>Presentations
            		<option label="Program" value="Program"       {% if filter_by == 'Program' %} selected="selected" {% endif %}>Programs
            	</select>
            </td>
            
            <!-- order by -->
            <td nowrap="nowrap" style="vertical-align:middle;">
            	<label for="order"><strong>Order By</strong></label>
            	<select name="order_by" id="order" onChange="document.getElementById('searchForm').submit()">
            		<option value="title"        {% if order_by == 'title' %}  selected="selected" {% endif %}>Title
            		<option value="-title"       {% if order_by == '-title' %} selected="selected" {% endif %}>Title (reversed)
            		<option value="-update_date" {% if order_by == '-update_date' %} selected="selected" {% endif %}>Last Update
            		<option value="update_date"  {% if order_by == 'update_date' %} selected="selected" {% endif %}>Last Update (reversed)
            	</select>
            </td>
            <td style="vertical-align:top;"><input type="submit" value="Search"></td>
           </tr>
        </table>
    </form>
</div>
&nbsp;
<!--END: /templates/cog/common/_search.html-->