<!--//START: /cog/templates/cog/common/_user_menu.html //-->
{% load cog_utils %}

{% if request.user.is_authenticated %}

     Welcome, <strong>{% filter force_escape %}{% firstof request.user.first_name request.user.username %}{% endfilter %}</strong>.

     <!-- display project membership -->
     {% if request.user.is_staff %}
           | You are a <strong> {{ site.name }} Site Administrator</strong>
     {% else %}
	     {% if project %}
	        {% if project|hasUserPending:request.user %}
	            | Your membership in project {{ project.short_name }} is <strong>waiting for approval</strong>
	        {% else %}
		        {% if request.user|isEnrolled:project.getAdminGroup %}
                            | You are a <strong>project administrator</strong>
		        {% else %}
		            {% if request.user|isEnrolled:project.getUserGroup %}
		                | You are a <strong>project member</strong>
		            {% else %}
		                | <a href="{% url 'membership_request' project.short_name|lower %}">Join the {{ project.short_name }} project</a>
		            {% endif %}
		        {% endif %}
		     {% endif %}
	     {% endif %}
     {% endif %}


     {% if request.user.is_staff %}
         | <a href="{% url 'admin:index' %}">Django Admin</a>
         | <a href="{% url 'admin_projects' %}">CoG Admin</a>
     {% endif %}
     | <a href="{% url 'project_add' %}">Register a New Project</a>
     | <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a>

{% else %}
     Welcome, <strong>Guest</strong>.
     | <a href="{% url 'login' %}?next={{ request.build_absolute_uri }}"> Login</a>
     <!-- | <a href="{% url 'openid-login' %}?next={{ request.build_absolute_uri }}">OpenID Login</a> -->
     | <a href="{% url 'user_add' %}?next={{ request.build_absolute_uri }}">Create Account</a>
{% endif %}
<!--//END: /cog/templates/cog/common/_user_menu.html //-->