<!--//START: /cog/templates/cog/common/_user_menu.html //-->
{% load cog_utils %}
{% load mobile %}

{% if request.user.is_authenticated %}

     Welcome, <strong>{% filter force_escape %}{% firstof request.user.first_name request.user.username %}{% endfilter %}</strong>.

     <!-- display project membership -->
     {% if request.user.is_staff %}
           | You are a <strong> {{ site.name }} Node Administrator</strong>
     {% else %}
	     {% if project %}
	        {% if project|hasUserPending:request.user %}
	            | Your membership in project {{ project.short_name }} is <strong>waiting for approval</strong>
	        {% else %}
		        {% if request.user|isEnrolled:project.getAdminGroup %}
                            | You are a <strong>project administrator</strong>
		        {% else %}
		            {% if project|hasUser:request.user %}
		                | You are a <strong>project member</strong>
		            {% else %}
		                | <a href="{% url 'membership_request' project.short_name|lower %}">Join the {{ project.short_name }} project</a>
		            {% endif %}
		        {% endif %}
		     {% endif %}
	     {% endif %}
     {% endif %}

     | <a href="{% url 'project_add' %}">Register a New Project</a>
     | <a href="{% url 'user_profile_redirect' request.user.id %}">My Profile</a>
     | <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a>


{% else %}
     Welcome, <strong>Guest</strong>.
     | <a href="{{ request|get_target_url_with_next_url:'login' }}"> Login</a>
     <!-- | <a href="{% url 'openid-login' %}?next={{ request.build_absolute_uri }}">OpenID Login</a> -->
     | <a href="{{ request|get_target_url_with_next_url:'user_add' }}">Create Account</a>
     | <a href="#" onclick="window.location='{{ request|delete_desktop_cookie }}'">Go Mobile</a> <!-- temporary link to toggle back to the mobile version -->
{% endif %}
<!--//END: /cog/templates/cog/common/_user_menu.html //-->