<!-- jsCIM external dependencies -->
<link href="{{ STATIC_URL }}cog/jquery/css/jquery-ui/redmond/jquery-ui-1.8.6.custom.css" media="screen" rel="stylesheet" type="text/css" />

<!-- Custom JS to invoke the CIM viewer -->
<script type="text/javascript">

        /* only load these links if the ES-DOC functionality is needed */
        var JS_PATH     = "http://static.es-doc.org/esdoc-min.js";
        var CSS_PATH    = "http://static.es-doc.org/esdoc-min.css";
        var LOADED_EXTERNAL_LINKS = 0;

        /* loads the CIM libraries only once */
        /* runs a callback_fn _after_ the libraries have loaded */
        function load_cim_libraries(callback_fn) {

            if (LOADED_EXTERNAL_LINKS==0) {

                var js_link = document.createElement("script");
                js_link.setAttribute("type","text/javascript");
                js_link.setAttribute("src",JS_PATH);

                var css_link = document.createElement("link");
                css_link.setAttribute("type","text/css");
                css_link.setAttribute("rel","stylesheet");
                css_link.setAttribute("media","screen");
                css_link.setAttribute("href",CSS_PATH)

                var first_script = document.getElementsByTagName("script")[0]
                if (callback_fn) {
                    /* check to see which fns are supported (IE is often non-standard) */
                    if (!js_link.addEventListener) {
                        js_link.attachEvent("onload",
                            function() {
                                callback_fn();
                            }
                        );
                    }
                    else {                   
                        js_link.addEventListener("load",
                            function() {
                                callback_fn();
                            },
                            false);
                    }
                }
                first_script.parentNode.insertBefore(css_link,first_script);
                first_script.parentNode.insertBefore(js_link,first_script);

                LOADED_EXTERNAL_LINKS=1;

            }
            else if (callback_fn) {
                callback_fn();
            }
            
        }

	// function triggered by clicking on a ESDOC dataset link
	function onDatasetClicked(project, dataset) {
            load_cim_libraries(function() {
                ESDOC.viewer.renderFromExternalID( {
                    project : project,
                    externalID : dataset,
                    externalType : 'dataset'
		});
            });
	}

	// function triggered by clicking on a ESDOC model link
	function onModelClicked(project, model) {
            load_cim_libraries(function() {
                ESDOC.viewer.renderFromName( {
                    project : project,
                    name : model,
                    type : 'model'
                });
            });
	}

</script>
