
<!-- jquery libraries -->
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/jquery-1.4.4.min.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/underscore-min.js'> </script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/backbone-min.js'> </script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/jquery-ui-1.8.12.custom.min.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/overlay.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/overlay.apple.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/toolbox.mousewheel.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/scrollable.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/scrollable.navigator.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/scrollable.autoscroll.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/tooltip.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/jquery.tmpl.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/jquery.livequery.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}jquery/jquery.autocomplete.js'></script>
			
<!-- CIM Viewer library -->			
<!-- <script type="text/javascript" src='http://purl.org/org/es-doc/plugins/jscim-esgf-web-fe.js'> </script> -->
<script type="text/javascript" src='{{ MEDIA_URL }}jscim/jscim-0.7.1.js'> </script>

<!-- CSS -->			
<link rel="stylesheet" href='{{ MEDIA_URL }}css/jquery/lightgray/jquery-ui-1.8.10.custom.css' type="text/css" media="screen">
<!-- <link rel="stylesheet" href='http://purl.org/org/es-doc/plugins/jscim-esgf-web-fe.css' type="text/css" media="screen, projection"> -->
<link rel="stylesheet" href='{{ MEDIA_URL }}jscim/jscim-0.7.1.css' type="text/css" media="screen, projection">

			        
			
<!-- Custom JS to invoke the CIM viewer -->
<script language="JavaScript">
    
	// function triggered by CIM link
	function onCIMLinkClicked(project, institute, model, experiment) {
		var drs_components = {'project' : project, 'institute' : institute, 'model' : model, 'experiment' : experiment};
		renderFromDRS(drs_components);
	}	
	
    // Renders a CIM instance based upon type and name.
    var renderFromDRS = function(drsMap) {
       	cim.viewer.renderFromDRS(drsMap);
    };

</script>