<!--// START: /cog/templates/cog/common/cog_footer_bar_only.html //-->

{% load cog_utils %}


<div class="footer">
    <table>
	<tr>
	  <!--// CoG sponsors //-->
	<td style="width:30%;">
	  <table>
	    <tr>
	      <td>ESGF sponsors and partners</td>
	    </tr>
	    <tr>
	      <td>
		  <a href="http://science.energy.gov/">DoE Office of Science</a> |
		  <a href="https://verc.enes.org/ISENES2">IS-ENES</a> |
                  <a href="http://www.nasa.gov">NASA</a> |
                  <a href="http://www.noaa.gov">NOAA</a> |
		<a href="http://nci.org.au/">NCI</a> |
		<a href="http://www.nsf.gov">NSF</a> 
	      </td>
	    </tr>
	   </table>
	 </td>


     <!--// CoG Version and ESGF Version (if found) //-->
	 <td style="width:30%;">
          <table >
	    <tr>
	      <td style="text-align:center;">CoG version {{ 'COG_VERSION'|settings_value }}</td>
	    </tr>
	    {% if 'ESGF_VERSION'|settings_value %} 
		    <tr>
		      <td style="text-align:center;">ESGF P2P Version {{ 'ESGF_VERSION'|settings_value }}</td>
		    </tr>
	    {% endif %}
	   </table>
	 </td>  
	 
	 <!--// ESGF sponsors //-->
	 <td style="width:30%;">

      <table>
	    <tr>
	      <td style="text-align:right;">Earth System CoG sponsors and partners</td>
	    </tr>
	    <tr>
	      <td style="text-align:right;"><a href="http://www.noaa.gov">NOAA</a> |
		  <a href="http://www.nasa.gov">NASA</a> |
		  <a href="http://www.nsf.gov">NSF</a> |
		  <a href="http://science.energy.gov/">DoE Office of Science</a> |
		  <a href="https://verc.enes.org/ISENES2">IS-ENES</a></td>
	    </tr>
	  </table>

	 </td>  
	</tr>
    </table>
  </div><!--// end div.footer //-->




