<!-- Header style -->
<style type="text/css">

#header {
    background: #FFFFFF;
    color: #ffc;
    overflow: hidden;
    height: 85px;
    margin: 0px;
    /* margin-top: 10px; */
    padding-top: 0px;
    display:block;
}

/* note: the sum of the heights of user_menu, its margin-bottom, and right_logo must equal the height of right_header */
#user_menu {
    margin-top: 0px;
    padding-top:2px;
    padding-bottom:0px;
    /* padding-right: 10px; padding-left: 10px; */
    height: 8px;
    /* margin-bottom:8px; */
    font-size: 12px;
    color: #333;
    float: right;
    display:block;
}

#project_header {

    float: left;
    background: #FFFFFF; 
    margin-top: 0px;
    height:75px; 
    padding-top: 0px;
    padding-bottom: 5px;

	color: #333;
    font-weight: bold;
	font-style: italic;
	font-size: 12pt;
	text-align: left;
	vertical-align: bottom;

}

#right_logo {
    float:right;
    background: #FFFFFF; 
    margin-top: 8px;
    height: 75px; 
    padding-bottom:5px; 
    padding-top: 14px; 
}

#right_sentence {
	margin-top:35px;
	font-weight: bold;
	font-style: italic;
	font-size: 10pt;
	text-align: left;
	color: #333;
	float:right;
}

#right_logo a:link, #right_logo a:visited {
    color: #666;
}

/* TOP NAV */
.top_nav {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    padding: 0px;
    /* padding-top: 2px; */
    /* COG STYLE: TOP NAV BACKGROUND COLOR */
    background: #FFFFFF;
    /*background: #CC3300;*/
    /*background: #84000;*/
    color: #FFFFFF;
    font-size: 9pt;
 	font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-style: normal;
}

#top_nav_left {
	padding-top: 2px;
	padding-left: 6px;
	width: 100%;
	background: #358C92;
	float:left;
}

#top_subnav_left {
	padding-top: 2px;
	padding-left: 6px;
	width: 100%;
	background: #B9E0E3;
	float:left;
}

#top_subnav_left a:link, #top_subnav_left a:visited {
    color: #666;
}


#top_nav_right {
	width: 97%;
	padding-top: 2px;
	padding-left: 6px;
	text-align: right;
	/* background: #FCE79F; */
	float: right;
}

#top_subnav {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    padding: 0px;
    /* padding-top: 2px; */
    /* COG STYLE: TOP NAV BACKGROUND COLOR */
    background: #FFFFFF;
    /*background: #CC3300;*/
    /*background: #84000;*/
    color: #FFFFFF;
    font-size: 9pt;
 	font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif;  */
    font-style: normal;
}

#top_subnav_right {
	width: 97%;
	padding-top: 2px;
	padding-left: 6px;
	text-align: center;
	/* background: #FCE79F; */
	float: center;
	color: #666;
}

.top_nav ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

.top_nav li {
    float: left;
    height: 20px;
}

.top_nav a {
    display: block;
    margin-right: 3px;    
    /* COG STYLE: TOP NAV BAR TEXT */
    text-decoration: none;   
    /* padding: top-right-bottom-left */
    padding: 2px 6px 6px 6px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

#top_nav_right a {
	color: #000000;
	/* font-weight: bold; */
}

.top_nav a:hover {
    /* background: #FFFFFF; */
    text-decoration: underline;
    /* color: 417690; */
}

#top_subnav_right a {
	display: inline;
	color: #358C92;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-size: 8.5pt;
}

</style>

{% load cog_utils %}
	
<div id="header">

	<!-- full page -->
	<div class="span-24 last">
		<div id="user_menu">
			{% include 'cog/common/_user_menu.html' %}
		</div>
	</div>

	<!-- sidebar and center -->
	<div class="span-17">
		<div id="project_header">
		
	    	{% if project.logo %}
	    		<!-- project logo -->
	    		{% if project.logo_url %}
	    			<a href="{{ project.logo_url }}">
	    				<img src="{{ project.logo.url }}" height="70px" alt="{{ project.short_name }} logo"/>
	    			</a>
	    		{% else %}
	    			<a href="{% url 'project_home' project.short_name|lower %}">
	    				<img src="{{ project.logo.url }}" height="70px" alt="{{ project.short_name }} logo" />
	    			</a>
	    		{% endif %}
	    	
	    	{% else %}
	    	
	    		<!-- project title -->
                        <div style="position:absolute; bottom:50px; left: 2px; width: 700px; ">
                            <h1 style="font-size: 18pt;">{{ project.long_name|capfirst }}</h1>
                        </div>
	    		
	    	{% endif %}      
			
			
		</div>
	</div>
	
	<!-- right column -->
	<div class="span-7 last">		
		<div id="right_logo">
	        <a href="{% url 'project_home' 'cog'%}"><img src="{{STATIC_URL}}cog/img/cog_engineer_sm.png" height="48px" alt="Earth System CoG logo"/></a>
	    </div>
	</div>
	
</div>
	    
<!-- top navigation bar -->
<div class="top_nav">
	<div class="span-19">
		<div id="top_nav_left">
			{% if project %}
			    <ul>
					{% for tablist in project|getTopNav:request %}
						{% for tab in tablist %}
							<!-- top-level tab only -->
							{% if forloop.counter == 1 %}
								<li><a href="{{ tab.1 }}" {{ tablist|getTopTabStyle:tab.2 }}>{{ tab.0 }}</a></li>
							{% endif %}
						{% endfor %}
					{% endfor %}
			    </ul>
		    {% endif %}
		</div>
	</div>
	<div class="span-5 last">
		<div id="top_nav_right">
			<ul>
				<li><a href="{% url 'project_home' 'cog' %}">What is CoG?</a></li>
				<li><a href="/projects/cog/contactus/">Site Support</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- top navigation sub-bar -->
<div class="top_nav">
	<div class="span-19">
		{% if project %}
			{% for tablist in project|getTopNav:request %}
				{% if tablist|length > 1 %}						
					<div id="top_subnav_left">					
						    <ul>							
								{% for tab in tablist %}
									<!-- sub-tabs only -->
									{% if forloop.counter > 1 %}
										<li><a href="{{ tab.1 }}" {{ tablist|getSubTabStyle:tab }}>
											<span style="color: #666">{{ tab.0 }}</span>
											</a></li>
									{% endif %}
								{% endfor %}						
						    </ul>				   
					</div>
				{% endif %}
			{% endfor %}	
		{% endif %}
		&nbsp;
	</div>
	<div class="span-5 last">
		<div id="top_subnav_right">
	        {% if request.user.is_authenticated %}
		        <a href="{% url 'user_detail' request.user.id %}">My Profile</a>
		        | <img src="{{STATIC_URL}}cog/img/datacart.png" height="20px" style="vertical-align:middle;" alt="datacart logo"/>
		        <a href="{% url 'datacart_display' site.id request.user.id %}">My Data Cart:
		                <span id="datacart_size">{{ request.user.datacart.items.all|length }}</span>
		        </a>
	        {% endif %}		
		</div>
	</div>						
</div>

<!-- anchor for message dialogs -->
<div id="myDialog" class="yui-skin-sam"></div>

&nbsp;<br/>

