<!-- COG top navigation bar --> 
{% load cog_utils %}

<!-- top navigation menu -->
<div id="top_nav">
	<div id="top_nav_left">
		{% if project %}
	    <ul>
			{% for tab in project|getTopNav %}
				<li><a href="{{ tab.1 }}">{{ tab.0 }}XXXXX</a></li>
			{% endfor %}
	    </ul>
	    	{% endif %}
	</div>
	
	<div id="top_nav_right">
		<ul>
			<li><a href="{% url project_home 'cog' %}">What is CoG?</a></li>
			<li><a href="mailto:cog_support@list.woc.noaa.gov">Site Support</a></li>
		</ul>
	</div>
</div>

</p>