{% load cog_utils %}
	
<div id="header">

	<!-- full page -->
	<div class="span-24 last">
		<div id="user_menu">
			{% include 'cog/common/_user_menu.html' %}
		</div>
	</div>

	<!-- sidebar and center -->
	<div class="span-17">
		<div id="header_middle_layer">
		
	    	{% if project.logo %}
	    		<!-- project logo -->
	    		{% if project.logo_url %}
	    			<a href="{{ project.logo_url }}">
	    				<img src="{{ project.logo.url }}" height="70px" alt="{{ project.short_name }} logo"/>
	    			</a>
	    		{% else %}
	    			<a href="{% url 'project_home' project.short_name|lower %}">
	    				<img src="{{ project.logo.url }}" height="70px" alt="{{ project.short_name }} logo" />
	    			</a>
	    		{% endif %}
	    	
	    	{% else %}
	    	
	    	<!-- project title -->
                      <div id="project_title">{{ project.long_name|capfirst }}</div>
	    		
	    	{% endif %}      
			
			
		</div>
	</div>
	
	<!-- right column -->
	<div class="span-7 last">		
		<div id="right_logo">
	        <a href="{% url 'project_home' 'cog'%}"><img class="cog_logo" src="{{STATIC_URL}}cog/img/cog_engineer_sm.png" alt="Earth System CoG logo"/></a>
	    </div>
	</div>
	
</div>
	    
<!-- top navigation bar -->
<div class="top_nav">
	<div class="span-19">
		<div id="top_nav_left">
			{% if project %}
			    <ul>
					{% for tablist in project|getTopNav:request %}
						{% for tab in tablist %}
							<!-- top-level tab only -->
							{% if forloop.counter == 1 %}
								<li><a href="{{ tab.1 }}" {{ tablist|getTopTabStyle:tab.2 }}>{{ tab.0 }}</a></li>
							{% endif %}
						{% endfor %}
					{% endfor %}
			    </ul>
		    {% endif %}
		</div>
	</div>
	<div class="span-5 last">
		<div id="top_nav_right">
			<ul>
				<li><a href="{% url 'project_home' 'cog' %}">What is CoG?</a></li>
				<li><a href="/projects/cog/contactus/">Site Support</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- top navigation sub-bar -->
<div class="top_nav">
	<div class="span-19">
		{% if project %}
			{% for tablist in project|getTopNav:request %}
				{% if tablist|length > 1 %}						
					<div id="top_subnav_left">					
						    <ul>							
								{% for tab in tablist %}
									<!-- sub-tabs only -->
									{% if forloop.counter > 1 %}
										<li><a href="{{ tab.1 }}" {{ tablist|getSubTabStyle:tab }}>
											<span style="color: #666">{{ tab.0 }}</span>
											</a></li>
									{% endif %}
								{% endfor %}						
						    </ul>				   
					</div>
				{% endif %}
			{% endfor %}	
		{% endif %}
		&nbsp;
	</div>
	<div class="span-5 last">
		<div id="top_subnav_right">
	        {% if request.user.is_authenticated %}
		        <a href="{% url 'user_profile_redirect' request.user.id %}">My Profile</a>
		        | <img src="{{STATIC_URL}}cog/img/datacart.png" height="20px" style="vertical-align:middle;" alt="datacart logo"/>
		        <a href="{% url 'datacart_display' site.id request.user.id %}">My Data Cart:
		                <span id="datacart_size">{{ request.user.datacart.items.all|length }}</span>
		        </a>
	        {% endif %}		
		</div>
	</div>						
</div>

<!-- anchor for message dialogs -->
<div id="myDialog" class="yui-skin-sam"></div>

&nbsp;<br/>

