<!-- social media buttons for CoG -->

<!-- Google+ -->
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share" data-annotation="none" data-href="{{ request.build_absolute_uri|urlencode }}"></div>
<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
 (function() {
   var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   po.src = 'https://apis.google.com/js/plusone.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 })();
</script>
&nbsp;

<!-- Facebook -->
<a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}', 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
    <img src="{{STATIC_URL}}/cog/img/facebook.jpg" height="20px" />
</a>
&nbsp;

<!-- Twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{ request.build_absolute_uri|urlencode }}">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		
		