<!--// START: /cog/templates/cog/common/cog_footer_bar_only.html //-->

 <div class="footer">
    <table>
	<tr>
	  <!--// CoG sponsors //-->
	<td style="width:30%;">
	   <table>
	    <tr>
	      <td>Earth System CoG sponsors and partners</td>
	    </tr>
	    <tr>
	      <td><a href="http://www.noaa.gov">NOAA</a> |
		  <a href="http://www.nasa.gov">NASA</a> |
		  <a href="http://www.nsf.gov">NSF</a> |
		  <a href="http://science.energy.gov/">DoE Office of Science</a> |
		  <a href="https://verc.enes.org/ISENES2">IS-ENES</a></td>
	    </tr>
	    </table>
	 </td>


           <!--// CoG and ESGF Versions //-->
	 <td style="width:30%;">
          <table >
	    <tr>
	      <td style="text-align:center;">CoG Version 2.5</td>
	    </tr>
	    <tr>
	      <td style="text-align:center;">ESGF Version 1.6.2-bushwick_myrtle-release-master</td>
	    </tr>
	   </table>
	 </td>  
	 
	 <!--// ESGF sponsors //-->
	 <td style="width:30%;">
          <table>
	    <tr>
	      <td style="text-align:right;">ESGF sponsors and partners</td>
	    </tr>
	    <tr>
	      <td style="text-align:right;">
		  <a href="http://science.energy.gov/">DoE Office of Science</a> |
		  <a href="https://verc.enes.org/ISENES2">IS-ENES</a> |
                  <a href="http://www.nasa.gov">NASA</a> |
                  <a href="http://www.noaa.gov">NOAA</a> |
		<a href="http://nci.org.au/">NCI</a> |
		<a href="http://www.nsf.gov">NSF</a> 
	      </td>
	    </tr>
	   </table>
	   
	 </td>  
	</tr>
    </table>
  </div><!--// end div.footer //-->


