<!--LOCATION: /cog/templates/cog/common/cog_footer_custom.html-->
<!--This is the default custom footer for ESGF-COG-->
<!--It contains space for the node URL address and institutional links-->
<!--Maintaining the style will make ESGF consistent across nodes.-->
<style scope type="text/css">
table.custom_footer{
    color:                   white; /*text color */
    height:                  40px;
}

table.custom_footer td{
    vertical-align: middle;
    font:           normal normal 8pt/1.231 Arial,sans-serif;
}

table.custom_footer a:link, table.custom_footer a:hover,table.custom_footer a:visited{
   color: white;
   text-decoration:underline;
}
</style>

<div class="custom_footer">
       <table class="custom_footer">
       <tr>
       <td style="width:30%;">https://hydra.esrl.svc.noaa.gov</td>
       <td style="width:70%;text-align:right;">
	        <a href="http://www.commerce.gov/">Department of Commerce</a> |
		<a href="http://www.noaa.gov/">NOAA</a> |
		<a href="http://www.noaa.gov/privacy.html">Privacy Policy</a> |
		<a href="http://www.noaa.gov/foia/">FOIA</a> |
		<a href="http://www.noaa.gov/disclaimer.html">Disclaimer</a> |
		<a href="http://www.usa.gov/">USA.gov</a>
        </td>
	</tr>
	</table>
</div>	
<!--//--end div.custom_footer //-->
