{% load cog_utils %}
<p/>
		<!-- Facebook -->
		
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : 'YOUR_APP_ID',                        // App ID from the app dashboard
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-send" data-href="{{ request.get_full_path }}"></div>


<hr/>
<div class="span-3">
  <div style="text-align:left">
	<img src="{{ request|getFooterLogo }}" height="50px" />
	</div>
</div>
<div class="span-17">	
	<div class="span-10">	
		<div id="footer">
		    <p>CoG is supported by grants from the National Science Foundation and the National Oceanic and Atmospheric Administration.</p>
		</div>
	</div>
	<div class="span-7 last">
		<div id="footer">
			<p>Data archival and search provided by the Earth System Grid Federation.</p>
		</div>
	</div>
	<!-- social media buttons -->
	<div class="span-17 last" style="text-align:center; padding-top: 4px; padding-bottom:8px;">
	
	
		<!-- Google+ -->
		<!-- Place this tag where you want the share button to render. -->
		<div class="g-plus" data-action="share" data-annotation="none" data-href="{{ request.get_full_path }}"></div>
		<!-- Place this tag after the last share tag. -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		&nbsp;
		
		<!-- Twitter -->
		<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{ request.get_full_path }}">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		
	</div>	
</div>
<div class="span-4 last">
  <div style="text-align:center">
	<img src="{{ STATIC_URL }}/cog/img/esgf.png" height="50px" />
	</div>
</div>

<div class="span-24 last"">
	<div style="text-align:center; font-size: 8pt;">
		CoG version 1.6.0
		&nbsp;&nbsp;<a href="http://www.noaa.gov/privacy.html">Privacy Policy</a>
		&nbsp;&nbsp;<a href="http://www.noaa.gov/disclaimer.html">Disclaimer</a>
		&nbsp;&nbsp;<a href="http://www.usa.gov/">USA.gov</a>
		<br/>
		&nbsp;
		<!-- <b>Note</b>: to view this site, please use a recent version of FireFox, Google Chrome or Safari. Internet Explorer is not supported. -->
	</div>
</div>