{% load cog_utils %}
<p/>

<hr/>
<div class="span-5">
  <div style="text-align:left">
	<img src="{{ request|getFooterLogo }}" height="50px" />
  </div>
</div>
<div class="span-15">	
	<div class="span-11">	
		<div class="footer" style="padding-left:16px; padding-right:4px">
		    CoG was developed under grants from the National Science Foundation and the National Oceanic and Atmospheric Administration, 
		    and in partnership with the Department of Energy Office of Science.
		</div>
	</div>
	<div class="span-4 last">	
		<div class="footer" style="text-align:right; padding-left:6px;">
			Data archive and search provided by the Earth System Grid Federation.
		</div>	
	</div>
</div>
<div class="span-4 last">
  <div style="text-align:center">
	<img src="{{ STATIC_URL }}/cog/img/esgf.png" height="50px" />
	</div>
</div>

<div class="span-24 last"">
	<div style="text-align:center; font-size: 8pt;">
		CoG version 1.8.0
		&nbsp;&nbsp;<a href="http://www.noaa.gov/privacy.html">Privacy Policy</a>
		&nbsp;&nbsp;<a href="http://www.noaa.gov/disclaimer.html">Disclaimer</a>
		&nbsp;&nbsp;<a href="http://www.usa.gov/">USA.gov</a>
		<br/>
		&nbsp;
		<!-- <b>Note</b>: to view this site, please use a recent version of FireFox, Google Chrome or Safari. Internet Explorer is not supported. -->
	</div>
</div>