<!-- file containing common javascript utilities -->

<script type="text/javascript">
<!--

    /* redefining javascript trim() fn,
     * which doesn't exist in IE 8.*,
     */

     String.prototype.trim = function() {
         return this.replace(/^\s+|\s+$/g,'');
     };

	// function to switch the visibility of an HTML element
    function toggle_visibility(id) {
       var e = this.document.getElementById(id);
       if (e!=null) {
	       if (e.style.display == 'block') {
	          e.style.display = 'none';
	       } else {
	          e.style.display = 'block';
	       }
       }
    }
    
    // function to toggle the visibility of an HTML element and change the hyperlink text
	function openclose(id, hlink, showText, hideText) {
	    var e = this.document.getElementById(id);
	    if (e!=null) {
		       if (e.style.display == 'block') {
		          e.style.display = 'none';
		          hlink.innerHTML = showText;
		       } else {
		          e.style.display = 'block';
		          hlink.innerHTML = hideText;
		       }
	    }
	 }
    
	// function to set the visibility of an HTML element
	function set_visibility(id, bool) {
	   var e = this.document.getElementById(id, bool);
	   if (e!=null) {
	       if (bool) {
	          e.style.display = 'block';
	       } else {
	          e.style.display = 'none';
	       }
	   }
	}
    
//-->
</script>

<!-- Detect browser on load -->
<script type="text/javascript">
  <!--
    // placeholder for browser-specific js that should be run
	function detectBrowser() {
	  
	  //if (YAHOO.env.ua.webkit) { // safari
	  //if (YAHOO.env.ua.gecko > 0) { // FF 
	  //if (YAHOO.env.ua.ie > 0) { // IE
	  
	 }
	 //YAHOO.util.Event.onDOMReady(detectIE);
  //-->
</script>