{% extends "layouts/layout_sidebar_center_right.html" %}

{% block head %}
	{% include 'cog/common/metatags.html' %} 
	
    {% include 'cog/common/yui.html' %} 
    {% include 'cog/common/yui_panels.html' %}    

    {% include 'cog/common/cog_js.html' %} 
    {% include 'cog/common/mystyle.html' %} 
    
    {% include 'cog/common/cim.html' %} 
    
    <script type="text/javascript" src="{{ STATIC_URL2 }}/ckeditor/ckeditor.js"></script>
    
{% endblock %}

{% block header %}
    {% include 'cog/common/cog_header.html' %} 
{% endblock %}

{% block left %}
    {% include 'cog/project/project_left.html' %} 
{% endblock %}

{% block main %}
    {{ project }}
{% endblock %}

{% block right %}
    {% include 'cog/project/project_right.html' %} 
{% endblock %}

{% block footer %}
    {% include 'cog/common/cog_footer.html' %} 
{% endblock %}