{% extends "layouts/layout_main.html" %}
<!--LOCATION: /cog/templates/cog/common/layout_center.html-->
<!--EXTENDS: /layouts/templates/layouts/layout_main.html-->

{% block head %}

    {% include 'cog/common/metatags.html' %}
	
    {% include 'cog/common/yui.html' %} 
    {% include 'cog/common/yui_panels.html' %}    

    {% include 'cog/common/cog_js.html' %}
{% comment %}
    {% include 'cog/common/mystyle.html' %}
{% endcomment %}
    
    {% include 'cog/common/cim.html' %} 
    
    {% include 'cog/common/wiki.html' %}   
    
    {% include 'cog/common/google_analytics.html' %}

{% endblock %}

{% block custom_header %}
     {% include 'cog/common/cog_header_custom.html' %}
{% endblock %}

{% block header %}
   {% include 'cog/common/cog_header.html' %} 
{% endblock %}

{% block main %}
    {{ project }}
{% endblock %}

{% block footer %}
    {% include 'cog/common/cog_footer.html' %} 
    {% include 'cog/common/cog_footer_custom.html' %}
{% endblock %}
