{% extends "layouts/layout_main_right.html" %}

{% block head %}

    {% include 'cog/common/metatags.html' %}
    {% include 'cog/common/yui.html' %} 
    {% include 'cog/common/yui_panels.html' %}    
    {% include 'cog/common/cog_js.html' %} 
    {% include 'cog/common/cim.html' %} 
    {% include 'cog/common/wiki.html' %}   
    {% include 'cog/common/google_analytics.html' %}
    {% include 'cog/common/right_column_css.html' %}
    
{% endblock %}

{% block main %}
    {{ project }}
{% endblock %}

{% block right %}
    {% include 'cog/project/project_right.html' %} 
{% endblock %}
