{% extends "layouts/layout_main_right.html" %}

{% block head %}

    {% include 'cog/common/metatags.html' %}
	
    {% include 'cog/common/yui.html' %} 
    {% include 'cog/common/yui_panels.html' %}    

    {% include 'cog/common/cog_js.html' %} 
   
    {% include 'cog/common/cim.html' %} 
    
    {% include 'cog/common/wiki.html' %}   
    
    {% include 'cog/common/google_analytics.html' %}
    
{% endblock %}

{% block custom_header %}
     {% include 'cog/common/cog_header_custom.html' %}
{% endblock %}

{% block header %}
   {% include 'cog/common/cog_header.html' %} 
{% endblock %}

{% block main %}
    {{ project }}
{% endblock %}

{% block right %}
    {% include 'cog/project/project_right.html' %} 
{% endblock %}

{% block footer %}
    {% include 'cog/common/cog_footer.html' %}
{% endblock %}

{% block custom_footer %}
    {% include 'cog/common/cog_footer_custom.html' %}
{% endblock %}
