{% extends "layouts/layout_main.html" %}

{% block head %}

	{% include 'cog/common/metatags.html' %} 
	
    {% include 'cog/common/yui.html' %} 
    {% include 'cog/common/yui_panels.html' %}    

    {% include 'cog/common/cog_js.html' %} 
    {% include 'cog/common/mystyle.html' %} 
    
    {% include 'cog/common/cim.html' %} 

{% endblock %}

{% block header %}
    {% include 'cog/common/cog_header.html' %} 
{% endblock %}

{% block main %}
    {{ project }}
{% endblock %}

{% block footer %}
    {% include 'cog/common/cog_footer.html' %} 
{% endblock %}
