{% extends "layouts/layout_main.html" %}

{% block head %}

    {% include 'cog/common/metatags.html' %}
	
    {% include 'cog/common/yui.html' %} 
    {% include 'cog/common/yui_panels.html' %}    

    {% include 'cog/common/cog_js.html' %}
    
    {% include 'cog/common/wiki.html' %}   
    
    {% include 'cog/common/google_analytics.html' %}

{% endblock %}

{% block main %}
	<!--LAYOUT: /cog/templates/cog/common/layout_center.html-->
    <!--EXTENDS: /layouts/templates/layouts/layout_main.html-->
    {{ project }}
{% endblock %}

