<!-- template for HTML meta tags -->

{% load cog_utils %}

<!-- favicon -->
<link rel="Shortcut Icon" href="{{STATIC_URL}}cog/img/favicon_cog.png" type="image/x-icon" />

{% if project and request|is_home_page:project %}
	
	<meta name="keywords" content="{{ project.short_name }}: {{ project.long_name}}" />
	<meta name="description" content="{{ project.description }}" />
	
{% else %}

	{% if post.body %}
		<!-- note: must process the text to remove undesired characters, tags  -->
		<meta name="description" content="{{ post.body|striptags|safe|truncatewords:50 }}" />
	
	{% endif %}

{% endif %}
