<style type="text/css">

/*
# CSS styles

#COLOR_DARK_TEAL = "#358C92"
#COLOR_LIGHT_TEAL = "#B9E0E3"

#COLOR_DARK_YELLOW = "#FAC24A";
#COLOR_LIGHT_YELLOW = "#FCE79F";

#COLOR_DARK_GRAY = "#666666";
#COLOR_MIDDLE_GRAY = "#666";
#COLOR_LIGHT_GRAY = "#333";

*/

/* titles */
.notitle {
    color: #358C92;
    font-size: 14pt;
    font-weight: bold;
}

/* separation line */
hr {
	background-color: #358C92;
}

/* left top nav */
#top_nav_left {
	background: #358C92;
}

/* right top nav */

#top_nav_right {
	background: #FAC24A;
}

.vertical_menu {
    border-right: 1px solid #358C92;
    border-left: 1px solid #358C92;
}

/* dialog boxes */

.instruction-box {
    background: #B9E0E3;
}

.message-box {
    background: #FCE79F;
}

.error-box {
    background: #FAC2A4;
}

/* tables */
tbody tr:nth-child(even) td, tbody tr.even td  { 
	background: #EEEEEE; 
}
caption {
    background: #B9E0E3;
}

tbody th, td {
	vertical-align: top;
}

/* hyperlinks */
a:link, a:visited {
    color: #358C92;
    text-decoration: none;
}
a:hover {
    color: #205559;
}

</style>