<!--// START: /cog/templates/cog/common/right_column_css.html //-->

<!-- this page contains the CSS and JavaScript needed to run the Project Browser -->

{% load cog_utils %}

<!--// note do not use scoped for this style because it is loaded further down the template heirarchy //-->
<style type="text/css">

	/* NOTE: scrollbar controlled by "overflow-y: auto;" in tabview.css
	   NOTE: overall widget height also controlled by .yui-content
	   in tabview.css */

	.project_widget {
	    margin:     0px;
	    padding:    0px;
	    font-size:  8pt;
	    text-align: left;
	    /* font-weight: bold; */
	    background-color: #FFFFFF;
	    border: 1px solid #666666;
	    color:   #666;
	    display: block;
	}

	.project_browser_bar {
		margin-bottom: 2px;
		margin-top: 2px;
		padding: 4px 5px 3px 3px;
		font-size: 8pt;
		text-align: left;
		/* COG STYLE: PROJECT BROWSER BAR */
		font-weight: bold;
		background-color: #FDF3CF;
		color: #666;
		display: block;
		border-top: 0px solid #666;
		border-bottom: 0px solid #666;
	}

	.project_browser_bar a:link,
	.project_browser_bar a:visited {
		color: #666;
		text-decoration: none;
	}

	#project_browser_controls {
		border-top: 1px solid #666;
		background-color: #FCE79F;
		padding: 0px;
		margin: 0px;
	}


	#parent_projects, #peer_projects, #child_projects {
		overflow-y: auto; /* NOTE: scrollbar on containing div is controlled by tabview.css:yui-content */
		margin-left: 0.3em;
		margin-right: 0.3em;
		/* max-height: 80px;*/ /* PROJECT BROWSER HEIGHT: height of individual widgets */
	}

	#all_projects, #my_projects {
		/* overflow-y: auto; */ /* PROJECT BROWSER: disable inner scrollbar on these two widgets */
		max-height: 265px; /* PROJECT BROWSER HEIGHT: must be less than overall widget height set in tabview.css */
		margin: 0.3em;
	}

        #parent_projects a, #peer_projects a, #child_projects a, #all_projects a, #my_projects a {
            line-height: 1.3;
        }

	.project_widget table td {
	    /* important: must align project labels with middle of checkbox */
		vertical-align: middle;
	}

       /* autocomplete widget must be styled otherwise it will expand to take all available room */
	#tagAutoComplete {
           width: 138px;
           padding-bottom: 20px;
    }

    /* enable vertical scrollbar if large number of items needs to be displayed (in conjunction with large autoComp.maxResultsDisplayed) */
    .yui-skin-sam .yui-ac-content { /* set scrolling */
	    max-height:10em;
	    overflow:auto; overflow-x:hidden; /* set scrolling */
	    _height:10em; /* ie6 */
	}

 </style>

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{STATIC_URL}}css/yui/tabview.css" />


<!-- COG custom filters -->

<script type="text/javascript">
    //<![CDATA[

       // function to populate the project widget via ajax call
       function loadProjectBrowser(project_short_name) {

    	   // loop over YUI tab identifiers, execute separate ajax requests
    	   var tabs = ['this', 'all', 'my', 'tags']
    	   for (var i=0; i<tabs.length; i++) {

	    	   // build request URL
	    	   // example: /project_browser/<project_short_name>/browse/<this|all|my|tags>/[?tag=<tag>]
	    	   var url = "/project_browser/"+project_short_name+"/browse/"+tabs[i]+"/";
	    	   var tag = document.getElementById('projectBrowserText').value;
	    	   if (tag != null && tag!="") url += "?tag="+tag;

	    	   // define the callback function dynamically
	    	   // so to pass in the target tab identifier as extra argument
	    	   var callback = {
	 				  success:handleSuccess,
	 				  failure: handleFailure,
	 				  cache:false,
	 				  timeout:5000,
	 				  argument: []
	    	   }
			   // pass in target tab identifier as extra argument to ajax callback
			   callback.argument[0] = tabs[i]+"ProjectsBrowser";

			   // execute asynchronous GET request
			   var transaction = YAHOO.util.Connect.asyncRequest('GET', url, callback, null);

    	   }

       }

		// function called if the ajax request failed
		var handleFailure = function(o) {
			// do nothing
			//showMessage("An Error Occurred",
			//		    "HTTP Status Code: "+o.status+"<br/>Message: "+o.statusText);
		}

		// function called if the ajax request succeded
		var handleSuccess = function(o) {

			// retrieve target tab id from callback extra argument
			tabId = o.argument[0]

			// replace browser window with new content
			document.getElementById(tabId).innerHTML = o.responseText;

		}
    //]]>
</script>

<script type="text/javascript">
   //<![CDATA[

   	   // populate project tags from django database query
   	   var projectTags = [
   	   	  {{ project|projectTags }}
        ];

       function initTags() {
           var dataSource = new YAHOO.util.LocalDataSource(projectTags.sort()); // sort tags alphabetically
           var autoComp = new YAHOO.widget.AutoComplete("projectBrowserText", "tagContainer", dataSource);
           autoComp.prehighlightClassName = "yui-ac-prehighlight";
           autoComp.useShadow = true;
           autoComp.allowBrowserAutocomplete = false;
           autoComp.animSpeed = 0.2;
           autoComp.maxResultsDisplayed = 10;
           autoComp.minQueryLength = 0;
           autoComp.typeHead = true;
           //autoComp.alwaysShowContainer = true;
       }
       YAHOO.util.Event.onContentReady("project_widget", initTags);
   //]]>
</script>




<!--// END: /cog/templates/cog/common/right_column_css.html //-->
