<!-- JS libraries needed for Wiki functionality -->

<script type="text/javascript" src="{{ STATIC_URL }}cog/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}filebrowser/js/FB_CKEditor.js"></script>

<script type="text/javascript">
//<![CDATA[
if (CKEDITOR) {
	
	// integration with django-filebrowser
	
	// uncomment 'filebrowserBrowseUrl ' link to enable browsing of server directories
	// type=image restricts uploads to image files ('.jpg','.jpeg','.gif','.png','.tif','.tiff')
	CKEDITOR.config.filebrowserBrowseUrl = '/admin/filebrowser/browse?pop=3&type=image';
	// NOTE: additional parameter 'project' limits browsing to current project only
	//CKEDITOR.config.filebrowserBrowseUrl = '/admin/filebrowser/browse?pop=3&type=image&project={{project.short_name}}';
	
	// uncomment 'filebrowserUploadUrl' to enable direct upload of images to server
	// NOTE: assumes project is available from request object
	CKEDITOR.config.filebrowserImageUploadUrl = '/doc/upload/{{project.short_name}}/'
	
	// custom toolbar color
	CKEDITOR.config.uiColor = "#B9E0E3";
	
	// custom color picker
	CKEDITOR.config.extraPlugins = 'uicolor'
	
	// toolbar configuration
	CKEDITOR.config.toolbar_Full =
		[
		    { name: 'document',    items : [ 'Source','-','Save','NewPage','DocProps','Preview','Print','-','Templates' ] },
		    //{ name: 'clipboard',   items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
		    { name: 'editing',     items : [ 'Find','Replace','-','SelectAll','-','SpellChecker', 'Scayt' ] },
		    { name: 'forms',       items : [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
		    
		    '/',
		    
		    //{ name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat' ] },
		    { name: 'basicstyles', items : [ 'Bold','Italic','Strike','Subscript','Superscript','-','RemoveFormat' ] },
		    { name: 'paragraph',   items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','CreateDiv','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','BidiLtr','BidiRtl' ] },
		    { name: 'links',       items : [ 'Link','Unlink','Anchor' ] },
		    { name: 'insert',      items : [ 'Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak' ] },
		    
		    '/',		    

		    // disable FontSize
		    //{ name: 'styles',      items : [ 'Styles','Format','Font','FontSize' ] },
		    { name: 'styles',      items : [ 'Styles','Format','Font' ] },
		    
		    // disable BGColor
		 	//{ name: 'colors',      items : [ 'TextColor','BGColor' ] },
		    { name: 'colors',      items : [ 'TextColor' ] },
		    
		    // add UIColor picker
		    { name: 'tools',       items : [ 'Maximize', 'ShowBlocks','-','About', 'UIColor' ] },
		    
		];
	CKEDITOR.config.toolbar = 'Full';

}
//]]>
</script>
