<!--LOCATION: /cog/templates/cog/common/yui.html-->

<!-- Loading YUI CSS libraries -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/button/assets/skins/sam/button.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/container/assets/skins/sam/container.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/assets/skins/sam/treeview.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/tabview/assets/skins/sam/tabview.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/autocomplete/assets/skins/sam/autocomplete.css" />
<!-- Optional CSS for for date editing with Calendar-->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/calendar/assets/skins/sam/calendar.css" />

<!-- Loading dependent JavaScript source files --> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/yahoo-dom-event/yahoo-dom-event.js" ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/event/event-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/element/element-min.js" ></script>
<!-- Optional dependency source file --> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/animation/animation-min.js"></script>
<!-- Optional dependency source file for date editing with Calendar--> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/calendar/calendar-min.js" ></script>
<!-- Optional dependency source file to decode contents of yuiConfig markup attribute--> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/json/json-min.js" ></script>
<!-- TreeView source file --> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/treeview/treeview-min.js" ></script>
<!-- Loaing Source files for TabView -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/tabview/tabview-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/connection/connection-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/button/button-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/container/container-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/autocomplete/autocomplete-min.js"></script>
