<!-- File containing functionality for creating overlay panels with YUI library -->

<script type="text/javascript">

	YAHOO.namespace("cog");

    var handleDismiss = function() { 
        YAHOO.cog.myDialog.hide(); 
    }; 
            
    /**
    Function to show a small message window, with a title and a 'Dismiss' button.
    The HTML page must contain an element of id 'myDialog' for the window to be anchored:
        <div id="myDialog" class="yui-skin-sam"></div>
    */
    function showMessage(title, message) {

        YAHOO.cog.myDialog = new YAHOO.widget.SimpleDialog("msgDialog", {
            width: "400px", 
            fixedcenter: true, 
            constraintoviewport: true, 
            underlay: "shadow", 
            close: true, 
            visible: false, 
            draggable: true,
            modal:true,
            buttons: [ { text:"Dismiss", handler:handleDismiss, isDefault:true } ]
        });
                    
        YAHOO.cog.myDialog.setHeader(title);
        YAHOO.cog.myDialog.setBody("<div style='text-align:center'>"+message+"</style>");
        YAHOO.cog.myDialog.cfg.setProperty("underlay","matte");
        
        YAHOO.cog.myDialog.render('myDialog');
        YAHOO.cog.myDialog.show();
    }
    
    /**
    Default handler to hide the current dialog
    */
    var handleNo = function() {
        // hide dialog
        this.hide();
    };
    
    /**
    Function to create a confirmation dialog with 'Yes', 'No' buttons connected to specific handlers.
    The HTML page must contain an element of id 'myDialog' for the window to be anchored:
        <div id="myDialog" class="yui-skin-sam"></div>
    */
    function createConfirmationDialog(dialogHeader, dialogText, yesHandler, noHandler) {
    	    	
    	var mySimpleDialog = new YAHOO.widget.SimpleDialog("confDialog",
                { width: "30em",
                  fixedcenter: true,
                  visible: false,
                  draggable: true,
                  close: true,
                  modal: true,
                  effect:{effect:YAHOO.widget.ContainerEffect.FADE, duration:0.25},
                  text: dialogText,
                  constraintoviewport: true,
                  buttons: [ { text:"Yes", handler:yesHandler },
                             { text:"No",  handler:noHandler, isDefault:true } ]
                } );
        mySimpleDialog.setHeader(dialogHeader);
        mySimpleDialog.render("myDialog");
        mySimpleDialog.show();
    	
        return mySimpleDialog;
    }
    
    /**
    Dialog to confirm a URL invocation.
    The widget is the HTML <a> element.
    The page must include an anchor div element of the form: <div id="myDialog" class="yui-skin-sam"></div>,
    as well as include the javascript code in the two files: 'cog/common/yui.html' and 'cog/common/yui_panels.html'.
    */
    function urlConfirmationDialog(dialogHeader, dialogText, widget) {

        var getUrl = function() {
            // hide dialog
            this.hide();
            // request URL
            window.location = widget.href;
        };

        var dlg = createConfirmationDialog(dialogHeader, dialogText, getUrl, handleNo);
        
        // return false to prevent link from being invoked automatically
        return false;

    }
    
    /** Function to show a modal waiting panel */
    function showWaitPanel() {
    	 
    	YAHOO.cog.waitPanel =  
    		new YAHOO.widget.Panel("wait",   
    		            { width:"240px",  
    		              fixedcenter:true,  
    		              close:false,  
    		              draggable:false,  
    		              zindex:4, 
    		              modal:true, 
    		              visible:false 
    		            }  
    		); 
    		 
    	YAHOO.cog.waitPanel.setHeader("Please wait..."); 
    	YAHOO.cog.waitPanel.setBody('<img src="http://l.yimg.com/a/i/us/per/gr/gp/rel_interstitial_loading.gif" />'); 
    	YAHOO.cog.waitPanel.render("myDialog"); 
    	YAHOO.cog.waitPanel.show();
    	
    }
    
    /** Function to hide the waiting panel */
    function hideWaitPanel() {
    	YAHOO.cog.waitPanel.hide();
    }

</script>