<!-- 
	JavaScript functionality for checking and metering passwords.
	The HTML page using this script must contain a "div" element with id="password_check".
-->

<!-- password strength meter -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/zxcvbn/zxcvbn-async.js"></script>

<script type="text/javascript">

	password_strength = ["very weak", "weak", "medium", "strong", "excellent"];
	text_color = ["red", "red", "blue", "green", " green"];

	function checkPassword(input) {

		user_inputs = []; // fill with other information from user form
		result = zxcvbn(input.value, user_inputs);
		var checkdiv = document.getElementById("password_check");
		checkdiv.innerHTML = "<meter value='" + result.score + "' min='0' max='4'>"+ result.score + " out of 5</meter>"
		                   + "&nbsp; Password score: " + password_strength[result.score] + "."
		                   + "&nbsp; Estimated time to crack password: "+ result.crack_time_display;
		checkdiv.style.color = text_color[result.score];  
		checkdiv.style.display = "block";               
		                   
	}
	
</script>