<!-- 
	JavaScript functionality for checking and metering passwords.
	The HTML page using this script must contain a "div" element with id="password_check".
-->

<!-- password strength meter -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/zxcvbn/zxcvbn-async.js"></script>

<script type="text/javascript">

	function checkPassword() {
	
		var password = document.getElementById("id_password").value;
	
		// test password versus required criteria
		var valid = testPassword( password );
		
		if (valid) {
		
			// valid password, show strength meter
			showPasswordMeter( password );
			return true;
		
		} else {
			// invalid password
			showMessage("Warning","The password does not meet the required criteria");
			document.getElementById("password_check").style.display = 'none';
			return false;
		}
	
	}

	function testPassword(str) {
	    // at least 8 characters including: one number, one lowercase letter, one uppercase letter, one special character
	    var re = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}$/;
	    //alert("new password="+str);
	    //alert("check result="+re.test(str));
	    return re.test(str);
	  }
 
 </script>

<script type="text/javascript">

	password_strength = ["very weak", "weak", "medium", "strong", "excellent"];
	text_color = ["red", "red", "blue", "green", " green"];

	function showPasswordMeter(password) {

		
		user_inputs = [];
		
		{% if request.user.is_anonymous %}
		
			// new user registration
			var form_widget_ids = ['id_first_name', 'id_last_name', 'id_username', 'id_email',
			                       'id_institution', 'id_department', 'id_state', 'id_country'];
			for (var i=0; i<form_widget_ids.length; i++) {
				if (document.getElementById(form_widget_ids[i])) {
					user_inputs.push( document.getElementById(form_widget_ids[i]).value );
				} 
			}
			
		{% else %}
		
			// existing user changing password
			user_inputs = [ "{{request.user.first_name}}", "{{request.user.last_name}}", "{{request.user.username}}", 
			                "{{request.user.email}}", "{{request.user.institution}}", "{{request.user.department}}", 
			                "{{request.user.state}}", "{{request.user.country}}" ]; 
		
		{% endif %}
		
		//result = zxcvbn(password, user_inputs);
		result = zxcvbn(password, []);
		
		var checkdiv = document.getElementById("password_check");
		checkdiv.innerHTML = "<meter value='" + result.score + "' min='0' max='4'>"+ result.score + " out of 5</meter>"
		                   + "&nbsp; Password score: " + password_strength[result.score] + "."
		                   + "&nbsp; Estimated time to crack password: "+ result.crack_time_display;
		checkdiv.style.color = text_color[result.score];  
		checkdiv.style.display = "block";               
		                   
	}
	
</script>