{% load cog_utils %}

<div class="mybox">
	 <table>
	     <tr>
             <td class="caption_mimic" colspan="2">
                 <strong>User Interests</strong>
             </td>
         </tr>
		 <tr>
		 		<td nowrap="nowrap">
                    <strong>Interest Keywords</strong>
                </td>
		 		<td class="long">{{ user_profile.researchKeywords }}</td>
		 </tr>
		 <tr>
		 		<td nowrap="nowrap">
                    <strong>Interest Statement</strong>
                </td>
		 		<td class="long">{{ user_profile.researchInterests|urlizetrunc:50|linebreaksbr }}</td>
		 </tr>		   
	 </table>
</div>