{% load cog_utils %}

    <div class="mybox">
	    <table>
	       <caption>Project Affiliations</caption>
	       {% for project in projects %}
	         {% if not project.private or request.user == user_profile.user or request.user.is_staff == True || request.user|hasAdminPermission:project %}
	           <tr>
	             <td nowrap="nowrap"><a href="{% url 'project_home' project.short_name|lower %}">{{ project.short_name }}</a></td>
	             {% comment %}       
	             <td nowrap="nowrap">
	                   {% if user_profile.user|hasAdminPermission:project %}
	                       Administrator
	                   {% else %}
	                       {% if user_profile.user|hasUserPermission:project %}
	                           User
	                       {% else %}
	                           Pending Approval
	                       {% endif %}
	                   {% endif %}
	             </td>
	             {% endcomment %}
	             <td nowrap="nowrap">
	               {% if request.user.id == user_profile.user.id %}
	                 <a href="{% url 'membership_remove' project.short_name|lower %}" class="deletelink">&nbsp;Cancel</a>
	               {% endif %}
	             </td>
	           </tr>
	         {% endif %}	     
	       {% endfor %}
	    </table>
    </div>