<div class="mybox">
    <table>
        <caption>User Information</caption>
        <tr>
         <td class="head" nowrap="nowrap"><b>First Name</b></td>
         <td class="long">{{ user_profile.user.first_name }}</td>
        </tr>
        <tr>
            <td class="head" nowrap="nowrap"><b>Last Name</b></td>
            <td class="long">{{ user_profile.user.last_name }}</td>
        </tr>
        {% if user.is_staff or user_profile.user == user %}
        <tr>
            <td class="head" nowrap="nowrap"><b>User Name</b></td>
            <td class="long">{{ user_profile.user.username }}</td>
        </tr>
        {% endif %}
        {% if not request.user.is_anonymous %}
        <tr>
            <td class="head" nowrap="nowrap"><b>Email</b></td>
            <td class="long">{{ user_profile.user.email|truncatechars:40 }}</td>
        </tr>
        {% endif %}
        <tr>
            <td class="head" nowrap="nowrap"><b>Institution</b></td>
            <td class="long">{{ user_profile.institution }}</td>
        </tr>
        <tr>
            <td class="head" nowrap="nowrap"><b>Department</b></td>
            <td class="long">{{ user_profile.department }}</td>
        </tr>
        <tr>
            <td class="head" nowrap="nowrap"><b>City</b></td>
            <td class="long">{{ user_profile.city }}</td>
        </tr>
        <tr>
            <td class="head" nowrap="nowrap"><b>State</b></td>
            <td class="long">{{ user_profile.state }}</td>
        </tr>
        <tr>
            <td class="head" nowrap="nowrap"><b>Country</b></td>
            <td class="long">{{ user_profile.country }}</td>
        </tr>
        {% for userurl in user_profile.userurl_set.all %}
	        <tr>
	            <td class="head" nowrap="nowrap"><b>Web Site</b></td>
	            <td class="long"><a href="{{ userurl.url }}">{{ userurl.name }}</a></td>
	        </tr>
        {% endfor %}
        {% if user.is_staff or user_profile.user == user %}
        <tr>
            <td class="head" nowrap="nowrap"><b>COG Email List</b></td>
            <td class="long">{% if user_profile.subscribed %}Subscribed{% else %}Not Subscribed{% endif %}</td>
        </tr>
        {% endif %}
        {% if user.is_staff or user_profile.user == user %}
        <tr>
            <td class="head" nowrap="nowrap"><b>Listed in Projects</b></td>
            <td class="long">{% if user_profile.private %}No{% else %}Yes{% endif %}</td>
        </tr>
        {% endif %}
    </table>
</div>
