<div class="mybox" style="margin-bottom:10px;">
    <table>
        <caption>User Information</caption>
        <tr>
         <th scope="row" class="white" nowrap="nowrap">
             <strong>First Name</strong>
         </th>
         <td class="long">{{ user_profile.user.first_name }}</td>
        </tr>
        <tr>
            <th scope="row" class="gray" nowrap="nowrap">
                <strong>Last Name</strong>
            </th>
            <td class="long">{{ user_profile.user.last_name }}</td>
        </tr>
        {% if user.is_staff or user_profile.user == user %}
        <tr>
            <th scope="row" class="white" nowrap="nowrap">
                <strong>User Name</strong>
            </th>
            <td class="long">{{ user_profile.user.username }}</td>
        </tr>
        {% endif %}
        {% if not request.user.is_anonymous %}
        <tr>
            <th scope="row" class="gray" nowrap="nowrap">
                <strong>Email</strong>
            </th>
            <td class="long">{{ user_profile.user.email|truncatechars:40 }}</td>
        </tr>
        {% endif %}
        <tr>
            <th scope="row" class="white" nowrap="nowrap">
                <strong>Institution</strong>
            </th>
            <td class="long">{{ user_profile.institution }}</td>
        </tr>
        <tr>
            <th scope="row" class="gray" nowrap="nowrap">
                <strong>Department</strong>
            </th>
            <td class="long">{{ user_profile.department }}</td>
        </tr>
        <tr>
            <th scope="row" class="white" nowrap="nowrap">
                <strong>City</strong>
            </th>
            <td class="long">{{ user_profile.city }}</td>
        </tr>
        <tr>
            <th scope="row" class="gray" nowrap="nowrap">
                <strong>State</strong>
            </th>
            <td class="long">{{ user_profile.state }}</td>
        </tr>
        <tr>
            <th scope="row" class="white" nowrap="nowrap">
                <strong>Country</strong>
            </th>
            <td class="long">{{ user_profile.country }}</td>
        </tr>

        {% if request.user.is_staff or user_profile.user == request.user %}
	        <tr>
	            <th scope="row" class="gray" nowrap="nowrap">
                    <strong>CoG Email List</strong>
                </th>
	            <td class="long">{% if user_profile.subscribed %}Subscribed{% else %}Not Subscribed{% endif %}</td>
	        </tr>
	        <tr>
	            <th scope="row" class="white" nowrap="nowrap">
                    <strong>Listed in Projects</strong>
                </th>
	            <td class="long">{% if user_profile.private %}No{% else %}Yes{% endif %}</td>
	        </tr>
	        <tr>
	            <th scope="row" class="gray" nowrap="nowrap">
                    <strong>Home Site</strong>
                </th>
	            <td class="long">{{ user_profile.site.name }}</td>
	        </tr>
        {% endif %}
    </table>
</div>
{% for userurl in user_profile.userurl_set.all %}
    <div class="span-19 last">
        <div class="mybox">
            <table>
               <caption>User Websites</caption>
	           <tr>
	               <th scope="row" class="white" nowrap="nowrap">
                       <strong>Web Site</strong>
                   </th>
	               <td class="long"><a href="{{ userurl.url }}">{{ userurl.name }}</a></td>
	            </tr>
            </table>
        </div>
    </div>
{% endfor %}