{% load cog_utils %}

<!--do not show OpenIDs for another user -->
{% if request.user.id == user_profile.user.id or request.user.is_staff %}
	<div class="mybox">
		 <table>
             {% if user_profile.openids %}
		         <caption>My OpenID</caption> <!-- only show caption if data is present...508-->
			     {% for openid in user_profile.openids %}
		        	<tr>
			            <th scope="row" class="white" nowrap="nowrap">OpenID</th>
			            <td class="long">{{ openid }}</td>
			        </tr>
		        {% endfor %}
	        {% else %}
				<tr>
					<td class="long"><em class="message">No OpenIDs found</em></td>
				</tr>
	        {% endif %}
		 </table>
	</div>
{% endif %}