{% load cog_utils %}

<!--do not show OpenIDs for another user -->
{% if request.user.id == user_profile.user.id or request.user.is_staff %}
	<div class="mybox">
		 <table>
             <tr>
                 <td colspan="2" class="caption_mimic">
		             <strong>My OpenID</strong>
                 </td>
             </tr>
             {% if user_profile.openids %}
			     {% for openid in user_profile.openids %}
		        	<tr>
			            <td nowrap="nowrap"><strong>OpenID</strong></td>
			            <td class="long">{{ openid }}</td>
			        </tr>
		        {% endfor %}
	        {% else %}
				<tr>
					<td class="long"><em class="message">No OpenIDs found</em></td>
				</tr>
	        {% endif %}
		 </table>
	</div>
{% endif %}