{% extends "cog/common/layout_center.html" %}
<!--LOCATION: /cog/templates/cog/account/login.html-->
<!--looks like this file has been deprecated and should be removed-->
<!--it does not contain an openID login-->

{% load cog_utils %}

{% block main %}

<div class="prepend-7 span-10">

	<h2>User Login</h2>

	<!-- display extra message if available -->
	{% if request.GET.message %}
	   <div class="message-box"> {{ request.GET.message|showMessage }}</div>
	   <p/>
	{% endif %}

	<!-- display authentication errors -->
	{% if form.errors %}
	<p class="errornote">Your username and password didn't match. Please try again.</p>
	{% endif %}

	<!-- authentication form -->
	<div style="font-style: italic; text-align:center;">
		Please note that username and password are case-sensitive.
	</div>

	<form method="post" action="{% url 'login' %}">
	   {% csrf_token %}
		<div class="mybox">
			<table>
				<caption>User Login</caption>
				<tr>
				    <td>{{ form.username.label_tag }}</td>
				    <td>{{ form.username }}</td>
				</tr>
				<tr>
				    <td>{{ form.password.label_tag }}</td>
				    <td>{{ form.password }}</td>
				</tr>
			</table>
        </div>

		<div style="position: relative;">
			<span style="position: absolute; left: 0px;">
			  <input type="submit" value="Login" />
			  <input type="hidden" name="next" value="{{ next }}" />
			</span>
			<span style="position: absolute; right: 0px;">
			  <a href="{% url 'usern_reminder' %}">Forgot Username?</a>
			  &nbsp;
			  <a href="{% url 'password_reset' %}">Forgot Password?</a>
			</span>
            <br/>&nbsp;
		</div>
	</form>

	<div style="text-align:center; padding-top:10px">
		Alternatively, you can login with an <a href="{% url 'openid-login' %}">ESGF OpenID</a>.
	</div>

</div>
{% endblock %}
