
{% extends "cog/common/layout_center.html" %}
<!-- Template page used to change the user password -->

{% block extrahead %}
	
	<!-- JavaScript for checking passwords -->
    {% include 'cog/account/_password_checker.html' %}
	
{% endblock %}

{% block main %}

	{% load cog_utils %}

    <div class="prepend-255 span-16">

        <h2>{{ mytitle }}</h2>
        
        <!-- display extra message if available -->
		{% if request.GET.message %}
		   <div class="message-box"> {{ request.GET.message|showMessage }}</div>
		   <p></p>
		{% endif %}

        <div class="mybox">

			<!-- NOTE: form cannot be submitted unless password meets criteria -->
            <form action="" method="post" onsubmit="return checkPassword();">

                {% csrf_token %}
                {{ form.username.as_hidden }}
                {{ form.requestor.as_hidden }}

                <table>
                   <caption style="display: none;">Password Update</caption>
                   <tr>
	                   <td class="caption_mimic" colspan="2">
	                        <strong>Administrators Password Update</strong>
	                    </td>
                   </tr>
                   <tr>
                        <td scope="row" class="white" nowrap="nowrap"><label for="id_old_password">
                        	<strong>
                        	{% if request.user.is_staff %}
                                {% if request.user == form.username %}
                                    Old Password
                                {% else %}
                                    Administrator's Password <br>
                                    <em class="message">[Your personal password, not the rootAdmin password.]</em>
                                {% endif %}
                            {% else %}
                                Old Password
                            {% endif %}
                        	</strong>
                        	</label></td>
                        <td>
                            {{ form.old_password }}
                            {{ form.old_password.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="white" nowrap="nowrap"><label for="id_password"><strong>New Password</strong></label></td>
                        <td>{{ form.password }}
                            <br/><em class="message">[ {{ form.password.help_text }} ]</em>
                            {{ form.password.errors }}
                            <div id="password_check" style="display:none; margin-top:2px; vertical-align: middle;" ></div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="white" nowrap="nowrap"><label for="id_confirm_password"><strong>Confirm New Password</strong></label></td>
                        <td>{{ form.confirm_password }}
                            <br/><em class="message">[ {{ form.confirm_password.help_text }} ]</em>
                            {{ form.confirm_password.errors }}</td>
                    </tr>
                </table>

                <div style="text-align:right; padding:5px">
                    <input type="button" value="Cancel" onclick="window.location='{% url 'site_home' %}'"/>
                    <input type="submit" value="Submit" />
                </div>

            </form>

        </div>
        
        <!-- reminder links -->
        {% if request.user.username == form.username.value %}
		<div style="position: relative;">
			<span style="position: absolute; right: 0;">
				<a href="{% url 'password_reset' %}">Forgot Old Password?</a>
			</span>
            <br/>&nbsp;
		</div>
		{% endif %}

    </div>

{% endblock %}