{% extends "cog/common/layout_center.html" %}
<!-- Template page used to reset the user password -->

{% block extrahead %}

    <script>
    //<![CDATA[

		function postit() {
			if (location.search.toLowerCase().indexOf('post=true') > 0) {
				// submit the form automatically
				var form = document.getElementById("password_reset");
				form.submit();
			}	
		}
		
		// invoke function on window loading
		YAHOO.util.Event.onContentReady("password_reset", postit);

    //]]>
    </script>


{% endblock %}

{% block main %}

	{% load cog_utils %}

    <div class="prepend-5 span-14">
    
        <h2>{{ mytitle }}</h2>
        
        {% if message %}
            <div class="message-box">
                {{ message|safe }}
            </div>
        {% else %}
	        <div class="instruction-box">
	            Please enter your OpenID and email. A new password will be e-mailed to you.
	            <br/>&nbsp;
	            <br/>Note that this page can only be used to reset the password for OpenIDs issued by:
	            <br/>"{{ 'ESGF_HOSTNAME'|settings_value }}".
	            <br/>Otherwise, please visit the site that issued your OpenID.
	        </div>
        {% endif %}
        
        <p></p>
        <div class="mybox">
                
            <form action="{% url 'password_reset' %}" method="post" name="password_reset" id="password_reset">
            
                {% csrf_token %}
                
                <table>
                   <tr>
                        <th scope="row" class="white" nowrap="nowrap"><label for="id_openid">OpenID</label></th>
                        <td class="long">
                        	{{ form.openid }} 
                            {{ form.openid.errors }}</td>
                    </tr>                
                    <tr>
                        <th scope="row" class="gray"  nowrap="nowrap"><label for="id_email">Email</label></th>
                        <td class="long">
                        	{{ form.email }} 
                            {{ form.email.errors }}</td>
                    </tr>
                </table>
                
                <div style="text-align:center">
                    <input type="button" value="Cancel" onclick="window.location='{% url 'site_home' %}'"/>
                    &nbsp; &nbsp;
                    Note: these characters are NOT allowed: &lt; &gt; &amp; # % { } [ ] $
                    <input type="submit" value="Submit" />
                </div>     
                
            </form>
                    
        </div>
        
        <!-- reminder links -->
	    <div style="position: relative; margin-bottom:40px;">
		     <span style="position: absolute; right: 0;">
			     <a href="{% url 'user_reminder' %}">Forgot OpenID?</a>
                 &nbsp;
			     <a href="{% url 'user_add' %}?next={{ request.GET.next }}">Create Account</a>
		     </span>
	    </div>
        
    </div>
        
{% endblock %}