<!-- Template page used to change the user password -->
{% extends "cog/common/layout_center.html" %}

{% block extrahead %}
	
	<!-- JavaScript for checking passwords -->
    {% include 'cog/account/_password_checker.html' %}
	
{% endblock %}

{% block main %}

	{% load cog_utils %}

    <div class="prepend-4 span-16">

        <h2>{{ mytitle }}</h2>
        
        <!-- display extra message if available -->
		{% if request.GET.message %}
		   <div class="message-box"> {{ request.GET.message|showMessage }}</div>
		   <p/>
		{% endif %}

        <div class="mybox">

			<!-- NOTE: form cannot be submitted unless password meets criteria -->
            <form action="" method="post" onsubmit="return checkPassword();">

                {% csrf_token %}

                <table>
                   <tr>
                        <td class="head" nowrap="nowrap"><b>Old Password</b></td>
                        <td>{{ form.old_password }}
                            {{ form.old_password.errors }}</td>
                    </tr>
                    <tr>
                        <td class="head" nowrap="nowrap"><b>Password</b></td>
                        <td>{{ form.password }}
                            <br/><i>[ {{ form.password.help_text }} ]</i>
                            {{ form.password.errors }}
                            <div id="password_check" style="display:none; margin-top:2px; text-align: middle;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="head" nowrap="nowrap"><b>Confirm Password</b></td>
                        <td>{{ form.confirm_password }}
                            <br/><i>[ {{ form.confirm_password.help_text }} ]</i>
                            {{ form.confirm_password.errors }}</td>
                    </tr>
                </table>

                <div style="text-align:right; padding:5px">
                    <input type="button" value="Cancel" onclick="window.location='{% url 'site_index' %}'"/>
                    <input type="submit" value="Submit" />
                </div>

            </form>

        </div>

    </div>

{% endblock %}