<!-- Template page used to change the user password -->
{% extends "cog/common/layout_center.html" %}

{% block main %}

    <div class="prepend-4 span-16">

        <h2>{{ mytitle }}</h2>

        <div class="mybox">

            <form action="" method="post">

                {% csrf_token %}

                <table>
                   <tr>
                        <td class="head" nowrap="nowrap"><b>Old Password</b></td>
                        <td>{{ form.old_password }}
                            {{ form.old_password.errors }}</td>
                    </tr>
                    <tr>
                        <td class="head" nowrap="nowrap"><b>Password</b></td>
                        <td>{{ form.password }}
                            <i>At least 6 characters, all characters are allowed</i>
                            {{ form.password.errors }}</td>
                    </tr>
                    <tr>
                        <td class="head" nowrap="nowrap"><b>Confirm Password</b></td>
                        <td>{{ form.confirm_password }}
                            <i>At least 6 characters, all characters are allowed</i>
                            {{ form.confirm_password.errors }}</td>
                    </tr>
                </table>

                <div style="text-align:right; padding:5px">
                    <input type="button" value="Cancel" onclick="window.location='{% url 'site_index' %}'"/>
                    <input type="submit" value="Submit" />
                </div>

            </form>

        </div>

    </div>

{% endblock %}