{% extends "cog/common/layout_center.html" %}
<!-- Template page used to create a user account -->
<!--LOCATION: /cog/templates/cog/account/user_form.html-->

{% load cog_utils %}

{% block extrahead %}

	<!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css"/>-->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/autocomplete/assets/skins/sam/autocomplete.css" />
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/animation/animation-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/autocomplete/autocomplete-min.js"></script>

    <!-- note: must style the autocomplete containers otherwise it expands to fit the whole window-->
    <style scoped type="text/css">
        #countryAutoComplete {
            width:300px;
            padding-bottom: 8px;
        }
        #stateAutoComplete {
            width:300px;
            padding-bottom: 8px;
        }
        
        #captcha_element {
        	padding: 5px;

            vertical-align: middle;
        }
        
		#captcha_element input[type=text] {
			border:       1px solid #666666;
			background:   #FFFFFF;
			color:        #5D781D;
			width:        100px;
			padding-left:   5px;
			padding-right:  0px;
			height:        16px;
		}
		#captcha_element img {
			vertical-align: middle;
			padding: 5px;
		}
    </style>

    {% include 'cog/account/_countries.html' %}
    {% include 'cog/account/_states.html' %}

    <script>
    //<![CDATA[

       function init() {
    	   // country
           var countryDataSource = new YAHOO.util.LocalDataSource(countryArray);
           var countryAutoComp = new YAHOO.widget.AutoComplete("id_country", "countryContainer", countryDataSource);
           countryAutoComp.prehighlightClassName = "yui-ac-prehighlight";
           countryAutoComp.useShadow = true;
           countryAutoComp.allowBrowserAutocomplete = false;
           // state
           var stateDataSource = new YAHOO.util.LocalDataSource(stateArray);
           var stateAutoComp = new YAHOO.widget.AutoComplete("id_state", "stateContainer", stateDataSource);
           stateAutoComp.prehighlightClassName = "yui-ac-prehighlight";
           stateAutoComp.useShadow = true;
           stateAutoComp.allowBrowserAutocomplete = false;
       }
       YAHOO.util.Event.onContentReady("userDiv", init);

    //]]>
    </script>
    
    <!-- JavaScript for checking passwords -->
    {% include 'cog/account/_password_checker.html' %}
    
{% endblock %}

{% block main %}
    <div class="prepend-1 span-22">
        <h2>{{ mytitle }}</h2>
        <!-- display extra message if available -->
	    {% if request.GET.message %}
	        <div class="message-box"> {{ request.GET.message|showMessage }}</div>
	        <br>
	    {% endif %}

        <!-- New Account -->
        {% if not form.instance.id %}
             <p>
                 Please provide the information below to request a CoG account.
                 <br/>Required fields are in <strong>bold</strong>.
                 <br/>Upon submission, an OpenID will be automatically assigned to you: you will need that OpenID to login.
                 <br/>The following characters are not allowed: &lt; &gt; &amp; # % { } [ ] $
             </p>

             <div class="message-box">
                       Please note that if you are logging in with a previously granted ESGF OpenID, CoG requires that Institution, City, and Country be added to your account.
             </div>
        {% else %}
            <!--current users -->
            <p>Use this form to update your profile. Remember that required fields are in <strong>bold</strong>.</p>
        {% endif %}

        <div class="yui-skin-sam">
	        <div class="mybox" id="userDiv">
	            <!-- NOTE: form cannot be submitted unless password meets criteria -->
	            <form action="" method="post" enctype="multipart/form-data" onsubmit="return checkPassword();">
                    {% csrf_token %}
	                {{ formset1.management_form }}
	                {{ formset2.management_form }}

                    <!-- user information -->
	                <table> <!--layout only-->
                        <tr>
                            <td colspan="2" class="caption_mimic"><strong>User Information</strong></td>
                        </tr>
	                    <tr>
	                        <td nowrap="nowrap">
                                <label for="id_username">
                                    <strong>User Name</strong>
                               </label>
                            </td>
	                        {% if form.instance.id %}
	                   		    <td>
                                    {{ form.instance.username }} {{ form.username.as_hidden }}
                                </td>
	                	    {% else %}
	                   		    <td>
                                   {{ form.username }}
	                        	   <em class="message">[ 5 to 30 characters, letters, digits and @/./+/-/_ only ]</em><br>{{ form.username.errors }}
	                    	    </td>
	                        {% endif %}
	                    </tr>
	             	    <tr>
	                        <td nowrap="nowrap">
                                <label for="id_first_name">
                                    <strong>First Name</strong>
                                </label>
                            </td>
	                        <td>{{ form.first_name }} {{ form.first_name.errors }}</td>
	                    </tr>
	                    <tr>
	                        <td nowrap="nowrap">
                                <label for="id_last_name">
                                    <strong>Last Name</strong>
                                </label>
                            </td>
	                        <td >{{ form.last_name }} {{ form.last_name.errors }}</td>
	                    </tr>
	                    <tr>
	                       <td nowrap="nowrap">
                               <label for="id_email">
                                   <strong>Email</strong>
                               </label>
                           </td>
	                       <td>{{ form.email }} {{ form.email.errors }}</td>
	                    </tr>
                        <!-- only show password box for new users -->
                        {% if not form.instance.id %}
		                    <tr>
		                        <td nowrap="nowrap">
                                    <label for="id_password">
                                        <strong>Password</strong>
                                    </label>
                                </td>
		                        <td>
                                    {{ form.password }}
		                            <br/><em class="message">[ {{ form.password.help_text }} ]</em>
		                            {{ form.password.errors }}
		                            <div id="password_check" style="display:none; margin-top:2px; vertical-align: middle;" >
                                        &nbsp;
		                            </div>
		                        </td>
		                    </tr>
		                    <tr>
		                         <td nowrap="nowrap">
                                     <label for="id_confirm_password">
                                         <strong>Confirm Password</strong>
                                     </label>
                                 </td>
		                         <td>
                                      {{ form.confirm_password }}
		                              <br/><em class="message">[ {{ form.confirm_password.help_text }} ]</em>
		                              <br/>{{ form.confirm_password.errors }}
		                         </td>
		                    </tr>
                        {% else %}
                            <!-- existing COG users: the encrypted passwords are resubmitted as hidden fields -->
                            {% if form.instance.profile.type == 1 %}
			                    <!-- existing user: include encoded password, confirm_password as hidden fields -->
		                        {{ form.password.as_hidden }}
		                        {{ form.confirm_password.as_hidden }}
	                        {% endif %}
                        {% endif %}
	                    <tr>
                             <td nowrap="nowrap">
                                 <label for="id_institution">
                                     <strong>Institution</strong>
                                 </label>
                             </td>
                             <td>{{ form.institution }} {{ form.institution.errors }}</td>
                        </tr>
                        <tr>
                             <td nowrap="nowrap"><label for="id_department">Department</label></td>
                             <td class="long">{{ form.department }} {{ form.department.errors }}</td>
                        </tr>
                        <tr>
                             <td nowrap="nowrap">
                                  <label for="id_city">
                                       <strong>City</strong>
                                  </label>
                             </td>
                             <td class="long">{{ form.city }} {{ form.city.errors }}</td>
                        </tr>
                        <tr>
                             <td nowrap="nowrap"><label for="id_state">State</label></td>
                             <td>
                                  <div id="stateAutoComplete" style="margin-bottom:20px;">
                                        {{ form.state }}
                                        <div id="stateContainer" style="width:99%;"></div>
                                  </div>
                                  {{ form.state.errors }}
                             </td>
                        </tr>
                        <tr>
                             <td nowrap="nowrap">
                                  <label for="id_country">
                                       <strong>Country</strong>
                                  </label>
                             </td>
                             <td>
                                  <div id="countryAutoComplete" style="margin-bottom:20px;">
                                        {{ form.country }}
                                        <div id="countryContainer"></div>
                                  </div>
                                  {{ form.country.errors }}
                             </td>
                        </tr>
                        <tr>
                             <td nowrap="nowrap"><label for="id_researchKeywords">Interest Keywords</label></td>
                             <td>
                                  {{ form.researchKeywords }} {{ form.researchKeywords.errors }}
                                  <br/>[A short list of science fields you are involved with (60 characters maximum).
                                  <br/>Example: Software Engineering, Grid Computing, Climate Change.]
                             </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap"><label for="id_researchInterests">Interest Statement</label></td>
                            <td>
                                {{ form.researchInterests }} {{ form.researchInterests.errors }}
                                <br/>[A short paragraph describing your professional interests (1000 characters maximum).]
                            </td>
                        </tr>
                        <tr>
                            <td nowrap="nowrap">
                                <label for="id_subscribed">
                                    Subscribe to COG Email List?
                                </label>
                            </td>
                            <td>{{ form.subscribed }} <em class="message">[ 'cog_info', low traffic list ]</em> {{ form.subscribed.errors }}</td>
                        </tr>
                        <tr>
                            <td scope="row" nowrap="nowrap">
                                <label for="id_private">
                                    Do not list me among project members
                                </label>
                            </td>
                            <td>{{ form.private }} {{ form.private.errors }}</td>
                        </tr>
                    </table>


                    <!--User Picture-->
                    <table>
                        <tr>
                            <td colspan="2" class="caption_mimic" style="border-top:1px solid #666;"><strong>User Picture</strong></td>
                        </tr>
                        {% if not request.user.is_anonymous %}
	                        <tr>
	                            <td nowrap="nowrap">
                                    Picture
	                                <br/>(Maximum Size: 1MB)
	                                <br/>(Format: 'jpg', 'png', or 'gif')
	                            </td>
	                            <td>
	                                <table class="no-color;"> <!--layout only -->
	                                    <tr>
	                        	            <td>
	                        	                <img alt="user_image" src="{{ form.instance|getImage }}"
                                                    {% if not 'unknown' in form.instance|getImage %} class="myimage" {% endif %}/>
	                        	            </td>
	                        	            <td style="vertical-align:middle;">
				                                <div style="margin-top:2px;display:table-cell;vertical-align: middle;">
				                                    {% if not 'unknown' in form.instance|getImage %}
				                                        {{ form.delete_image }} Delete current picture?
				                                    {% else %}
				                                        {{ form.image }}
				                                        &nbsp;
                                                        {{ form.image.errors }}
                                                    {% endif %}
				                                </div>
	                                        </td>
	                                    </tr>
	                                </table>
	                            </td>
	                        </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <img alt="user_image" style="margin-top:4px;" src="/static/cog/img/unknown.thumbnail.jpeg">
                                </td>
                                <td style="vertical-align: middle;">
                                    Note: You may upload a picture to your profile after you login for the first time.
                                </td>
                            </tr>
                        {% endif %}
                    </table>

                    <!-- OpenIDs: NOT for new accounts (since an OpenID is generated automatically) -->
              	    {% if form.instance.id %}
              		    {% for openidform in formset2 %}
                            <table>
                                <tr>
                                    <td colspan="2" class="caption_mimic" style="border-top: 1px solid #666;"><strong>Open IDs</strong></td>
                                </tr>
	              			    <tr>
	              				    {{ openidform.id }}
	              				    <th class="white" scope="row" nowrap="nowrap">
                                        <label for="id_claimed_id">
                                            ESGF OpenID
                                        </label>
                                    </th>
	              				    <td style="width:500px;vertical-align:middle;">
	              					    {{ openidform.instance.claimed_id }}
	              					    {{ openidform.claimed_id.as_hidden }}
	              					    {{ openidform.display_id.as_hidden }}
	              					    {{ openidform.user.as_hidden }}
	              				    </td>
	              			    </tr>
                            </table>
			    	    {% endfor %}
		    	    {% endif %}

                    <!--web URLs-->

                    {% if not request.user.is_anonymous %}
	                    <table>
				        <td colspan="5" class="caption_mimic" style="border-top: 1px solid #666;"><strong>Web Sites</strong></td>
		    	        <!-- URLs -->
		    	            <tr>
              	                <td colspan="6">[Optional web sites associated with this COG user account: (e.g. 'Home Page', 'My Blog') ]</td>
                            </tr>
                            {% for urlform in formset1 %}{{ urlform.id }}
				                <tr>
			                        <td style="width:60px;vertical-align:middle;"><label for="id_url-{{forloop.counter0}}-url">Web URL:</label></td>
				                    <td style="width:300px;vertical-align:middle;">{{ urlform.url }} {{ urlform.url.errors }}</td>
			                        <td style="width:30px;vertical-align:middle;"><label for="id_url-{{forloop.counter0}}-name">Title:</label></td>
				                    <td style="width:200px;vertical-align:middle;">{{ urlform.name }} {{ urlform.name.errors }}</td>
			                        <td style="vertical-align:middle;">{{ urlform.DELETE }} <label for="id_url-{{forloop.counter0}}-DELETE">Delete?</label></td>
				                </tr>
		                    {% endfor %}
 	                    </table>
                    {% endif %}


                    <!--captcha and buttons-->
                    <div style="text-align:right;" >
                        <!-- captcha - only when user first register -->
                        {% if not form.instance.id %}
                            <hr style="background-color:#666; margin-top:0;"/>
                            <span id="captcha_element">
	                            Please type the letters in the image to prove you are human:
	                            {{ form.captcha }} {{ form.captcha.errors }}
                            </span>
                        {% endif %}

                        {% if request.user.is_anonymous %}
                            <input type="button" value="Cancel" onclick="window.location='{% url 'site_home' %}'"/>
                        {% else %}
                            <!-- prevent user with non-complete data to hit 'cancel' button -->
                            {% if request.user|isValidUser and form.instance.id %}
                                  <input type="button" value="Cancel" onclick="window.location='{% url 'user_detail' form.instance.id %}'"/>
                            {% endif %}
                        {% endif %}
                        <input type="submit" style="margin-right:4px;" value="Submit" />
                    </div>
                    <!-- optional URL for eventual redirection -->
                    {{ form.next.as_hidden }}
	            </form>
            </div> <!--end div class my box-->
        </div>
    </div>

{% endblock %}