<!-- Template page to display user's profile -->
{% extends "cog/common/layout_center.html" %}
{% load url from future %}

{% load cog_utils %}

{% block main %}
    
    <div class="prepend-1 span-22">
        
        <h2>User Profile</h2>
        
        <div class="span-18">
        
		    <div class="span-8">
		        {% include 'cog/account/_user_profile.html' %} 		        
		   </div>    
		   <div class="span-10 last">
		        {% include 'cog/account/_user_projects.html' %} 
	   	   </div>
	   	   
	   	   <div class="span-18 last">
	   	   		{% include 'cog/account/_user_research.html' %} 
	   	   			   	   				        
		        {% if request.user.id = user_profile.user.id %}
		            <div style="text-align:center">
		                <a href="{% url 'user_update' request.user.id %}">Update my profile</a>
		                &nbsp; &nbsp;
		                <a href="{% url 'password_update' request.user.id %}">Change my password</a>
		            </div>
		        {% endif %}
	   	   </div>
	   
	   </div>
	   
	   <div class="span-4 last">
	   	<img src="{{ user_profile.user|getImage }}" style="border: 1px solid #666666;"/>
	   </div>
   
   </div>
        
    
{% endblock %}