<!-- Template page used to create a user account -->
{% extends "cog/common/layout_center.html" %}
{% load url from future %}

{% load cog_utils %}

{% block head %}

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/autocomplete/assets/skins/sam/autocomplete.css" />
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/animation/animation-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/autocomplete/autocomplete-min.js"></script>
       
    <!-- note: must style the autocomplete containers otherwise it expands to fit the whole window-->
    <style type="text/css">
        #countryAutoComplete {
            width:300px; 
            padding-bottom: 8px;
        }
        #stateAutoComplete {
            width:300px; 
            padding-bottom: 8px;
        }
    </style>
       
    {% include 'cog/account/_countries.html' %}
    {% include 'cog/account/_states.html' %}
       
    <script>
       function init() {
    	   // country
           var countryDataSource = new YAHOO.util.LocalDataSource(countryArray);
           var countryAutoComp = new YAHOO.widget.AutoComplete("id_country", "countryContainer", countryDataSource);
           countryAutoComp.prehighlightClassName = "yui-ac-prehighlight";
           countryAutoComp.useShadow = true;    	
           countryAutoComp.allowBrowserAutocomplete = false;
           // state
           var stateDataSource = new YAHOO.util.LocalDataSource(stateArray);
           var stateAutoComp = new YAHOO.widget.AutoComplete("id_state", "stateContainer", stateDataSource);
           stateAutoComp.prehighlightClassName = "yui-ac-prehighlight";
           stateAutoComp.useShadow = true;    	
           stateAutoComp.allowBrowserAutocomplete = false;
       }
       YAHOO.util.Event.onContentReady("userDiv", init);
       
    </script>
       
{% endblock %}

{% block main %}
    
<div class="prepend-3 span-18">
    
    <h2>{{ mytitle }}</h2>
        
    <div class="yui-skin-sam">        
	    <div class="mybox" id="userDiv">
	    	    
	        <form action="" method="post" enctype="multipart/form-data">
	        
	            {% csrf_token %}
	            
	            <table>
	                <tr>
	                    <td class="head required" nowrap="nowrap">First Name</td>
	                    <td class="long">{{ form.first_name }} {{ form.first_name.errors }}</td>
	                </tr>
	                <tr>
	                    <td class="head required" nowrap="nowrap"><b>Last Name</b></td>
	                    <td class="long">{{ form.last_name }} {{ form.last_name.errors }}</td>
	                </tr>
	                <tr>
	                    <td class="head required" nowrap="nowrap"><b>User Name</b></td>
	                    <td>{{ form.username }}
	                        <i>[ Must be at least 5 characters ]</i>
	                        {{ form.username.errors }}</td>
	                </tr>
	                <tr>
	                    <td class="head required" nowrap="nowrap"><b>Email</b></td>
	                    <td class="long">{{ form.email }} {{ form.email.errors }}</td>
	                </tr>
	                
	                {% if form.instance.id %}	  
		                   <!-- existing user: include encoded password, confirm_password as hidden fields -->  
	                       {{ form.password.as_hidden }}
	                       {{ form.confirm_password.as_hidden }}	                   
	                {% else %}
		                <!-- new user: only display password, confirm_password fields when creating new account -->              
		                <tr>
		                    <td class="head required" nowrap="nowrap"><b>Password</b></td>
		                    <td>{{ form.password }} 
		                       <i>[ At least 6 characters, all characters are allowed ]</i>
		                       {{ form.password.errors }}</td>
		                </tr>
		                <tr>
		                    <td class="head required" nowrap="nowrap"><b>Confirm Password</b></td>
		                    <td>{{ form.confirm_password }} 
		                        <i>[ At least 6 characters, all characters are allowed ]</i>
		                        {{ form.confirm_password.errors }}</td>
		                </tr>
	                {% endif %}
	                <tr>
                        <td class="head required" nowrap="nowrap"><b>Institution</b></td>
                        <td class="long">{{ form.institution }} {{ form.institution.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Department</td>
                        <td class="long">{{ form.department }} {{ form.department.errors }}</td>
                    </tr>
                    <tr>
                        <td class="head required" nowrap="nowrap"><b>City</b></td>
                        <td class="long">{{ form.city }} {{ form.city.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">State</td>
                        <td class="long">
                            <div id="stateAutoComplete">
                            {{ form.state }} <div id="stateContainer"></div></div><br/> {{ form.state.errors }}              
                        </td>
                    </tr>
                    <tr>
                        <td class="head required" nowrap="nowrap"><b>Country</b></td>
                        <td class="long">
                            <div id="countryAutoComplete">
                            {{ form.country }} <div id="countryContainer"></div></div><br/> {{ form.country.errors }}              
                        </td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Research Keywords</td>
                        <td class="long"> 
                        A short list of science fields you are involved with (50 characters maximum).
                        <br/>Example: Software Engineering, Grid Computing, Climate Change.
                        <br/>{{ form.researchKeywords }} {{ form.researchKeywords.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Research Interests</td>
                        <td class="long">
                        A short paragraph describing your research interests (200 characters maximum).
                        <br/>{{ form.researchInterests }} {{ form.researchInterests.errors }}</td>
                    </tr>                    
                    <tr>
                        <td class="head" nowrap="nowrap">Subscribe to COG Email List ?</td>
                        <td class="long">{{ form.subscribed }} <i>[ 'cog_info', low traffic list ]</i> {{ form.subscribed.errors }}</td>
                    </tr>                    
                    <tr>
                        <td class="head" nowrap="nowrap">Do not list me among project members</td>
                        <td class="long">{{ form.private }} {{ form.private.errors }}</td>
                    </tr>                    
                    <tr>
                        <td class="optional" nowrap="nowrap">Picture (Maximum Size: 1MB)</td>
                        <td class="long"> 
                        	<table>
                        		<tr>
                        			<td><img src="{{ request.user|getImage }}" width="150px"/></td>
                        			<td align="left">
			                        	<div style="margin-top:2px">
			                        		{% if not 'unknown' in request.user|getImage %}
			                        			{{ form.delete_image }} Delete current picture ? 			                        		
			                        		{% endif %}                      	                    		
			                        		{{ form.image }} 
			                        		&nbsp;{{ form.image.errors }}
			                        	</div>
                        			</td>
                        	</table>
                        </td>
                    </tr>                                        
 	            </table>
	            
	            <div style="text-align:center">
	                <hr/>
	                Required fields are in <b>bold</b>.<br/>
	                {% if request.user.is_anonymous %}
	                   <input type="button" value="Cancel" onclick="window.location='{% url 'site_index' %}'"/>
	                {% else %}
	                   <input type="button" value="Cancel" onclick="window.location='{% url 'user_detail' request.user.id %}'"/>
	                {% endif %}
	                &nbsp; &nbsp;
	                Except when noted, please use only letters, numbers and the special characters: _ - + @ .
	                &nbsp; &nbsp;
	                <input type="submit" value="Submit" />
	            </div>   
	            
	        </form>
	    
	    </div>
    </div>
</div>
        
{% endblock %}