<!-- Template page used to create a user account -->
{% extends "cog/common/layout_center.html" %}

{% load cog_utils %}

{% block extrahead %}

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/autocomplete/assets/skins/sam/autocomplete.css" />
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/animation/animation-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/autocomplete/autocomplete-min.js"></script>

    <!-- note: must style the autocomplete containers otherwise it expands to fit the whole window-->
    <style type="text/css">
        #countryAutoComplete {
            width:300px;
            padding-bottom: 8px;
        }
        #stateAutoComplete {
            width:300px;
            padding-bottom: 8px;
        }
    </style>

    {% include 'cog/account/_countries.html' %}
    {% include 'cog/account/_states.html' %}

    <script>
    //<![CDATA[

       function init() {
    	   // country
           var countryDataSource = new YAHOO.util.LocalDataSource(countryArray);
           var countryAutoComp = new YAHOO.widget.AutoComplete("id_country", "countryContainer", countryDataSource);
           countryAutoComp.prehighlightClassName = "yui-ac-prehighlight";
           countryAutoComp.useShadow = true;
           countryAutoComp.allowBrowserAutocomplete = false;
           // state
           var stateDataSource = new YAHOO.util.LocalDataSource(stateArray);
           var stateAutoComp = new YAHOO.widget.AutoComplete("id_state", "stateContainer", stateDataSource);
           stateAutoComp.prehighlightClassName = "yui-ac-prehighlight";
           stateAutoComp.useShadow = true;
           stateAutoComp.allowBrowserAutocomplete = false;
       }
       YAHOO.util.Event.onContentReady("userDiv", init);

    //]]>
    </script>

{% endblock %}

{% block main %}

<div class="prepend-3 span-18">

    <h2>{{ mytitle }}</h2>

    <div class="yui-skin-sam">
	    <div class="mybox" id="userDiv">

	        <form action="" method="post" enctype="multipart/form-data">

	            {% csrf_token %}
	            {{ formset1.management_form }}
	            {{ formset2.management_form }}

	            <table>
	                <tr>
	                    <td class="head required" nowrap="nowrap">First Name</td>
	                    <td class="long">{{ form.first_name }} {{ form.first_name.errors }}</td>
	                </tr>
	                <tr>
	                    <td class="head required" nowrap="nowrap"><b>Last Name</b></td>
	                    <td class="long">{{ form.last_name }} {{ form.last_name.errors }}</td>
	                </tr>
	                <tr>
	                    <td class="head required" nowrap="nowrap"><b>User Name</b></td>
	                    <td>{{ form.username }}
	                        <i>[ 5 to 30 characters, letters, digits and @/./+/-/_ only ]</i>
	                        {{ form.username.errors }}</td>
	                </tr>
	                <tr>
	                    <td class="head required" nowrap="nowrap"><b>Email</b></td>
	                    <td class="long">{{ form.email }} {{ form.email.errors }}</td>
	                </tr>

	                {% if form.instance.id %}
		                   <!-- existing user: include encoded password, confirm_password as hidden fields -->
	                       {{ form.password.as_hidden }}
	                       {{ form.confirm_password.as_hidden }}
	                {% else %}
		                <!-- new user: only display password, confirm_password fields when creating new account -->
		                <tr>
		                    <td class="head required" nowrap="nowrap"><b>Password</b></td>
		                    <td>{{ form.password }}
		                       <i>[ At least 6 characters, all characters are allowed ]</i>
		                       {{ form.password.errors }}</td>
		                </tr>
		                <tr>
		                    <td class="head required" nowrap="nowrap"><b>Confirm Password</b></td>
		                    <td>{{ form.confirm_password }}
		                        <i>[ At least 6 characters, all characters are allowed ]</i>
		                        {{ form.confirm_password.errors }}</td>
		                </tr>
	                {% endif %}
	                <tr>
                        <td class="head required" nowrap="nowrap"><b>Institution</b></td>
                        <td class="long">{{ form.institution }} {{ form.institution.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Department</td>
                        <td class="long">{{ form.department }} {{ form.department.errors }}</td>
                    </tr>
                    <tr>
                        <td class="head required" nowrap="nowrap"><b>City</b></td>
                        <td class="long">{{ form.city }} {{ form.city.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">State</td>
                        <td class="long">
                            <div id="stateAutoComplete">
                            {{ form.state }} <div id="stateContainer"></div></div><br/> {{ form.state.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td class="head required" nowrap="nowrap"><b>Country</b></td>
                        <td class="long">
                            <div id="countryAutoComplete">
                            {{ form.country }} <div id="countryContainer"></div></div><br/> {{ form.country.errors }}
                        </td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Interest Keywords</td>
                        <td class="long">
                        A short list of science fields you are involved with (60 characters maximum).
                        <br/>Example: Software Engineering, Grid Computing, Climate Change.
                        <br/>{{ form.researchKeywords }} {{ form.researchKeywords.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Interest Statement</td>
                        <td class="long">
                        A short paragraph describing your professional interests (1000 characters maximum).
                        <br/>{{ form.researchInterests }} {{ form.researchInterests.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Subscribe to COG Email List ?</td>
                        <td class="long">{{ form.subscribed }} <i>[ 'cog_info', low traffic list ]</i> {{ form.subscribed.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Do not list me among project members</td>
                        <td class="long">{{ form.private }} {{ form.private.errors }}</td>
                    </tr>
                    <tr>
                        <td class="optional" nowrap="nowrap">Picture
                        <br/>(Maximum Size: 1MB)
                        <br/>(Format: 'jpg', 'png', or 'gif')
                        </td>
                        <td class="long">
                        	<table>
                        		<tr>
                        			<td>
                        				<img src="{{ form.instance|getImage }}" {% if not 'unknown' in form.instance|getImage %} class="myimage" {% endif %}/>
                        			</td>
                        			<td align="left">
			                        	<div style="margin-top:2px">
			                        		{% if not 'unknown' in form.instance|getImage %}
			                        			{{ form.delete_image }} Delete current picture ?
			                        		{% endif %}
			                        		<br/>
			                        		{{ form.image }}
			                        		&nbsp;{{ form.image.errors }}
			                        	</div>
                        			</td>
                        		</tr>
                        	</table>
                        </td>
                    </tr>
              </table>


              <table>

              		<!-- OpenIDs -->
                    {% for openidform in formset2 %}
		       			{{ openidform.id }}
			        	<tr>
			        		<td colspan="2" nowrap="nowrap">
			        			<span>OpenID: &nbsp; <b>URL</b> {{ openidform.claimed_id }} {{ openidform.claimed_id.errors }}</span>
			        		</td>
			        		<td>
			        			&nbsp; {{ openidform.DELETE }} Delete ?
			        		</td>
				        </tr>
		    		{% endfor %}

		    		<!-- URLs -->
                    {% for urlform in formset1 %}
		       			{{ urlform.id }}
			        	<tr>
			        		<td nowrap="nowrap">
			        			<span>Web Site: <b>URL</b> {{ urlform.url }} {{ urlform.url.errors }}</span>
			        		</td>
			        		<td>
			        			<b>Title</b> {{ urlform.name }} ('Home Page', 'My Blog', ...) {{ urlform.name.errors }}
			        		</td>
			        		<td>
			        			&nbsp; {{ urlform.DELETE }} Delete ?
			        		</td>
				        </tr>
		    		{% endfor %}

  	            </table>

	            <div style="text-align:center">
	                <hr/>
	                Required fields are in <b>bold</b>.<br/>
	                {% if request.user.is_anonymous %}
	                   <input type="button" value="Cancel" onclick="window.location='{% url 'site_index' %}'"/>
	                {% else %}
	                   <input type="button" value="Cancel" onclick="window.location='{% url 'user_detail' form.instance.id %}'"/>
	                {% endif %}
	                &nbsp; &nbsp;
	                The following characters are not allowed: &lt; &gt; &amp; # % { } [ ] $ .
	                &nbsp; &nbsp;
	                <input type="submit" value="Submit" />
	            </div>

	        </form>
			&nbsp;
	    </div>
    </div>
</div>

{% endblock %}