{% extends "cog/common/layout_left_center.html" %}

{% block main %} 
    
    {% for signal in project_signals %}
	    <div class="mybox">
		    <table>
		        <tr>
                    <td class="mimic_caption">
                        <strong>{{ signal.title }}</strong>
                    </td>
                </tr>
		        <tr>
		            <td class="long"> <a href="{{ signal.url }}">{{ signal.description }}</a></td>
		        </tr>	        
		        <tr>
		            <td><em class="message">{{signal.update_date|date:"Y/m/d h:m:s"}} by {{ signal.user }}</em></td>
		        </tr>
		    </table>
	    </div>
    
      {% endfor %}
    
      {% with project_signals as results_page %}
      	 {% include 'cog/common/_pagination.html' %}
      {% endwith %}

{% endblock %}