{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %} 

    {% load pagination_tags %}
    {% autopaginate project_signals 20 %}
    
    {% for signal in project_signals %}
	    <div class="mybox">
		    <table>
		        <tr>
                    <td class="mimic_caption">
                        <strong>{{ signal.title }}</strong>
                    </td>
                </tr>
		        <tr>
		            <td class="long"> <a href="{{ signal.url }}">{{ signal.description }}</a></td>
		        </tr>	        
		        <tr>
		            <td><em class="message">{{signal.update_date|date:"Y/m/d h:m:s"}} by {{ signal.user }}</em></td>
		        </tr>
		    </table>
	    </div>
    
      {% endfor %}
    
    {% paginate %}

{% endblock %}