<!-- template page to display a list of external URLs 
	 @param external_urls: list of ExternalUrl objects to display
	 @param group_title: optional title for the list, if found it replaces the standard table headers
-->

{% load cog_utils %}

{% with proj|get_external_urls:external_url_type as external_urls %}
	<table>
		{% if group_title %}
			<tr>
				<td colspan="3"><b>{{group_title}}</b></td>
			</tr>
		{% else %}
			<tr>
				<td width="100px"><b>Title</b></td>
				<td width="200px"><b>URL</b></td>
				<td><b>Description</b></td>
			</tr>
		{% endif %}
		{% for exturl in external_urls %}
			<tr>
				<td nowrap="nowrap" width="100px">{{exturl.title}}</td>
				<!-- truncate URLs to max length -->
				<td nowrap="nowrap" width="200px"><a href="{{exturl.url}}">{{ exturl.url|urlizetrunc:40 }}</a></td>
				<td valign="top">{{exturl.description|urlizetrunc:50|linebreaksbr}}</td>
			</tr>
		{% endfor %}	
	</table>
{% endwith %}