
{% load cog_utils %}

<table class="no-color">
	<!-- loop over partners -->
	{% for organization in proj|partners %}
		{% if forloop.last %}
            <tr>
        {% else %}
			<tr style="border-bottom:1px solid #999;">
        {% endif %}

			<td>
				<img src="{{ organization|getImage }}" width="60px" />
			</td>
			<td class="long_middle" nowrap="nowrap">
				{% if organization.url %}				
					<a href="{{ organization.url }}">{{organization.name}}</a>
				{% else %}
					{{organization.name}}
				{% endif %}	
				</div>
			</td>			
		</tr>    	
	{% endfor %}
</table>