
{% load cog_utils %}
{% load url from future %}

<style type="text/css">
	.middle { margin-top:20px; }
</style>

<table>
	<!-- loop over partners -->
	{% for organization in proj|partners %}
		<tr>
			<td>
				{% if organization.image %}
					<img src="{{ organization|getImage }}" style="border: 1px solid #666666;" width="60px" />
				{% else %}
					&nbsp;
				{% endif %}
			</td>
			<td class="long" nowrap="nowrap">
				{% if organization.image %}<div class="middle">{% endif %}	
				{% if organization.url %}				
					<a href="{{ organization.url }}">{{organization.name}}</a>
				{% else %}
					{{organization.name}}
				{% endif %}	
				{% if organization.image %}</div>{% endif %}
				</div>
			</td>			
		</tr>    	
	{% endfor %}
</table>