{% load cog_utils %}

{% load pagination_tags %}
{% with proj|getPeople as users %}
    {% autopaginate users 50 %}

       <table style="margin-left:55px; width:500px;">
           <tr>
               <td>
                   <form name="lookupUserForm" action="" method="post">
                   	    {% csrf_token %}
                        <label for="match" style="width:60%; vertical-align: middle;">Search for project member by <strong>User Name</strong>, <strong>First Name</strong>, <strong>Last Name</strong>, or <strong>Email:</strong></label>
                        <input style="vertical-align: middle; width:70%;" type="text" alt="text" name="match" id="match" value="{{request.POST.match}}" />
	   		            <input style="vertical-align: middle;" type="submit" value="Submit"/>
	   		            <input style="vertical-align: middle;" type="button" value="Reset" onclick="window.location='{{ request.get_full_path }}'"/>
                   </form>
               </td>
           </tr>
       </table>
       <p></p>





    {% paginate %}


	<table class="no-color">
	    <tr>
	    	<td class="tophead" width="40px">&nbsp;</td>
	        <td class="tophead" width="80px">Last Name</td>
	        <td class="tophead" width="80px">First Name</td>				                				                
	        <td class="tophead" width="100px">Institution</td>
	        <td class="tophead">Interest Keywords</td>
	    </tr>
	    {% for user in users %}
            {% if forloop.last %}
               <tr>
            {% else %}
			   <tr style="border-bottom:1px solid #D3D3D3;">
            {% endif %}

				{% if user.username %}
					<!-- User -->
					<td>
						<a href="{% url 'user_detail' user.id %}">
							<img src="{{ user|getThumbnail }}" style="width:35px;" />
						</a>
					</td>
					<td>
						<div class="middle">
							<a href="{% url 'user_detail' user.id %}">{{ user.last_name }}</a>
						</div>
					</td>
					<td>
						<div class="middle">
							<a href="{% url 'user_detail' user.id %}">{{ user.first_name }}</a>
						</div>
					</td>                  				
					<td>
						<div class="middle">
							{{ user|getUserAttribute:"institution" }}
						</div>
					</td> 
					<td>
						<div class="middle">
							{{ user|getUserAttribute:"researchKeywords" }}
						</div>
					</td> 
				{% else %}
					<!-- Collaborator -->
					<td>
						<img src="{{ user|getThumbnail }}" style="width:35px;"/>
					</td>
					<td>
						<div class="middle">
							{{ user.last_name }}
						</div>
					</td>
					<td>
						<div class="middle">
							{{ user.first_name }}
						</div>
					</td>                  				
					<td>
						<div class="middle">
							{{ user|getUserAttribute:"institution" }}
						</div>
					</td>  
					<td>
						<div class="middle">
							{{ user|getUserAttribute:"researchKeywords" }}
						</div>
					</td>              					
				{% endif %}
		    </tr>
	    {% endfor %}
	</table>
<div id="myDialog" class="yui-skin-sam"></div>
{% endwith %}
	    

