<!-- overview statement, if available -->
{% if proj.developmentOverview %}
	{{ proj.developmentOverview|linebreaks|urlize }}
{% endif %}

<!-- table with details -->
{% if proj.license or proj.implementationLanguage or proj.bindingLanguage or proj.supportedPlatforms or proj.externalDependencies %}
	<hr/>
	<table>
		
		{% if proj.license %}
			<tr>
				<td class="leftcolumn"><b>License</b></td>
				<td class="long">{{ proj.license|linebreaks|urlize }}</td>
			</tr>
		{% endif %}
		
		{% if proj.implementationLanguage %}
			<tr>
				<td class="leftcolumn"><b>Implementation Language</b></td>
				<td class="long">{{ proj.implementationLanguage }}</td>
			</tr>
		{% endif %}
		
		{% if proj.bindingLanguage %}
			<tr>
				<td class="leftcolumn"><b>Binding Language</b></td>
				<td class="long">{{ proj.bindingLanguage }}</td>
			</tr>
		{% endif %}
		
		{% if proj.supportedPlatforms %}
			<tr>
				<td class="leftcolumn"><b>Supported Platforms</b></td>
				<td class="long">{{ proj.supportedPlatforms|linebreaks|urlize }}</td>
			</tr>
		{% endif %}
		
		{% if proj.externalDependencies %}
			<tr>
				<td class="leftcolumn"><b>External Dependencies</b></td>
				<td class="long">{{ proj.externalDependencies|linebreaks|urlize }}</td>
			</tr>
		{% endif %}
		
	</table>
	
{% endif %}