<!-- Update Contact Us -->


{% load cog_utils %}
   
<table>
    <tr>
		<td nowrap="nowrap"><strong>Project Contacts</strong></td>
		<td class="long">{{proj.projectContacts|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% if proj.technicalSupport %}
	<tr>
		<td nowrap="nowrap"><strong>Technical Support</strong></td>
		<td class="long">{{proj.technicalSupport|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
	{% if proj.meetingSupport %}
	<tr>
		<td nowrap="nowrap"><strong>Meeting Support</strong></td>
		<td class="long">{{proj.meetingSupport|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
	{% if proj.getInvolved %}
	<tr>
		<td nowrap="nowrap"><strong>Get Involved</strong></td>
		<td class="long">{{proj.getInvolved|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
</table>

