<!-- table with details -->
{% if proj.software_features or proj.system_requirements %}
	<table>
	
		{% if proj.software_features %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><b>Features</b></td>
				<td class="long">{{ proj.software_features|urlize|linebreaksbr }}</td>
			</tr>
		{% endif %}
		
		{% if proj.system_requirements %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><b>System Requirements</b></td>
				<td class="long">{{ proj.system_requirements|urlize|linebreaksbr }}</td>
			</tr>
		{% endif %}
				
	</table>	
{% endif %}