<!-- project details page -->

{% load cog_utils %}

<table>
	{% if tab = "ABOUTUS"|tabs %}
	    <tr>
			<td nowrap="nowrap"><b>Long Name</b></td>
			<td class="long">{{proj.long_name}}</td>
		</tr>
		{% if proj.description %}
		<tr>
			<td nowrap="nowrap"><b>Description</b></td>
			<td class="long">{{proj.description|urlizetrunc:50|linebreaksbr}}</td>
		</tr>
		{% endif %}
		{% if proj.external_homepage %}
		<tr>
			<td nowrap="nowrap"><b>Home Page</b></td>
			<td class="long"><a href="{{proj.external_homepage}}">{{proj.external_homepage|urlizetrunc:50}}</a></td>
		</tr>
		{% endif %}
	{% endif %}
	
	{% if tab = "MISSION"|tabs and proj.mission %}
		<tr>
			<td class="long" colspan="2">{{proj.mission|urlizetrunc:50|linebreaksbr}}</td>
		</tr>
	{% endif %}
	
	{% if tab = "VISION"|tabs and proj.vision %}
		<tr>
			<td class="long" colspan="2">{{proj.vision|urlizetrunc:50|linebreaksbr}}</td>
		</tr>
	{% endif %}
		
	{% if tab = "VALUES"|tabs and proj.values %}
	<tr>
		<td class="long" class="long" colspan="2">{{proj.values|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
	
	{% if tab = "HISTORY"|tabs %}
		{% if proj.history %}
			<tr>
				<td nowrap="nowrap"><b>History</b></td>
				<td class="long">{{proj.history|urlizetrunc:50|linebreaksbr}}</td>
			</tr>
		{% endif %}
	{% endif %}
	
	{% if tab = "IMPACTS"|tabs %}
		{% for impact in proj.projectimpact_set.all %}
			<tr>
				<td nowrap="nowrap"><b>Impact</b></td>
				<td class="long">{{impact.description|urlizetrunc:50|linebreaksbr}}</td>
			</tr>
		{% endfor %}
	{% endif %}
	
	{% if tab = "PARTNERS"|tabs %}
		<tr>
			<td align="center">
				{% include 'cog/project/_partners_display.html' %}
			</td>
		</tr>
	{% endif %}
	
	{% if tab = "SPONSORS"|tabs %}
		<tr>
			<td align="center">
				{% include 'cog/project/_sponsors_display.html' %}
			</td>
		</tr>
	{% endif %}
	
	{% if tab = "PEOPLE"|tabs %}	
		<tr>
			<td align="center">
				{% include 'cog/project/_people_display.html' %}
			</td>
		</tr>
	{% endif %}
	
</table>
        