<!-- Update Contact Us -->


{% load cog_utils %}
   
<table>
    <tr>
		<td nowrap="nowrap"><b>Project Contacts</b></td>
		<td class="long">{{proj.projectContacts|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% if proj.technicalSupport %}
	<tr>
		<td nowrap="nowrap"><b>Technical Support</b></td>
		<td class="long">{{proj.technicalSupport|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
	{% if proj.meetingSupport %}
	<tr>
		<td nowrap="nowrap"><b>Meeting Support</b></td>
		<td class="long">{{proj.meetingSupport|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
	{% if proj.getInvolved %}
	<tr>
		<td nowrap="nowrap"><b>Get Involved</b></td>
		<td class="long">{{proj.getInvolved|urlizetrunc:50|linebreaksbr}}</td>
	</tr>
	{% endif %}
</table>

