<!-- project details page -->

{% load cog_utils %}
{% load url from future %}

<table>
	{% if tab = "ABOUTUS"|tabs %}
	    <tr>
			<td nowrap="nowrap"><b>Long Name</b></td>
			<td class="long">{{proj.long_name}}</td>
		</tr>
		{% if proj.description %}
		<tr>
			<td nowrap="nowrap"><b>Description</b></td>
			<td class="long">{{proj.description|linebreaks|urlize}}</td>
		</tr>
		{% endif %}
		{% if proj.external_homepage %}
		<tr>
			<td nowrap="nowrap"><b>Home Page</b></td>
			<td class="long"><a href="{{proj.external_homepage}}">{{proj.external_homepage}}</a></td>
		</tr>
		{% endif %}
		{% if proj.history %}
		<tr>
			<td nowrap="nowrap"><b>History</b></td>
			<td class="long">{{proj.history|linebreaksbr}}</td>
		</tr>
		{% endif %}
	
	{% endif %}
	
	{% if tab = "MISSION"|tabs and proj.mission %}
		<tr>
			<td class="long" colspan="2">{{proj.mission|linebreaksbr}}</td>
		</tr>
	{% endif %}
	
	{% if tab = "VISION"|tabs and proj.vision %}
		<tr>
			<td class="long" colspan="2">{{proj.vision|linebreaksbr}}</td>
		</tr>
	{% endif %}
		
	{% if tab = "VALUES"|tabs and proj.values %}
	<tr>
		<td class="long" class="long" colspan="2">{{proj.values|linebreaksbr}}</td>
	</tr>
	{% endif %}
	
	{% if tab = "PARTNERS"|tabs %}
		<tr>
			<td align="center">
				{% include 'cog/project/_partners_display.html' %}
			</td>
		</tr>
	{% endif %}
	
	{% if tab = "SPONSORS"|tabs %}
		<tr>
			<td align="center">
				{% include 'cog/project/_sponsors_display.html' %}
			</td>
		</tr>
	{% endif %}
	
	{% if tab = "PEOPLE"|tabs %}	
		<tr>
			<td align="center">
				{% include 'cog/project/_people_display.html' %}
			</td>
		</tr>
	{% endif %}
	
</table>
        