<!-- table with details -->
{% if proj.software_features or proj.system_requirements or proj.license or proj.implementationLanguage or proj.bindingLanguage or proj.supportedPlatforms or proj.externalDependencies %}
	<table>
	
		{% if proj.software_features %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>Features</strong></td>
				<td class="long">{{ proj.software_features|urlize|linebreaksbr }}</td>
			</tr>
		{% endif %}
		
		{% if proj.system_requirements %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>System Requirements</strong></td>
				<td class="long">{{ proj.system_requirements|urlize|linebreaksbr }}</td>
			</tr>
		{% endif %}
		
		{% if proj.license %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>License</strong></td>
				<td class="long">{{ proj.license|urlizetrunc:50|linebreaksbr }}</td>
			</tr>
		{% endif %}
		
		{% if proj.implementationLanguage %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>Implementation Language</strong></td>
				<td class="long">{{ proj.implementationLanguage }}</td>
			</tr>
		{% endif %}
		
		{% if proj.bindingLanguage %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>Binding Language</strong></td>
				<td class="long">{{ proj.bindingLanguage }}</td>
			</tr>
		{% endif %}
		
		{% if proj.supportedPlatforms %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>Supported Platforms</strong></td>
				<td class="long">{{ proj.supportedPlatforms|urlizetrunc:50|linebreaksbr }}</td>
			</tr>
		{% endif %}
		
		{% if proj.externalDependencies %}
			<tr>
				<td class="leftcolumn" nowrap="nowrap"><strong>External Dependencies</strong></td>
				<td class="long">{{ proj.externalDependencies|urlizetrunc:50|linebreaksbr }}</td>
			</tr>
		{% endif %}
				
	</table>	
{% endif %}