<!-- Project Latest News --> 

<!-- COG custom filters --> 
{% load cog_utils %}
    
{% if project|projectNews %}
    
    <div class="news_box">
         <table>
             <caption class="news_header">Read News</caption>
             <tr>
             	<td>
		             <div class="news_box_body">
			             <table class="even-color">
				             {% for news in project|projectNews|slice:":5" %}
				                 <tr>
				                     <td>
				                     	<div class="news_text" style="padding: 4px">
					                     	<a href="{% url 'news_detail' news.id %}" style="color:#666666">
					                        <b>{{ news.title|truncatewords:8 }}</b>
					                        </a>
					                        <br/>
					                        {{ news.text|urlizetrunc:20|truncatewords:8 }} 
				                        </div>
				                    </td>
				                 </tr>
			             {% endfor %}
			             </table>
		             </div>
             	</td>
             </tr>
         </table>  
         {% if project_latest_news|length == 1 %}
         	<div class="news_footer">
         		<a href="{% url 'news_list' project.short_name.lower %}">&nbsp;More Project News &raquo;</a>
         	</div>
         {% endif %}
     </div>
     <p/>
{% endif %}