{% extends "cog/common/layout_sidebar_center.html" %}
<!--LOCATION:/cog/templates/cog/project/about_us_form.html-->
{% block main %}

	{% load cog_utils %}
		
	 <form action="" method="post" enctype="multipart/form-data">
	         
	     {% csrf_token %}
	          
		 {% if tab = "ABOUTUS"|tabs %}	
		 <div class="mybox">
		 	<table>	     
		     	 <!-- Update "About Us" tab -->
		     	 <tr>
			        <td nowrap="nowrap"><b>Project Long Name</b></td>
			        <td class="long" colspan="2">
			            {{ form.long_name }} 
			            {{ form.long_name.errors }}
			         </td>
		         </tr>	     
			     <tr>
			        <td nowrap="nowrap"><b>Description</b></td>
			        <td class="long" colspan="2">
			            {{form.description.help_text}}
			            {{ form.description }} 
			            {{ form.description.errors }}
			         </td>
		         </tr>
		         <tr>
			        <td nowrap="nowrap">External Home Page</td>
			        <td class="long" colspan="2">
			            {{ form.external_homepage }} 
			            {{ form.external_homepage.errors }}
			         </td>
		         </tr>	
		      </table>
		 </div>		
		 {% endif %}	
					     
         {% if tab = "MISSION"|tabs %}
         <div class="mybox">
	         <table>
	         	 <tr>
	         	 	<td class="long">{{form.mission.help_text}}</td>
	         	 </tr>
		         <tr>
			        <td class="long">{{ form.mission }} {{ form.mission.errors }}</td>
		         </tr>
		     </table>
		 </div>
		 {% endif %}
			     
	     {% if tab = "VISION"|tabs %}
	     <div class="mybox">
	         <table>
	         	 <tr>
	         	 	<td class="long">{{form.vision.help_text}}</td>
	         	 </tr>
		         <tr>
			        <td class="long">{{ form.vision }} {{ form.vision.errors }}</td>
		         </tr>
		     </table>	
		     </div>	     			         
	     {% endif %}
			     
		 {% if tab = "VALUES"|tabs %}
		 <div class="mybox">
	         <table>
	         	 <tr>
	         	 	<td class="long">{{form.values.help_text}}</td>
	         	 </tr>
		         <tr>
			        <td class="long">{{ form.values }} {{ form.values.errors }}</td>
		         </tr>
		     </table>
		 </div>
		 {% endif %}
		 
		 {% if tab = "IMPACTS"|tabs %}		 
		 	{{ formset.management_form }}
		    {% for form in formset.forms %}
		    	{{ form.id }}
		
				 <div class="mybox">
			        <table>
			        	 <tr>
					        <td nowrap="nowrap"><b>Title</b></td>
					        <td class="long" colspan="2">
					        	{{ form.title.help_text }}
					        	{{ form.title }} 
					        	{{ form.title.errors }}
					        </td>
				         </tr>	 	 
				         <tr>
					        <td nowrap="nowrap"><b>Description</b></td>
					        <td class="long" colspan="2">
					        	{{ form.description.help_text }}
					        	{{ form.description }} 
					        	{{ form.description.errors }}
					        </td>
				         </tr>	 
				         {% if form.instance.id %}
			            	<tr>
			            		<td valign="top" nowrap="nowrap">Delete ?</td>
			            		<td class="long">{{ form.DELETE }}</td>
			            	</tr>
		            	{% endif %}
				 	</table>
				 </div>    
					
		 	{% endfor %}	 
		 {% endif %}
		 
		 
		 {% if tab = "HISTORY"|tabs %}
		 <div class="mybox">
	         <table>
	         	 <tr>
	         	 	<td class="long">{{form.history.help_text}}</td>
	         	 </tr>
		         <tr>
			        <td class="long">{{ form.history }} {{ form.history.errors }}</td>
		         </tr>
		     </table>
		 </div>		 
		 {% endif %}
			           
						 
		 <!-- IF NOT DISPLAYED, MUST RESUBMIT ALL FIELDS AS HIDDEN -->				 		 
		 {% if tab != 'ABOUTUS'|tabs %}
			{{ form.long_name.as_hidden }}
			{{ form.description.as_hidden }}
		 	{{ form.external_homepage.as_hidden }} 
		 					 	
		 {% endif %}
		 
		 {% if tab != 'MISSION'|tabs %}
		 	{{ form.mission.as_hidden }}
		 {% endif %}	 
		 {% if tab != 'VISION'|tabs %}
		 	{{ form.vision.as_hidden }}
		 {% endif %}
		 
		 {% if tab != 'VALUES'|tabs %}
		 	{{ form.values.as_hidden }}
		 {% endif %}
		 
		 {% if tab != 'HISTORY'|tabs %}
		 	{{ form.history.as_hidden }}
		 {% endif %}			
		 
		 {% if tab != 'CONTACTUS'|tabs %}
		 	{{ form.projectContacts.as_hidden }}
		 	{{ form.technicalSupport.as_hidden }}
		 	{{ form.meetingSupport.as_hidden }}
		 	{{ form.getInvolved.as_hidden }}
		 {% endif %}			
		 
		 <!-- ALWAYS resubmit the current site -->
         {{ form.site.as_hidden }}   
		 	 
		 	 
		 				
	     <div style="text-align:right">
	        <input type="button" value="Cancel" onclick="window.location='{% url 'aboutus_display' project.short_name|lower tab %}'"/>
	        <input type="submit" value="Submit" />
         </div>
	     
	 </form>
       
{% endblock %}