{% extends "cog/common/layout_center.html" %}

{% block main %}

	{% load cog_utils %}
	
	<div class="mybox">
		 <form action="" method="post">
		         
		     {% csrf_token %}
		     
		     <table>
		     	 <tr>
			        <td nowrap="nowrap"><b>Project Contacts</b></td>
			        <td class="long">
			            {{ form.projectContacts.help_text }}
			            {{ form.projectContacts }} 
			            {{ form.projectContacts.errors }}
			         </td>
		         </tr>	     
			     <tr>
			        <td nowrap="nowrap"><b>Technical Support</b></td>
			        <td class="long">
			        	{{ form.technicalSupport.help_text }}
			            {{ form.technicalSupport }} 
			            {{ form.technicalSupport.errors }}
			         </td>
		         </tr>
		         <tr>
			        <td nowrap="nowrap"><b>Meeting Support</b></td>
			        <td class="long">
			        	{{ form.meetingSupport.help_text }}
			            {{ form.meetingSupport }} 
			            {{ form.meetingSupport.errors }}
			         </td>
		         </tr>
		         <tr>
			        <td nowrap="nowrap"><b>Get Involved</b></td>
			        <td class="long">
			        	{{ form.getInvolved.help_text }}
			            {{ form.getInvolved }} 
			            {{ form.getInvolved.errors }}
			         </td>
		         </tr>
			 </table>
			        	
		     <div style="text-align:right">
		         <input type="button" value="Cancel" onclick="window.location='{% url 'contactus_display' project.short_name|lower %}'"/>
		         <input type="submit" value="Submit" />
	         </div>
		     
		</form>
	</div>
       
{% endblock %}