{% extends "cog/common/layout_center.html" %}

{% block main %}

	{% load cog_utils %}
	
	<div class="mybox">
		 <form action="" method="post">
		         
		     {% csrf_token %}
		     
		     <table>
		     	 <tr>
			        <td nowrap="nowrap"><b>Project Long Name</b></td>
			        <td class="long" colspan="2">
			            {{ form.long_name }} 
			            {{ form.long_name.errors }}
			         </td>
		         </tr>	     
		         <tr>
			        <td nowrap="nowrap">Mission</td>
			        <td class="long" colspan="2">
			        	{{form.mission.help_text}}.
			        	{{ form.mission }} 
			        	{{ form.mission.errors }}
			      	</td>
		         </tr>
			 </table>
			        	
		     <div style="text-align:right">
		         <input type="button" value="Cancel" onclick="window.location='{% url 'support_display' project.short_name|lower %}'"/>
		         <input type="submit" value="Submit" />
	         </div>
		     
		</form>
	</div>
       
{% endblock %}