{% extends "cog/common/layout_left_center.html" %}
<!-- Keep this form as left-center only. It is too long to have the right widgets. -->
<!--/templates/cog/project/partners_form.html-->

{% load cog_utils %}

{% block main %}


    * indicates a required field
	<form method="post" action="" enctype="multipart/form-data">
		
		{% csrf_token %}
	    {{ formset.management_form }}

	    <div class="mybox">
		    <table>
		    	<caption>{{ project.short_name }} Partners</caption>
                <!--table headers-->
		    	<tr>
		    		<th class="white" scope="col"  nowrap="nowrap"><strong>*Name</strong></th>
		    		<th class="white" scope="col"  nowrap="nowrap">URL</th>
		    		<th class="white" scope="col"  nowrap="nowrap">Logo</th>
		    		<th class="white" scope="col"  nowrap="nowrap">Choose Image (Maximum Size: 1MB)</th>
		    		<th class="white" scope="col"  nowrap="nowrap">Delete?</th>
		    	</tr>
                <!--populate the table-->
		        {% for form in formset %}
	        	    {{ form.id }}
		            <tr>
		                <td style="vertical-align: middle;">{{ form.name }} {{ form.name.errors }}</td>
		                <td style="vertical-align: middle;">{{ form.url }} {{ form.url.errors }}</td>
		                <td style="vertical-align: middle;text-align: center;">
		                 	<!-- always show picture on disk, not latest value from form -->
		            	    <img src="{{ form.instance|getImage }}" style="border: 1px solid #666666;" width="40px" />
		                </td>
		                <td style="vertical-align:middle;">
		            	     <!-- if picture exists show only option to remove it -->
		            	     {% if not 'notfound' in form.instance|getImage and form.image.errors|length == 0 %}
		            			{{ form.delete_image }} Delete current logo?
                             {% else %}
			                    <!-- else, show the image upload widget -->
		            	       {{ form.image }}{{ form.image.errors }}
                             {% endif %}
		                </td>
		                <td style="vertical-align: middle;text-align: center;">{{ form.DELETE }}</td>
		            </tr>
			    {% endfor %}
			</table>
		</div>
	    
      <div style="text-align:right">
	      <input type="button" value="Cancel" onclick="window.location='{% url 'aboutus_display' project.short_name tab %}'"/>
	      <input type="submit" value="Submit" />
      </div>
	    
	</form>


{% endblock %}