{% extends "cog/common/layout_center.html" %}
<!-- keep this template as center only. It is very long -->

{% load cog_utils %}

{% block main %}

	Use this form to update the project external collaborators. Project members are automatically listed.
	
	<p>
	<form method="post" action="" enctype="multipart/form-data">
		
		{% csrf_token %}
	    {{ formset.management_form }}
	    
	    <div class="mybox">
		    <table>
		    	<caption>{{ project.short_name }} External Collaborators</caption>
		    	<tr>
		    		<td style="font-weight: bold;" nowrap="nowrap">First Name</td>
		    		<td style="font-weight: bold;" nowrap="nowrap">Last Name</td>
		    		<td style="font-weight: bold;" nowrap="nowrap">Institution</td>
		    		<td style="font-weight: bold;" nowrap="nowrap">Interests (max 60 chars)</td>
		    		<td style="text-align: center; font-weight: bold;" nowrap="nowrap">Picture</td>
		    		<td style="text-align: center; font-weight: bold;" nowrap="nowrap">(maximum size: 1MB)</td>
		    		<td style="text-align: center; font-weight: bold;" nowrap="nowrap">Delete?</td>
		    	</tr>
		    {% for form in formset %}
	        	{{ form.id }}
		        <tr>
		            <td style="vertical-align: middle;">{{ form.first_name }} {{ form.first_name.errors }}</td>
		            <td style="vertical-align: middle;">{{ form.last_name }} {{ form.last_name.errors }}</td>
		            <td style="vertical-align: middle;">{{ form.institution }} {{ form.institution.errors }}</td>
		            <td style="vertical-align: middle;">{{ form.researchKeywords }} {{ form.researchKeywords.errors }}</td>
		            <td style="vertical-align: middle;">
		            	<!-- always show image on disk, not latest value from form -->
		            	<img src="{{ form.instance.id|getThumbnailById:'Collaborator' }}" style="border: 1px solid #666666;" />
		            </td>
		            <td style="vertical-align: middle;">
		            	{% if not 'unknown' in form.instance|getImage and form.image.errors|length == 0 %}
		            	   <!-- if no image exists, show option to remove current picture -->
			               {{ form.delete_image }} Delete current picture?
			            {% else %}
			                <!-- if image exists, show image upload widget -->
		            	    {{ form.image }} {{ form.image.errors }}
                        {% endif %}
		            </td>
		            <td style="vertical-align: middle; text-align: center;">{{ form.DELETE }}</td>
		        </tr>
			{% endfor %}
			</table>
		</div>
	    
      <div style="text-align:right">
	      <input type="button" value="Cancel" onclick="window.location='{% url 'aboutus_display' project.short_name tab %}'"/>
	      <input type="submit" value="Submit" />
      </div>
	    
	</form>
	
{% endblock %}