{% extends "cog/common/layout_sidebar_center_right.html" %}
{% load url from future %}

{% block main %}

	Use this form to update the project external collaborators. Project member are automatically listed.
	
	<p/>
	<form method="post" action="">
		
		{% csrf_token %}
	    {{ formset.management_form }}
	    
	    <div class="mybox">
		    <table>
		    	<caption>{{ project.short_name }} External Collaborators</caption>
		    	<tr>
		    		<td class="tophead" nowrap="nowrap">First Name</td>
		    		<td class="tophead" nowrap="nowrap">Last Name</td>
		    		<td class="tophead" nowrap="nowrap">Institution</td>
		    		<td class="tophead" nowrap="nowrap">Delete ?</td>
		    	</tr>
		    {% for form in formset %}
	        	{{ form.id }}
		        <tr>
		            <td>{{ form.first_name }} {{ form.first_name.errors }}</td>
		            <td>{{ form.last_name }} {{ form.last_name.errors }}</td>
		            <td>{{ form.institution }} {{ form.institution.errors }}</td>
		            <td>{{ form.DELETE }}</td>
		        </tr>
			{% endfor %}
			</table>
		</div>
	    
      <div style="text-align:right">
	      <input type="button" value="Cancel" onclick="window.location='{% url 'aboutus_display' project.short_name tab %}'"/>
	      <input type="submit" value="Submit" />
      </div>
	    
	</form>
	
{% endblock %}