{% extends "cog/common/layout_sidebar_center_right.html" %}
{% load url from future %}

{% load cog_utils %}

{% block main %} 

	<!-- This project details -->
	{% with project as proj %}
		{% include 'cog/project/_project_aboutus.html' %}	
	{% endwith %}
	
	<!-- Edit this project details - access restricted to project administrators -->
	{% if user|hasAdminPermission:project %}
	   <hr/>
	   <div style="text-align:center">
	   		<a href="{% url 'aboutus_update' project.short_name.lower %}" class="changelink">&nbsp;Update Project About Us</a>
	</div>
	{% endif %}
	
    <!-- children project details-->    
 	{% if project.children %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('children_aboutus'); return false;" class="listlink">&nbsp;Child Project About Us</a>
		</div>
		<div id="children_aboutus" style="display:none">	   	    
		    {% for child in project.children %}
	    		{% with child as proj %}
	    			<br/>
	    			<div class="mybox" style="padding:2px;">
	    				<div style="text-align:center; font-weight:bold; padding-top:1px;">{{ proj.short_name }} Project About Us</div>
						{% include 'cog/project/_project_aboutus.html' %}
					</div>
				{% endwith %}
		    {% endfor %}		
		</div>
	{% endif %}
 
    <!-- peer project details-->    
 	{% if project.peers.all %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('peer_aboutus'); return false;" class="listlink">&nbsp;Peer Project About Us</a>
		</div>
		<div id="peer_aboutus" style="display:none">	   	    
		    {% for peer in project.peers.all %}
	    		{% with peer as proj %}
	    			<br/>
	    			<div class="mybox" style="padding:2px;">
	    				<div style="text-align:center; font-weight:bold; padding-top:1px;">{{ proj.short_name }} Project About Us</div>
						{% include 'cog/project/_project_aboutus.html' %}
					</div>
				{% endwith %}
		    {% endfor %}		
		</div>
	{% endif %}
    
	
{% endblock %}
