{% extends "cog/common/layout_center.html" %}

{% block main %}
 
     <div align="center" class="box-colored">
    
        <form action="" method="post">
            <p></p>
            {% csrf_token %}
            <p></p>
            Are you sure you want to completely delete project <strong>{{ project.full_name }}</strong>?
            <br><div style="color:red">Warning: this operation cannot be undone.</div>          
            <p></p>
            <input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name|lower %}'"/>
            <input type="submit" value="Submit" />
        </form>
        
     </div>
                
{% endblock %}