
{% block right %}
    
    <script>
               
       // function to reload the project widget by ajax call
       function loadProjectBrowser(project_short_name) {
    	   
    	   // loop over YUI tab identifiers, execute separate ajax requests
    	   var tabs = ['this', 'all', 'my']
    	   for (var i=0; i<tabs.length; i++) {
    		   
	    	   // build request URL
	    	   // example: /projects/<project_short_name>/browse/<this|all|my>/[?tag=<tag>]
	    	   var url = "/projects/"+project_short_name+"/browse/"+tabs[i]+"/";
	    	   var tag = document.getElementById('projectBrowserText').value;
	    	   if (tag != null && tag!="") url += "?tag="+tag;
	    	   
	    	   // define the callback function dynamically
	    	   // so to pass in the target tab identifier as extra argument
	    	   var callback = {
	 				  success:handleSuccess,
	 				  failure: handleFailure,
	 				  cache:false,
	 				  timeout:5000,
	 				  argument: [],
	    	   }
			   // pass in target tab identifier as extra argument to ajax callback
			   callback.argument[0] = tabs[i]+"ProjectsBrowser";
	
			   // execute asynchronous GET request
			   var transaction = YAHOO.util.Connect.asyncRequest('GET', url, callback, null);
			
    	   }
    	   
       }
       	   
		// function called if Ajax request failed
		var handleFailure = function(o) {
			showMessage("An Error Occurred",
					    "HTTP Status Code: "+o.status+"<br/>Message: "+o.statusText);
		}
		
		// function called if Ajax request succeded
		var handleSuccess = function(o) {
			
			// retrieve target tab id from callback extra argument
			tabId = o.argument[0]
			
			// replace browser window with new content
			document.getElementById(tabId).innerHTML = o.responseText;
			
		}
		       
   </script>
   
   <script>
   
    // FIXME: OBSOLETE
    function add_news() {
    	
    	// FIXME
        // news submission form (one per page, for all projects)    	
    	form = document.getElementById("treeForm");
        
        // keep track of all projects notified, to avoid double entries
        projects = {"{{ project.short_name }}":1}
    	
    	// loop over all project trees
    	for (var key in trees) {
    	
    		var _projects = trees[key].getNodesByProperty('highlightState',1); 
	    	if (!YAHOO.lang.isNull(_projects)) {  
	    	  // loop over selected projects
	    	  for (var i=0; i<_projects.length; i++) {
	    		 // extract the content of the <a>...</a> tag
	    		 var text = _projects[i].html.match(/<a .*>(.*)<\/a>/);
	    		 var projectName = RegExp.$1;
	    		 // insert project if not done already
	    		 if (projects[projectName]==null) {
	    			    var el=document.createElement('input');
	    			    el.type="hidden";
	    			    el.name = "other_projects";
	    			    el.value = projectName;
	    			    form.appendChild(el);
	    			    projects[projectName] = 1;
	    		 }
	    	  } 
	    	}
    	
        }
    	
    	// submit form
    	form.submit();
    }
   
   </script>
   
   <!--  FIXME OBSOLETE -->
   <!-- CSS classes to display node type icons 
   <style type="text/css"> 
      .this { height: 16px; padding-left: 18px; margin: 4px; background: transparent url({{MEDIA_URL}}cog/img/tick.png) 0 0px no-repeat; font-weight: bold; } 
      .parent { height: 16px; padding-left: 18px; margin: 4px; background: transparent url({{MEDIA_URL}}cog/img/up_left2.png) 0 0px no-repeat; } 
      .peer { height: 16px; padding-left: 18px; margin: 4px; background: transparent url({{MEDIA_URL}}cog/img/right1.png) 0 0px no-repeat; } 
      .child { height: 16px; padding-left: 18px; margin:4px; background: transparent url({{MEDIA_URL}}cog/img/down_right2.png) 0 0px no-repeat; } 
   </style> -->
   <style type="text/css"> 
      .this { height: 16px; padding-left: 2px; margin: 4px; font-weight: bold; font-size: 8pt; } 
      .parent { height: 16px; padding-left: 2px; margin: 4px; font-size: 8pt;  } 
      .peer { height: 16px; padding-left: 2px; margin: 4px; font-size: 8pt;  } 
      .child { height: 16px; padding-left: 2px; margin:4px; font-size: 8pt; } 
   </style>  
   
     
   <style type="text/css">
   
    .projects_footer {
	    margin: 0px;
	    padding: 2px 5px 3px 5px;
	    font-size: 8pt;
	    text-align: left;
	    font-weight: bold;    
	    /* COG STYLE: PROJECTS FOOTER BACKGROUND COLOR */
	    background-color: #FCE79F;
	    /* background: #7CA0C7 url(../../img/admin/default-bg.gif) top left repeat-x; */
	    color: #666666;
	    /* COG STYLE: PROJECTS FOOTER BORDER COLOR */
	    border: 0px;
	    border-top: 1px solid #666666;
	    display: block;
	}
	
	/* NOTE: scrollbar controlled by "overflow-y: auto;" in tabview.css */
	.project_widget {
	    margin: 0px;
	    padding: 0px;
	    font-size: 8pt;
	    text-align: left;
	    /* font-weight: bold; */
	    background-color: #FFFFFF;
	    border: 1px solid #666666;
	    color: #666;
	    display: block;
	}
	
	.project_browser_bar {
		margin-bottom: 2px;
		margin-top: 2px;
		padding: 2px 5px 3px 5px;
		font-size: 9pt;
		text-align: left;
		font-weight: bold;
		background-color: #FCE79F;
		color: #666;
		display: block;
		border-top: 1px solid #666;
		border-bottom: 1px solid #666;
	}
	
	.project_browser_bar a:link,
	.project_browser_bar a:visited {
		color: #666;
		text-decoration: none;
	}
	
	#project_browser_controls {
		border-top: 1px solid #666;
		background-color: #FCE79F;
		padding: 0px;
		margin: 0px;
	}
	
	#parent_projects, #peer_projects, #child_projects {
		overflow-y: scroll;
		margin-left: 0.3em;
		margin-right: 0.3em;
	}
	
	#all_projects, #my_projects {
		overflow-y: auto;
		margin: 0.3em;
	}
	
	.tabs_caption {
	    margin: 0px;
	    padding: 2px 5px 3px 5px;
	    font-size: 8pt;
	    text-align: left;
	    font-weight: bold;
	    background-color: #FCE79F;
	    color: #666;
	    display: block;
	}
	
	.project_widget table td {
	    /* important: must align project labels with middle of checkbox */ 
		vertical-align: middle;
	}
	
   </style>
   
   <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/yui/tabview.css" />     
   
  <!-- COG custom filters --> 
  {% load cog_utils %}
  {% load url from future %}
    
  <!-- text search form -->
  <div class="search-box">
       <div class="search_header">Data Search</div>
       <div style="width:100%; padding:4px;">
	       <form action='{% url 'search' project.short_name.lower %}' method="post" id="search-form">
	            {% csrf_token %} 
	            <!-- <input type="hidden" name="offset" value="0" /> -->
	            <!-- <input type="hidden" name="limit" value="10" /> -->
	            <input type="hidden" name="type" value="Dataset" />	                
                <input type="text" name="text" size="24" value="" style="width:75%"/>&nbsp;<input type="submit" value="Go"/>
                <!--  <select name="type">
                    <option value="Dataset">Data</option>
                    <option value="Model">Models</option>
                    <option value="Document">Documents</option>
                </select> -->		            
	       </form>
       <a href="{% url 'search' project.short_name.lower %}" class="listlink">&nbsp; &nbsp;Advanced Data Search</a>
       </div>
  </div>
  <p/>
  
   <!-- Project Connections -->
   <div class="yui-skin-sam">     
     <div class="project_widget">
     
       <div id="project_views" class="yui-navset">  
          <div class="tabs_caption">Project Views</div>  
          <ul class="yui-nav">
              <li class="selected">&nbsp;&nbsp;<a href="#tab1"><em>This</em></a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="#tab2"><em>All</em></a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="#tab3"><em>My</em></a>&nbsp;&nbsp;</li>
          </ul>  
          <div class="yui-content">
              <div id="thisProjectsBrowser">&nbsp;</div>
              <div id="allProjectsBrowser">&nbsp;</div>
              <div id="myProjectsBrowser">&nbsp;</div>
          </div>
       </div>       
       
       <!-- project widget controls -->
	   <div id="project_browser_controls">
	       <table>
	       	<tr>
		       <td class="long"><input type="text" id="projectBrowserText" onkeydown="if (event.keyCode == 13) document.getElementById('projectBrowserButton').click()" /></td>
		       <td><input type="button" id="projectBrowserButton" value="Go" onclick="javascript:loadProjectBrowser('{{project.short_name}}')" /></td>
	       	</tr>
	       </table>   
       </div>
      
	   <!-- News submission form -->
	   {% if user|hasUserPermission:project %}
	     	<!-- news submission form - one per page, for all project trees -->
		    <form name="treeForm" id="treeForm" method="GET" action="{% url 'news_add' project.short_name %}" />
	     
	     	<div class="projects_footer">
	           &nbsp;<a href="javascript:add_news()" class="addlink"> <span style="font-size:7pt">Publish {{ project.short_name }} News &raquo;</span></a>
	     	</div>
	   {% endif %}
     
      </div>  
    </div>   

	<!-- render YUI tabs -->
    <script>var myTabs = new YAHOO.widget.TabView("project_views");</script>
    
    <!-- populate project browser -->
    <script>loadProjectBrowser('{{ project.short_name }}')</script>
   
    <p/>
   
    <!-- include project latest news, if available -->
    {% include 'cog/project/_project_latest_news.html' %}
   
{% endblock %}