{% extends "cog/common/layout_sidebar_center_right.html" %}
{% load url from future %}


{% block main %}

	{% load cog_utils %}
	
	<p/>          
	Select existing tags to use for this project, 
	or create new tags using only letters, numbers, '_' or '-'.	 
	Tags not associated with any project are automatically deleted.   
	<br/>
	

	<form action="" method="post">
	        
 		{% csrf_token %}
    	{{ formset.management_form }}
	 			
		<div class="mybox">	 
			<table>	 			
				{% for form in formset %}
					{{ form.id }}
					<tr>
						<td class="required" nowrap="nowrap"><div style="margin-top:4px">Tag Name:</div></td>
	        		<td class="long">
	        			{% if form.instance.id == None %}
	        				{{ form.name }} {{ form.name.errors }}
	        			{% else %}
	        				<div style="margin-top:4px">{{ form.instance.name }}</div>
	        				{{ form.name.as_hidden }}
	        			{% endif %}
	        		</td>
	        		<td nowrap="nowrap">
	        			{% if form.instance.id %}
	        				<div style="margin-top:2px">&nbsp;{{ form.this_project }} Use for this project ?</div>
	        			{% endif %}
	        		</td>
					</tr>	 				
				{% endfor %} 				 			
			</table>
		</div>
	
	<div style="text-align:right">
    	<input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name|lower %}'"/>
        <input type="submit" value="Submit" />
    </div>	    

	</form> 	
{% endblock %}