{% extends "cog/common/layout_sidebar_center_right.html" %}

{% load cog_utils %}

{% block main %} 

	<!-- this project -->
	{% with project as proj %}
		{% include template_page %}	
	{% endwith %}
	
	<!-- Edit this project details - access restricted to project administrators -->
	{% if template_form_name %}
		{% if user|hasAdminPermission:project %}
		   <hr/>
		   <div style="text-align:center">
		   		<a href="{% url template_form_name project.short_name.lower %}" class="changelink">&nbsp;Update Project {{ template_title }}</a>
		</div>
		{% endif %}
	{% endif %}
	
    <!-- children projects-->    
 	{% if children %}
		<br/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('children_rollup'); return false;" class="listlink">&nbsp;Child Project {{ template_title}}</a>
		</div>
		<div id="children_rollup" style="display:none">	   	    
		    {% for child in children %}
	    		{% with child as proj %}
	    			<br/>
	    			<div class="mybox" style="padding:2px;">
	    				<div style="text-align:center; font-weight:bold; padding-top:1px;">{{ proj.short_name }} Project {{ template_title}}</div>
						{% include template_page %}
					</div>
				{% endwith %}
		    {% endfor %}		
		</div>
	{% endif %}
 
    <!-- peer projects-->    
 	{% if peers %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('peer_rollup'); return false;" class="listlink">&nbsp;Peer Project {{ template_title}}</a>
		</div>
		<div id="peer_rollup" style="display:none">	   	    
		    {% for peer in peers %}
	    		{% with peer as proj %}
	    			<br/>
	    			<div class="mybox" style="padding:2px;">
	    				<div style="text-align:center; font-weight:bold; padding-top:1px;">{{ proj.short_name }} Project {{ template_title}} </div>
						{% include template_page %}
					</div>
				{% endwith %}
		    {% endfor %}		
		</div>
	{% endif %}
    
	
{% endblock %}
