{% extends "cog/common/layout_center.html" %}}

{% block main %}

	{% load cog_utils %}
	
	<script language="javascript">
	
		// function that selects/deselects tab/subtabs checkboxes to insure consistency
		function trigger(checkbox) {
			
			// if subtab is checked, tab must be checked
			if (checkbox.checked==true) {
				
				if (   checkbox.name == "tab_Mission"  || checkbox.name == "tab_Vision"   || checkbox.name == "tab_Values"
					|| checkbox.name == "tab_Partners" || checkbox.name == "tab_Sponsors" || checkbox.name == "tab_People"	) {
					document.getElementsByName("tab_About Us")[0].checked = true; 
				}
				
				else if (   checkbox.name == "tab_Download / Releases"  || checkbox.name == "tab_Installer's / Administrator's Guide") {
					document.getElementsByName("tab_Software")[0].checked = true; 
				}
				
				else if (   checkbox.name == "tab_Code"  || checkbox.name == "tab_Trackers"   || checkbox.name == "tab_Use Cases") {
					document.getElementsByName("tab_Development")[0].checked = true; 
				}
				
				else if (   checkbox.name == "tab_Bodies"  || checkbox.name == "tab_Roles"   || checkbox.name == "tab_Communication"
						 || checkbox.name == "tab_Processes"  || checkbox.name == "tab_Policies") {
					document.getElementsByName("tab_Governance")[0].checked = true; 
				}

				
			// it tab is not checked, all subtabs must be not-checked
			} else if (checkbox.checked==false) {
				
				if (checkbox.name == "tab_About Us") {
					document.getElementsByName("tab_Mission")[0].checked = false;
					document.getElementsByName("tab_Vision")[0].checked = false;
					document.getElementsByName("tab_Values")[0].checked = false;
					document.getElementsByName("tab_Partners")[0].checked = false;
					document.getElementsByName("tab_Sponsors")[0].checked = false;
					document.getElementsByName("tab_People")[0].checked = false;
				}
				
				else if (checkbox.name == "tab_Software") {
					document.getElementsByName("tab_Download / Releases")[0].checked = false;
					document.getElementsByName("tab_Installer's / Administrator's Guide")[0].checked = false;
				}
				
				else if (checkbox.name == "tab_Development") {
					document.getElementsByName("tab_Code")[0].checked = false;
					document.getElementsByName("tab_Trackers")[0].checked = false;
					document.getElementsByName("tab_Use Cases")[0].checked = false;
				}
				
				else if (checkbox.name == "tab_Governance") {
					document.getElementsByName("tab_Bodies")[0].checked = false;
					document.getElementsByName("tab_Roles")[0].checked = false;
					document.getElementsByName("tab_Communication")[0].checked = false;
					document.getElementsByName("tab_Processes")[0].checked = false;
					document.getElementsByName("tab_Policies")[0].checked = false;
				}
				
			}
			
		}
	</script>
	 
     <div class="mybox">
     
        <!-- note: action form can be "add" or "update" -->
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <table>
                <tr>
                	<!-- new project -->
                	{% if action == 'add' %}
                    	<td valign="top" nowrap="nowrap"><b>Short Name</b></td>
                    	<td>{{ form.short_name }} <span style="margin-top:2px">[ {{ form.short_name.help_text }} ]</span> 
                    		{{ form.short_name.errors }}
                    		<br/>WARNING: the project's 'Short Name' CANNOT be changed after project registration.
                    	</td>
                    <!-- project already existing - cannot change short name -->
                    {% else %}
                    	<td valign="top" nowrap="nowrap"><b>Short Name</b></td>
                    	<td>{{ form.instance.short_name }} {{ form.short_name.as_hidden }}</td>                   	
                    {% endif %}
                </tr>               
                <tr>
                    <td nowrap="nowrap"><b>Long Name</b></td>
                    <td class="long">{{ form.long_name }} {{ form.long_name.errors }}</td>
                </tr>
                <tr>
                    <td nowrap="nowrap"><b>Creator</b></td>
                    <td class="long">
                        {% if form.instance.author %}
                            {% if form.instance.author.get_full_name %}
                                <a href="mailto:{{form.instance.author.email}}">{{ form.instance.author.get_full_name }}</a>
                            {% else %}
                                <a href="mailto:{{form.instance.author.email}}">{{ form.instance.author.username }}</a>
                            {% endif %}
                            <span style="margin-top:2px">[ You may email the project creator for any questions concerning its metadata. ]</span>
                        {% endif %}
                        {{ form.author.as_hidden }}
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap"><b>Description</b></td>
                    <td>{{ form.description }} {{ form.description.errors }}</td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Parent Projects</td>
                    <td>
                        {{ form.parents }} {{ form.parents.errors }}
                        <br /> [ To RETAIN or ADD new selections hold down the "Control" key (Windows), or the "Command" key (Mac).
                                 Assigning parent projects is NOT required. ]
                        
                    </td>
                </tr>
                <tr>
                    <td nowrap="nowrap">Peer Projects</td>
                    <td>
                        {{ form.peers }} {{ form.peers.errors }}
                        <br /> [ To RETAIN or ADD new selections hold down the "Control" key (Windows), or the "Command" key (Mac).
                                 Assigning peer projects is NOT required. ]
                    </td>
                </tr>
                <tr>
                	<td nowrap="nowrap">Tabs</td>
                	<td>
                	    <div style="text-align: center">
                	    	<b>IMPORTANT: &nbsp; if you enable a project "tab" or "subtab", please make sure to populate the corresponding page with content</b>.
                		</div>
                		<!-- Note: home tab checkbox is disabled because it must always be present -->
                		<table>
                			<tr>
								{% for tablist in tabs %}
									<!-- Home tab - always selected -->
									{% if forloop.counter == 1 %}
										<input name="tab_{{tablist.0.label}}" type="hidden"/>
									{% else %}
										<td>
											<table>
												{% for tab in tablist %}
													<tr>
														<td>
															{% if forloop.counter == 1 %}
															{% endif %}
															<input name="tab_{{tab.label}}"  
															       {% if tab.active %} checked="checked" {% endif %}							       
															       type="checkbox" onclick="trigger(this)">
															       {% if tab.label == 'Bookmarks' %}
															       		Resources					
															       {% else %}
															       		{{tab.label}}
															       {% endif %}					
														</td>
													</tr>
												{% endfor %}
											</table>
										</td>
									{% endif %}
								{% endfor %}
							</tr>
						</table>
                	</td>
                </tr>
                <tr>
                    <td nowrap="nowrap"><div style="margin-top:2px">Project Logo</div></td>
                    <td> <span style="margin-top:2px">
                    	 	{{ form.logo }} 
                         	{{ form.logo.errors }} &nbsp; 
                         	[ optional project logo, will be displayed with height=70px ]
                    	 	<br>&nbsp;</br>
                    	 	{{ form.logo_url }} &nbsp; [ optional URL to hyperlink logo, defaults to project home]
                    	</span>
                    </td>
                </tr>                                         
                <!-- only allow site administrators to change the active state of a project  -->
                {% if request.user.is_staff and action == 'update' %}
	                <tr>
	                    <td nowrap="nowrap">Is Active ?</td>
	                    <td>
	                        {{ form.active }} 
	                        [ Click on the check-box to initialize the project and enable access. Unclick to disable access. ]
	                        {{ form.active.errors }}
	                    </td>
	                </tr>
                {% else %}
                   {{ form.active.as_hidden }}
                {% endif %}
                <tr>
	            	<td nowrap="nowrap">Is Private ?</td>
	                <td>
	                    {{ form.private }} 
	                    [ A private project is only visible to project members - users and administrators. ]
	                    {{ form.private.errors }}
	                </td>
	            </tr>
           </table>           
                 
          <div style="text-align:right">
          	{% if project %}
                <input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name|lower %}'"/>
            {% else %}
            	<input type="button" value="Cancel" onclick="window.location='{% url 'cog_index' %}'"/>
            {% endif %}
                <input type="submit" value="Submit" />
          </div>
           
        </form>
        
     </div>
                
{% endblock %}