{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block main %}

	{% load cog_utils %}
	
	<p>
	    Select from the list of pre-existing tags or create a new tag.
    </p>
	<p>
        Tags not associated with any project are automatically deleted from the system.
	</p>

	<form action="" method="post">
	        
 		{% csrf_token %}
    	{{ formset.management_form }}
	 			
		<div class="mybox">	 
			<table>	 
				<tr>
					<td style="width:30%; vertical-align: top; text-align: right;" nowrap="nowrap">Choose one or more existing tags:</td>
					<td>{{ form.tags }} {{ form.tags.errors }}</td>
				</tr>		
				<tr>
					<td style="width:30%; text-align: right; vertical-align: middle;" nowrap="nowrap">Or enter a new tag:</td>
					<td>{{ form.name }} {{ form.name.errors }}</td>
				</tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                       <b>Use only letters, numbers, '_' or '-' (maximum of 20 characters per tag).</b>
                    </td>
                </tr>
			</table>
		</div>
	
	<div style="text-align:right">
    	<input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name|lower %}'"/>
        <input type="submit" value="Submit" />
    </div>	    

	</form> 	
{% endblock %}