{% extends "cog/common/layout_sidebar_center_right.html" %}
{% load url from future %}


{% block main %}

	{% load cog_utils %}
	
	<p/>          
	Select existing tags to use for this project, 
	or create new tags using only letters, numbers, '_' or '-' (maximum of 20 characters per tag).	 
	Tags not associated with any project are automatically deleted.   
	<br/>
	

	<form action="" method="post">
	        
 		{% csrf_token %}
    	{{ formset.management_form }}
	 			
		<div class="mybox">	 
			<table>	 
				<tr>
					<td nowrap="nowrap" class="righttop">Choose one or more existing tags:</td>
					<td> {{ form.tags }} {{ form.tags.errors }}</td>
				</tr>		
				<tr>
					<td nowrap="nowrap" class="right">Or enter a new tag:</td>
					<td class="long">{{ form.name }} {{ form.name.errors }}</td>
				</tr>				 			
			</table>
		</div>
	
	<div style="text-align:right">
    	<input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name|lower %}'"/>
        <input type="submit" value="Submit" />
    </div>	    

	</form> 	
{% endblock %}