<!--START:/cog/templates/cog/project/project_right.html-->
<!--HTML validations requires the css to be outside the block -->

{% block right %}
{% load cog_utils %}
  <!-- Data Search widget -->
  {% if project.dataSearchEnabled %}
	  <div class="search-box">
	       <div class="right_widget_header" style="border-bottom:1px solid black;">
               <span style="vertical-align: middle;">
                   Search &amp; Download Data
               </span>
               <span style="display:inline-block; vertical-align: -3px;">
                   <a href="https://www.earthsystemcog.org/projects/cog/doc/data_services/search_help" target="_blank">

                    <img alt="question mark icon" style="width: 13px; float:right;" src="/static/cog/img/question_gray.png">
                       </a>
               </span>
           </div> <!--// end div.right_widget_header //-->

	       <div id="search_entry" style="padding:4px; padding-right:0; margin:0;">
		       <form action="{% url 'search' project.short_name.lower %}" method="post" id="search-form">
		            {% csrf_token %}
		            <!-- <input type="hidden" name="offset" value="0" /> -->
		            <!-- <input type="hidden" name="limit" value="10" /> -->
		            <input type="hidden" name="type" value="Dataset" />
                   <!--original width: 137px;-->
	                <input type="text" name="query" size="24" value="" style="width:142px; font-size:8.5pt; padding:0; margin:0; padding-left:2px;" placeholder="Simple Text Search"/>
                    <input class="right_go" type="submit" value="Go"/>
                    <!--<input class="search_help" type="button" value="Help" onclick="window.open('https://www.earthsystemcog.org/projects/cog/doc/data_services/search_help', '_blank') " />-->

	                <!--  <select name="type">
	                    <option value="Dataset">Data</option>
	                    <option value="Model">Models</option>
	                    <option value="Document">Documents</option>
	                </select> -->
		       </form>
               <!-- add help text-->

	           <div>
                   <a class="listlink" href="{% url 'search' project.short_name.lower %}">&nbsp; Search with options</a>
               </div>
	       </div> <!--// end div id=search_entry //-->
	  </div> <!--//end div.search-box //-->
  {% endif %}

  <!-- News widget loaded via cog/project/_project_latest_news.html  -->
  {% include 'cog/project/_project_latest_news.html' %}

   <!-- Project Browser widget -->
   <div class="yui-skin-sam">
     <div class="project_widget">

       <div id="project_views" class="yui-navset">
          <div class="right_widget_header">Browse Projects</div>

          <ul class="yui-nav">
              <!--// urls in the list below don't go anywhere. Some sort of link is required to get the javascript
              to work, but it can be anything. It shows up in the hover, so it is made descriptive. -->
              <li class="selected">&nbsp;&nbsp;<a href="/project_browser/this/"><em><strong>This</strong></em></a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="/project_browser/all/"><em><strong>All</strong></em></a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="/project_browser/my/"><em><strong>My</strong></em></a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="/project_browser/tags/"><em><strong>Tags</strong></em></a>&nbsp;&nbsp;</li>
          </ul>
           <!-- actual list of projects under their accordions -->
          <div class="yui-content">
              <div id="thisProjectsBrowser">&nbsp;</div>
              <div id="allProjectsBrowser">&nbsp;</div>
              <div id="myProjectsBrowser">&nbsp;</div>
              <div id="tagsProjectsBrowser">&nbsp;</div>
          </div>
       </div> <!--// end div id=project_views //-->

       <!-- project tagging -->
       <!-- Note, the style of the YUI divs were modified significantly from their defaults in order to match up with the Django divs in the search widget. The main items involved
       changing the position back to static and display back to inline. -->

	   <div id="project_browser_controls">
	       <div id="tag_entry" style="padding:4px; padding-bottom: 2px; padding-right:0; margin:0;">
                <!--class=yui-ac-->
		        <div id="tagAutoComplete" style="margin:0; padding:0; margin-top:8px; width:180px; position:static; display:inline;">

			        <!--class=yui-ac-input-->
                    <label for="projectBrowserText" style="display:none;">Enter Tag</label>
                    <!--ONCLICK: land on All -->
		            <input type="text" onclick="gotoTab(1);" id="projectBrowserText" placeholder="Enter Tag" style="width:178px; position:static;
		             font-size:8.5pt; padding:0; padding-left:2px; margin:0;" alt="projectBrowserText" />

		            <div style="width:177px" id="tagContainer"> <!-- make size 1px smaller than input above -->

		            </div>
		        </div>
               <!-- add buttons -->
                <div style="text-align: left; width:181px; margin:0; padding:0; margin-top:4px;">
                    <!-- SAVE: land on Tags -->
                	{% if not request.user.is_anonymous %}
                     <input class="right_go" style="width:60px; margin:0" type="submit" value="Save Tag" id="saveUserTag"
	                         onclick="saveUserTag();gotoTab(3);"/>
	                   
	                {% endif %}
                    <!--RESET: Land on This-->
	                <input class="right_go" style="width:45px; margin:0; margin-left:1px;"
	                   type="submit" value="Reset" id="resetProjectBrowserButton" 
	                   onclick="document.getElementById('projectBrowserText').value='';
                               loadProjectBrowser('{{project.short_name}}'); gotoTab(0); "/>
                    <!--GO: Land on All-->
                    <input class="right_go" style="float:right; margin:0;"
	                   type="submit" value="Go" id="projectBrowserButton"
	                   onclick="document.getElementById('projectBrowserText'); loadProjectBrowser('{{project.short_name}}');gotoTab(1);  "/>
	                   
	                <!-- form to save a user tag -->
	                <form action="{% url 'save_user_tag' %}" method="post" id="save-user-tag-form">
	            		{% csrf_token %}
			            <input type="hidden" name="redirect" value="{{ request.build_absolute_uri }}" />
			            <input type="hidden" name="tag" value="" />
		       		</form>
		       		                   
	                <!-- form to delete a user tag -->
	                <form action="{% url 'delete_user_tag' %}" method="post" id="delete-user-tag-form">
	            		{% csrf_token %}
			            <input type="hidden" name="redirect" value="{{ request.build_absolute_uri }}" />
			            <input type="hidden" name="tag" value="" />
		       		</form>
	                   
                </div>
		   </div>
           <!-- add help text-->
	       <div style="text-align:left; font-style: italic; margin-left: 5px; padding-bottom:2px; padding-top:1px;">
                Start typing, or use the 'Delete' key to show all available tags.
           </div>
       </div><!--// end div id=project_browser_controls //-->

     </div><!--end div id=project_widget //-->
   </div><!--end div id=yui-skin-sam // -->

   <!--display project tags-->
    <!-- font size has to be the same as the #user_menu -->
   <div style="font-size: 12px; margin-top: 3px; margin-left: 4px; color:#666666; font-style:italic;">

       {% if project.tags.all|length > 0 %}
           <strong>{{ project.short_name }} Tags:</strong>
           {% for tag in project|list_project_tags %}
               {% if forloop.last %}
                   {{ tag }}
               {% else %}
                   {{ tag }},
               {% endif %}
           {% endfor %}
       {% else %}
           <strong>{{ project.short_name }} Tags:</strong> None
       {% endif %}
   </div>

   <!-- render YUI tabs -->
   <script type="text/javascript">
       var myTabs = new YAHOO.widget.TabView("project_views");
   </script>
   <!-- populate project browser (invokes view 'project_browser()') -->
   <script type="text/javascript">
       loadProjectBrowser('{{ project.short_name }}')
   </script>
   <!-- initialize tags autocompletion -->
   <script type="text/javascript">
       initTags();
   </script>

   
<!--//END: /cog/templates/cog/project/project_right.html //-->
{% endblock %}


    