{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block main %}

	{% load cog_utils %}
	{% load url from future %}

	<!-- This project roadmap -->
	{% with project.roadmap as external_urls %}
		{% include 'cog/project/_external_urls_list.html' %}
	{% endwith %}
	
	<hr/>
	
	<!-- Edit this project roadmap - access restricted to project members -->
    {% if user|hasUserPermission:project %}
       <div style="text-align:center">
        <a href="{% url 'roadmap_update' project.short_name.lower %}" class="changelink">&nbsp;Update Roadmap</a>
	   </div>
    {% endif %}
    
    <!--  Peer project roadmap -->
    {% if peers %}
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('peers_urls'); return false;" class="listlink">&nbsp;Peer Projects Roadmap</a>
		</div>
		<div class="mybox" id="peers_urls" style="display:none">
	   	    
		    {% for prj in peers %}
	    		{% with prj.roadmap as external_urls %}
	    			{% with prj.short_name as group_title %}
						{% include 'cog/project/_external_urls_list.html' %}
					{% endwith %}
				{% endwith %}
		    {% endfor %}
		
		</div>
	{% endif %}
	
	<br/>
	
	<!--  Children project roadmap -->
	{% if children %}
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('children_urls'); return false;" class="listlink">&nbsp;Child Projects Roadmap</a>
		</div>
		<div class="mybox" id="children_urls" style="display:none">
	   	    
		    {% for prj in children %}
	    		{% with prj.roadmap as external_urls %}
	    			{% with prj.short_name as group_title %}
						{% include 'cog/project/_external_urls_list.html' %}
					{% endwith %}
				{% endwith %}
		    {% endfor %}	
		    
		</div>	
	{% endif %}

{% endblock %}