{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block main %} 

	{% load cog_utils %}
    
	<form action="" method="post">
	         
	     {% csrf_token %}
	     
	        <div class="mybox">
				<table>
					<tr>
	            		<td valign="top"><b>Features</b></td>
	            		<td class="long">
	            			{% if form.software_features.help_text %} {{ form.software_features.help_text }} {% endif %}
	            			{{ form.software_features }} 
	            			{{ form.software_features.errors }}
	            		</td>
	            	</tr>
	            	<tr>
	            		<td valign="top">System Requirements</td>
	            		<td class="long">
	            			{% if form.software_system_requirements.help_text %} {{ form.software_system_requirements.help_text }} {% endif %}
	            			{{ form.software_system_requirements }} 
	            			{{ form.software_system_requirements.errors }}
	            		</td>	            		
	            	</tr>
	            	<tr>
	            		<td valign="top">Supported Platforms</td>
	            		<td class="long">
	            			{% if form.software_supported_platforms.help_text %} {{ form.software_supported_platforms.help_text }} {% endif %}
	            			{{ form.software_supported_platforms }} 
	            			{{ form.software_supported_platforms.errors }}
	            		</td>	            		
	            	</tr>	            	
				</table>
		</div>	

		{{ form.project.as_hidden }}
	     
	    <div style="text-align:right">
	         <input type="button" value="Cancel" onclick="window.location='{% url 'software_display' project.short_name|lower %}'"/>
	         <input type="submit" value="Submit" />
        </div>

	</form>
	
{% endblock %}