{% extends "cog/common/layout_left_center_right.html" %}

{% block main %} 

	{% load cog_utils %}

    * indicates a required field
	<form action="" method="post">
	         
	     {% csrf_token %}
	     
	        <div class="mybox">
				<table>
					<tr>
	            		<td class="leftcolumn" nowrap="nowrap"><strong>*Features</strong></td>
	            		<td class="long">
	            			{% if form.software_features.help_text %} {{ form.software_features.help_text }} {% endif %}
	            			{{ form.software_features }} 
	            			{{ form.software_features.errors }}
	            		</td>
	            	</tr>
	            	<tr>
	            		<td class="leftcolumn" nowrap="nowrap">System Requirements</td>
	            		<td class="long">
	            			{% if form.system_requirements.help_text %} {{ form.system_requirements.help_text }} {% endif %}
	            			{{ form.system_requirements }} 
	            			{{ form.system_requirements.errors }}
	            		</td>	            		
	            	</tr>
	            	<tr>
	            		<td class="leftcolumn" nowrap="nowrap">License</td>
	            		<td class="long">
	            			{{ form.license.help_text }}
	            			{{ form.license }} 
	            			{{ form.license.errors }}
	            		</td>	            		
	            	</tr>
	            	<tr>
	            		<td class="leftcolumn" nowrap="nowrap">Implementation Language</td>
	            		<td class="long">
	            			{{ form.implementationLanguage.help_text }}
	            			{{ form.implementationLanguage }} 
	            			{{ form.implementationLanguage.errors }}
	            		</td>	            		
	            	</tr>
					<tr>
	            		<td class="leftcolumn" nowrap="nowrap">Binding Language</td>
	            		<td class="long">
	            			{{ form.bindingLanguage.help_text }}
	            			{{ form.bindingLanguage }} 
	            			{{ form.bindingLanguage.errors }}
	            		</td>	            		
	            	</tr>
					<tr>
	            		<td class="leftcolumn" nowrap="nowrap">Supported Platforms</td>
	            		<td class="long">
	            			{{ form.supportedPlatforms.help_text }}
	            			{{ form.supportedPlatforms }} 
	            			{{ form.supportedPlatforms.errors }}
	            		</td>	            		
	            	</tr>
	            	<tr>
	            		<td class="leftcolumn" nowrap="nowrap">External Dependencies</td>
	            		<td class="long">
	            			{{ form.externalDependencies.help_text }}
	            			{{ form.externalDependencies }} 
	            			{{ form.externalDependencies.errors }}
	            		</td>	            		
	            	</tr>
				</table>
		</div>	

		{{ form.project.as_hidden }}
	     
	    <div style="text-align:right">
	         <input type="button" value="Cancel" onclick="window.location='{% url 'software_display' project.short_name|lower %}'"/>
	         <input type="submit" value="Submit" />
        </div>

	</form>
	
{% endblock %}