<!--//BEGIN  /templates/cog/bookmarks/_bookmarks.html //-->


 {% block main %}
 {% load cog_utils %}

    <!-- create and display resources tree -->
    {% comment %}
    <p>
       This is a set of external resources for {{ project.short_name }}.
    </p>
    {% endcomment %}

    
    <!-- anchor for dialogs -->
    <div id="myDialog" class="yui-skin-sam"></div>
       
    <!-- This project resources -->
    <!-- list_bookmarks located in cog_utils -->
    {{ proj|list_bookmarks:request.user }}
    
{% endblock %}
    
<!--//END  /templates/cog/bookmarks/_bookmarks.html //-->   