
    <!-- note: pixel styles must be adjusted to specific icons -->
    <style type="text/css"> 
         .folder { display:block; height:24px; padding-left: 28px; background: transparent url({{STATIC_URL}}cog/img/folder_24x24.png) 0 -4px no-repeat; font-weight: bold; }        
         .bookmark { margin-bottom:4px; display:block; padding-left: 24px; background: transparent url({{STATIC_URL}}cog/img/bookmark_16x16.png) 4px 0px no-repeat;  } 
    </style>  

    <!-- create and display bookmark tree -->
    {% comment %}
    <p>
       This is a set of external resources for {{ project.short_name }}.
    </p>
    {% endcomment %}
 
    <script>
          
       // function to initialize the bookmark tree object
       var tree;
       function bookmarkTreeInit() {
           
           treeId = this.id
           tree = new YAHOO.widget.TreeView(document.getElementById(treeId));
           tree.subscribe('clickEvent',tree.onEventToggleHighlight);  
           //tree.setNodesProperty('propagateHighlightUp',true); 
           tree.setNodesProperty('propagateHighlightDown',true); 
           //tree.singleNodeHighlight = true; 
           tree.render();

       }
                        
   </script>
      
    {% load cog_utils %}
    
    <!-- anchor for dialogs -->
    <div id="myDialog" class="yui-skin-sam"></div>
       
    <!-- This project bookmarks -->
    {{ proj|list_bookmarks:request.user }}
    