{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block main %}

    <!-- note: pixel styles must be adjusted to specific icons -->
    <style type="text/css"> 
         .folder { display:block; height:24px; padding-left: 28px; background: transparent url({{STATIC_URL}}cog/img/folder_24x24.png) 0 -4px no-repeat; font-weight: bold; }        
         .bookmark { margin-bottom:4px; display:block; padding-left: 24px; background: transparent url({{STATIC_URL}}cog/img/bookmark_16x16.png) 4px 0px no-repeat;  } 
    </style>  


    <!-- create and display bookmark tree -->
    <p>
       This is a set of external resources for {{ project.short_name }}.
    </p>
 
    <script>
          
       // function to initialize the bookmark tree object
       var tree;
       function bookmarkTreeInit() {
           
           treeId = this.id
           tree = new YAHOO.widget.TreeView(document.getElementById(treeId));
           tree.subscribe('clickEvent',tree.onEventToggleHighlight);  
           //tree.setNodesProperty('propagateHighlightUp',true); 
           tree.setNodesProperty('propagateHighlightDown',true); 
           //tree.singleNodeHighlight = true; 
           tree.render();

       }
                        
   </script>
      
    {% load cog_utils %}
    
    <!-- anchor for dialogs -->
    <div id="myDialog" class="yui-skin-sam"></div>
       
    <!-- This project bookmarks -->
    {{ project|list_bookmarks:user }}
    
    <!-- Child project Bookmarks -->
	{% if children %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('children_bookmarks'); return false;" class="listlink">&nbsp;Child Project Bookmarks</a>
		</div>
		<div id="children_bookmarks" style="display:none">	   	    
		    {% for child in children %}
    			<div class="mybox" style="padding:4px; margin-top:4px;">
					{{ child|list_bookmarks:user }}
				</div>
		    {% endfor %}		
		</div>
	{% endif %}
	
	<!-- Peer project Bookmarks -->
	{% if peers %}
		<p/>
		<div class="header_bar"> 
		     <a href="" onclick="javascript:toggle_visibility('peers_bookmarks'); return false;" class="listlink">&nbsp;Peer Project Bookmarks</a>
		</div>
		<div id="peers_bookmarks" style="display:none">	   	    
		    {% for peer in peers %}
    			<div class="mybox" style="padding:4px; margin-top:4px;">
					{{ peer|list_bookmarks:user }}
				</div>
		    {% endfor %}		
		</div>
	{% endif %}
  
{% endblock %}