<!-- template snippet to display a search record or datacart item -->

{% load cog_utils %}
{% load search_utils %}

<!-- Record core fields -->
<div id="record_{{record.id}}">
	<strong>{{record.fields.title.0}}</strong>
	<div id="message_{{record.id}}" style="display:none; color: #FF0000;">Message</div>
	{% if record.fields.description.0 %} <br/>Description: {{ record.fields.description.0 }}{% endif %}
	{% if record.fields.data_node.0 %} <br/>Data Node: {{ record.fields.data_node.0 }}{% endif %}
	{% if record.fields.version.0 %} <br/>Version: {{ record.fields.version.0 }}{% endif %}
	{% if record.fields.number_of_files.0 %} <br/>Total Number of Files (for all variables): {{ record.fields.number_of_files.0 }}{% endif %}
</div>


<!-- Record metadata -->
[ <strong><a href="" onclick="javascript:openclose('dataset_{{ record.id }}', this, 'Show Metadata', 'Hide Metadata'); return false;">Show Metadata</a></strong> ]

<!-- Dataset files -->
&nbsp; [ <strong><a href="" onclick="javascript:openclose('files_{{ record.id }}', this, 'Show Files', 'Hide Files');
                         javascript:showFiles('{{record.id}}','{{record.fields.index_node.0}}', '0', '{{ project.short_name.lower }}');
                         return false">Show Files</a></strong> ]

	  <!-- hidden button used to trigger the same event as the href element above -->
	  <input type="button" id="href_{{record.id}}" style="display:none"
		     onclick="javascript:openclose('files_{{ record.id }}', this, 'Show Files', 'Hide Files');
		              javascript:showFiles('{{record.id}}','{{record.fields.index_node.0}}', '0', '{{ project.short_name.lower }}');
	  	              return false" />

<!-- Display URL links -->
{% for url in record|recordUrls %}

	<!-- add this service to the catalog -->
	<script language="javascript">services.add( new Service('{{record.id}}','{{url.0}}', '{{url.1}}','{{url.2}}','{{record.fields.index_node.0}}') );</script>

	<!-- THREDDS -->
	{% if url.1 == 'application/html+thredds' %}
	    &nbsp; [ <a href="{{url.0}}" target="_blank"><strong>THREDDS Catalog</strong></a> ]

	<!-- LAS -->
	{% elif url.1 == 'application/las' %}
	    &nbsp; [ <a href="{{url.0}}" target="_blank"><strong>LAS Visualization</strong></a> ]

	<!-- WGET -->
	{% elif url.1 == 'application/wget' %}
		<!-- FIXME: NCPP files must be published with service 'HTTPServer' to enable wget -->
		{% if record.fields.project.0 != 'NCPP' %}
			&nbsp; [ <a href="javascript:wgetScript('{{ record.fields.index_node.0}}','{{ record.id }}')"><strong>WGET Script</strong></a> ]
		{% endif %}
		
	<!-- Globus -->
	{% elif url.1 == 'application/gridftp' %}
		&nbsp; [ <a href="javascript:goDataset('{{ url.0 }}')"><strong>Globus Download</strong></a> ]

	<!--  all other services -->
	{% else %}
		&nbsp; [ <a href="{{url.0}}"><strong>{{ url.2 }}</strong></a> ]

    {% endif %}

&nbsp;
[ <b><a href="http://pcmdi11.llnl.gov:8080/VISUS?dataset_id={{record.id}}">VISUS IDX</a></b> ]
&nbsp;

{% endfor %}

<!-- display CIM viewer link -->
{% if project.searchprofile.modelMetadataFlag %}
&nbsp; [ <a href="#" onClick="onDatasetClicked('{{record.fields.project.0}}', '{{record.fields.instance_id.0}}')"><strong>Model Metadata</strong> </a> ]
{% endif %}


<!-- Record metadata box -->
<div class="padded-box" id="dataset_{{ record.id }}" style="display:none; width:500px;">

	<strong>Dataset Metadata</strong>

	<br/><span style="text-decoration:underline">ID</span> = {{ record.id }}
	{% if record.fields.version.0 %}
	<br/><span style="text-decoration:underline">Version</span> = {{ record.fields.version.0 }}
	{% endif %}

	<!-- display more record information -->
    {% for keyvalues in record.fields|sortdict %}
        {% if keyvalues.0|displayMetadataKey %}
            <br/><span style="text-decoration:none">{{ keyvalues.0|formatMetadataKey }}{{ keyvalues.1|length|pluralize }}</span> =
            {% for value in keyvalues.1 %}
            	{{ value }}{% if forloop.counter != keyvalues.1|length %}, {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<!-- files place-holder -->
<div class="padded-box" id="files_{{ record.id }}" style="display:none"></div>
