<!-- template snippet to display a search record or datacart item -->

{% load cog_utils %}
{% load search_utils %}

<!-- Retracted dataset -->
{% if record.fields.retracted.0 == 'true' %}

	<div id="record_{{record.id}}">
		<strong><del>{{record.fields.title.0}}</del></strong>
		<br/><span style="color: #FF0000;">IMPORTANT: this dataset has been retracted and is no longer available for download</span>
		{% if record.fields.description.0 %} <br/>Description: {{ record.fields.description.0 |urlizetrunc:30|linebreaksbr }}{% endif %}
		{% if record.fields.data_node.0 %} <br/>Data Node: {{ record.fields.data_node.0 }}{% endif %}
		{% if record.fields.version.0 %} <br/>Version: {{ record.fields.version.0 }}{% endif %}
	</div>
	
	Full Dataset Services: &nbsp; 
	
	<!-- Record metadata -->
	[ <strong><a href="" onclick="javascript:openclose('dataset_{{ record.id }}', this, 'Show Metadata', 'Hide Metadata'); return false;">Show Metadata</a></strong> ]


<!--  Non-retracted dataset -->
{% else %}

	<!-- Record core fields -->
	<div id="record_{{record.id}}">
		<strong>{{record.fields.title.0}}</strong>
		<div id="message_{{record.id}}" style="display:none; color: #FF0000;">Message</div>
		{% if record.fields.description.0 %} <br/>Description: {{ record.fields.description.0 |urlizetrunc:30|linebreaksbr }}{% endif %}
		{% if record.fields.data_node.0 %} <br/>Data Node: {{ record.fields.data_node.0 }} 
		{% if not record.fields.data_node.0|getDataNodeStatus %}
			<span style="color: #FF0000;">is reported as unavailable. Any existing replica data sets can be seen by selecting 'Show All Replicas' .</span>
		{% endif %}
        {% endif %}
		{% if record.fields.version.0 %} <br/>Version: {{ record.fields.version.0 }}{% endif %}
		{% if record.fields.number_of_files.0 %} <br/>Total Number of Files (for all variables): {{ record.fields.number_of_files.0 }}{% endif %}
	</div>

	<table>
		<tr>
			<td style="vertical-align: text-top; margin: 0px; padding: 0px; white-space: nowrap;">Full Dataset Services: &nbsp;</td>
			<td style="vertical-align: text-top; margin: 0px; padding: 0px; text-align: left; width:90%;">
	
			<!-- Record metadata -->
			[ <strong><a href="" onclick="javascript:openclose('dataset_{{ record.id }}', this, 'Show Metadata', 'Hide Metadata'); return false;">Show Metadata</a></strong> ]
		

			<!-- Dataset files -->
			&nbsp; [ <strong><a href="" onclick="javascript:openclose('files_{{ record.id }}', this, 'List Files', 'Hide Files');
			                         javascript:showFiles('{{record.id}}','{{record.fields.index_node.0}}', '{{record.fields.shard.0}}',
			                        		              '0', '{{ project.short_name.lower }}');
			                         return false">List Files</a></strong> ]
		
				  <!-- hidden button used to trigger the same event as the href element above -->
				  <input type="button" id="href_{{record.id}}" style="display:none"
					     onclick="javascript:openclose('files_{{ record.id }}', this, 'List Files', 'Hide Files');
					              javascript:showFiles('{{record.id}}','{{record.fields.index_node.0}}', '{{record.fields.shard.0}}',
					            		               '0', '{{ project.short_name.lower }}');
				  	              return false" />
		
			<!-- Display URL links -->
			{% for url in record|recordUrls %}
		
				<!-- add this service to the catalog -->
				<script language="javascript">services.add( new Service('{{record.id}}','{{url.0}}', '{{url.1}}','{{url.2}}','{{record.fields.index_node.0}}') );</script>
		
				<!-- THREDDS -->
				{% if url.1 == 'application/html+thredds' %}
				    &nbsp; 
				    <div style="display: inline-block;">
				    [ <a href="{{url.0}}" target="_blank"><strong>THREDDS Catalog</strong></a> ]
				    </div>
                            
                                    {% if 'WPS_ENDPOINT'|settings_value %}
                                      &nbsp; [ <strong><a href="javascript:wps('{{record.id}}', '{{'WPS_ENDPOINT'|settings_value}}', {{record.fields|wps_arguments}})">Compute</a></strong> ]
                                    {% endif %}
		
				<!-- LAS -->
				{% elif url.1 == 'application/las' %}
				    &nbsp; 
				    <div style="display: inline-block;">
				    [ <a href="{{url.0}}" target="_blank"><strong>LAS Visualization</strong></a> ]
				    </div>
		
				<!-- WGET -->
				{% elif url.1 == 'application/wget' %}
					&nbsp; 
					<div style="display: inline-block;">
						[ <a href="javascript:wgetScript('{{ record.fields.index_node.0}}','{{ record.fields.shard.0 }}','{{ record.id }}')"><strong>WGET Script</strong></a> ]
					</div>
		
				<!-- Globus -->
				{% elif url.1 == 'application/gridftp' %}
					&nbsp; 
					<div style="display: inline-block;">
						[ <a href="javascript:goDataset('{{ url.0 }}')"><strong>Globus Download</strong></a> ]
					</div>
		
				<!--  Citation -->
				{% elif url.1 == 'application/citation' %}
					&nbsp; 
					<div style="display: inline-block;">
					[ <strong><a href=""
										onclick="javascript:openclose('citation_{{ record.id }}', this, 'Show Citation', 'Hide Citation');
		                                         javascript:showCitation('{{ record.id }}', '{{ url.0 }}');
		                                         return false">Show Citation</a></strong> ]
		
		            <!-- hidden button used to trigger the same event as the href element above -->
		            <input type="button" id="href_{{record.id}}" style="display:none"
						   onclick="javascript:openclose('citation_{{ record.id }}', this, 'Show Citation', 'Hide Citation');
		                            javascript:showCitation('{{ record.id }}', '{{ url.0 }}');
		                            return false" />
		            </div>
		
		       <!-- PID -->
		       {% elif url.1 == 'application/pid' %}
		               &nbsp; 
		               <div style="display: inline-block;">
		               [ <a href="{{url.0}}" target="_blank"><strong>PID</strong></a> ]
		               </div>
		

			{% elif url.2 == 'summary' %}
					&nbsp; 
					<div style="display: inline-block;">
					[ <a href="{{url.0}}"><strong>Tech Note</strong></a> ]
					</div>


				<!--  all other services -->
			{% else %}
					&nbsp; 
					<div style="display: inline-block;">
					[ <a href="{{url.0}}"><strong>{{ url.2 }}</strong></a> ]
					</div>
		
			{% endif %}
		
			{% endfor %}
		
			<!-- Quality Control Flags -->
			{% for qcflag, qcdict in record|qcflags %}
				&nbsp;
				<div style="display: inline-block;">
				[
					<a href='{{ qcflag|qcflag_url }}' target='_blank'>
						<span class="input-color">
						{% for key, value in qcdict.items %}
							<div class="color-box" style="background-color: {{ value }};"></div>
						{% endfor %}	
						</span>
					</a>
					{% if qcflag == "obs4mips_indicators" %}
						&nbsp;<strong><a href="" onclick="javascript:openclose('climate_indicators_table_box_{{ record.id }}', this, 'Show Table', 'Hide Table'); return false;">Show Table</a></strong>
					{% endif %}
				]
				</div>
			{% endfor %}
			
			<!-- ES-DOC 'Further Info' URL -->
			{% if record.fields.further_info_url %}
				<div style="display: inline-block;">
					[ <a href="{{record.fields.further_info_url.0}}"><strong>Further Info</strong></a> ]
				</div>
			{% endif %}
			

            {% if 'VISUS_SITE'|settings_value %}
&nbsp;[ <b><a href="https://{{'VISUS_SITE'|settings_value}}/cgi-bin/cdat_to_idx_create.cgi?dataset={{record.id}}" target="_blank">VISUS IDX</a></b> ]&nbsp;
			{% endif %}
			
	    </td>
	  </tr>
	</table>

<!-- Non-retracted dataset -->

{% endif %}

<!-- Record metadata box -->
<div class="padded-box" id="dataset_{{ record.id }}" style="display:none; width:500px;">

	<strong>Dataset Metadata</strong>

	<br/><span style="text-decoration:underline">id</span> = {{ record.id }}
	{% if record.fields.version.0 %}
	<br/><span style="text-decoration:underline">version</span> = {{ record.fields.version.0 }}
	{% endif %}

	<!-- display more record information -->
    {% for keyvalues in record.fields|sortdict %}
        {% if keyvalues.0|displayMetadataKey %}
	        	{% if keyvalues.0|endsWith:'s' %}
	        		<br/><span style="text-decoration:none">{{ keyvalues.0|formatMetadataKey }}</span> =
	        	{% else %}
	            	<br/><span style="text-decoration:none">{{ keyvalues.0|formatMetadataKey }}{{ keyvalues.1|length|pluralize }}</span> =
	        {% endif %}
	        {% for value in keyvalues.1 %}
	            	{{ value }}{% if forloop.counter != keyvalues.1|length %}, {% endif %}
	        {% endfor %}
        {% endif %}
    {% endfor %}
</div>

<!-- Climate Indicators table -->
<div class="padded-box" id="climate_indicators_table_box_{{ record.id }}" style="display:none; text-align:center;">
	<img src="{{ STATIC_URL }}cog/img/climate_indicators_table.png" style="text-align:center;" />
</div>

<!-- files place-holder -->
<div class="padded-box" id="files_{{ record.id }}" style="display:none"></div>

<!-- citation place-holder -->
<div class="padded-box" id="citation_{{ record.id }}" style="display:none"></div>
