<!-- Search Help -->
{% if project.searchprofile.description %}
	<div>
		{{ project.searchprofile.description|urlize|linebreaksbr }}
	</div>
	<br/>
{% endif %}

<!-- Search Text widget-->
<div class="box-colored" style="padding: 5px">
	<div style="text-align: center">
		Enter text &nbsp; <input type="text" name="text" size="30" value="{{search_input.text}}"/> 
		&nbsp; <input type="submit" value="Search"/>
		&nbsp; <input type="button" value="Reset" onclick="window.location='.'"/>
		<select name="limit" id="limit">
			<option value="10" {% if search_input.limit = 10 %} selected="selected" {% endif %}>10</option>
			<option value="20" {% if search_input.limit = 20 %} selected="selected" {% endif %}>20</option>
			<option value="50" {% if search_input.limit = 50 %} selected="selected" {% endif %}>50</option>
			<option value="100" {% if search_input.limit = 100 %} selected="selected" {% endif %}>100</option>
		</select>
	</div>
</div>
<!-- Form errors -->
{% if error_message %}
	<p/><div class="error-box">{{ error_message }}</div>
{% endif %}