<!--START:/cog/templates/cog/search/_search_text.html-->

{% load cog_utils %}

{% if project.searchprofile.description %}
    <div>
		{{ project.searchprofile.description|urlize|linebreaksbr }}
	</div>
	<br/>
{% endif %}

<!-- Search Text Box-->
<table>    
  <tr>
    <td>
      <div style="background-color:#EEEEEE;border:1px solid #666; padding-right:5px;height:41px;">
        <table>
	      <tr>
	      <!--Safari requires the middle alignment. We may want to consolidate this style-->
	       <td style="width:20%;text-align:center;vertical-align:middle;"><label for="search_query">Enter Text:</label></td>
	       <td style="width:50%;vertical-align:middle;">
               <input style="padding-top:1px;padding-bottom:1px;margin-bottom: 7px; margin-top:7px;" 
                      type="text" id="search_query" alt="search_query" name="query" size="30" value="{{search_input.query}}"/>
           </td>
          </tr>
        </table>
      </div>
    </td>
    <td>
      <div class="box-colored" style="height:41px;">
        <table>
        <tr>
	       <td style="width:50%;text-align:center;vertical-align:middle;">
           <span style="display:inline-block;">
               <a href="https://esgf.github.io/esgf-user-support/user_guide.html#data-search-and-download" target="_blank">
                   <i style="font-size:17px; color:#666; vertical-align: middle;" class="fa fa-question-circle"></i>
               </a>
           </span>
           &nbsp;
           <input type="submit" value="Search"/>
		   &nbsp; <input type="button" value="Reset" onclick="window.location='{{ request.get_full_path }}'"/>
           <!--&nbsp; <input type="button" value="Help" onclick="window.open('https://www.earthsystemcog.org/projects/cog/doc/data_services/search_help', '_blank') " />-->
	      {% comment %} &nbsp; <input type="button" value="Reset" onclick="window.location='{% url 'search' project.short_name %}'"/> {% endcomment %}

	      Display
	      <select name="limit" id="limit">
	         <option value="10" {% if search_input.limit == 10 %} selected="selected" {% endif %}>10</option>
	         <option value="20" {% if search_input.limit == 20 %} selected="selected" {% endif %}>20</option>
	         <option value="50" {% if search_input.limit == 50 %} selected="selected" {% endif %}>50</option>
	         <option value="100" {% if search_input.limit == 100 %} selected="selected" {% endif %}>100</option>
	      </select>
          <label for="limit">results per page</label>

		  <!-- More Search Options control -->
		  &nbsp;&nbsp;&nbsp;
		  [ <strong><a href="" onclick="javascript:document.getElementById( 'max_version_query' ).value=''; 
			                            javascript:document.getElementById( 'min_version_query' ).value=''; 
		                                javascript:openclose('more_search_options_panel', this, 'More Search Options', 'Fewer Search Options'); 
		                                return false;">
		  {% if search_input.max_version or search_input.min_version %}
		    Fewer Search Options 	
		  {% else %}
		  	More Search Options
		  {% endif %}
		  </a></strong> ]
		  
	     </td>
        </tr>
        </table>
      </div>
    </td>
    </tr>
    
    
    <!-- More Search Options panel -->
    <tr>
    	<td colspan="2" style="background-color:#FFFFFF">
    		<div style="background-color:#EEEEEE; border:1px solid #666; padding-right:5px; display: {{ search_input.max_version|getDisplayStatus:search_input.min_version }}" 
    		     id="more_search_options_panel">

		        <table>
		         <tr>
			      <td style="width:30%; text-aling:left; vertical-align:middle;" >To filter Filenames by variable:</td>
			       <td style="width:25%; text-aligh:right; vertical-align:middle; white-space: nowrap;">
			       		<input type="text" name="query-filter" alt="query-filter" id="query-filter"
			             	   placeholder="Enter Text" onkeydown="if (event.keyCode == 13) { applyQueryFilter2(); return false; }" />			       
			       </td>
			       <td style="width:45%; text-aling:left; vertical-align:middle;" colspan="2">
	  	                  &nbsp;<input type="button" value="Apply" 
	  	                               onclick="javascript:applyQueryFilter2(); return false;"/>
	  		              &nbsp;<input type="button" value="Reset" 
	  		                           onclick="document.getElementById('query-filter').value=''; javascript:applyQueryFilter2(); return false;"/>
		           	  	  &nbsp; (works with 'List Files', WGET and Globus)
		           </td>
		          </tr>
			      <tr>
			      <td style="width:30%; text-aling:left; vertical-align:middle;">To search All Versions with date constraints:</td>
			      <td style="width:25%; text-aling:left; vertical-align:middle;">
		               <input type="text" id="min_version_query" alt="min_version_query" 
		                      placeholder="YYYYMMDD"
		                      name="min_version" size="10" value="{{search_input.min_version}}"/>
		           </td>
			       <td style="width:20%; text-aligh:right; vertical-align:middle; white-space: nowrap;"><label for="max_version_query">&le; dataset version (as 'YYYYMMDD' date) &le; </label></td>
			       
			       <td style="width:25%; text-aling:left; vertical-align:middle;">
		               <input type="text" id="max_version_query" alt="max_version_query" 
		                      placeholder="YYYYMMDD"
		                      name="max_version" size="10" value="{{search_input.max_version}}"/>
		           </td>
		          </tr>
		          <tr>
		          	<td style="width:100%; text-aling:left; vertical-align:middle;" colspan="4">
		          		To search for a dataset with a known <b>id</b>, <b>master_id</b> or <b>instance_id</b>, use the 'Enter Text' widget above as in the following examples (use of '*' is allowed):
		          		<ul>
		          			<li> id:obs4mips.NASA-JPL.GNSS_RO.zg.monClim.v20160601|esgf-data.jpl.nasa.gov
		          			<li> id:obs4mips.NASA-JPL.*
		          			<li> master_id:obs4mips.NASA-JPL.GNSS_RO.zg.monClim
		          			<li> instance_id:obs4mips.NASA-JPL.GNSS_RO.zg.monClim.v20160601
		          		</ul>
		          	</td>
		          </tr>
		        </table>

			</div>
    	</td>
    </tr>
    
</table>

<!-- optional checkbox flags -->
<br>
<!--//note: the style on the span below is to ensure the text lines up with the bottom of the checkbox. This needs to be the same style as on the update project
page. At some point we may want to move this into cogstyle.css //-->
<div style="text-align:center">
	{% if replica_flag == True %}
		&nbsp; 
		<input type="checkbox" id="replica" name="replica" 
		       {% if search_input.replica %} checked="checked" {% endif %}
		       onclick="javascript:searchit(0)"/> <!-- must reset the search offset -->
        <label for="replica"><span style="margin-top:2px;vertical-align:middle;"> Show All Replicas &nbsp;</span></label>
	{% endif %}
	{% if latest_flag == True %}
		&nbsp; 
		<input type="checkbox" id="latest" name="latest" 
		       {% if not search_input.latest %} checked="checked" {% endif %} 
		       onclick="javascript:searchit(0)"/> <!-- must reset the search offset -->
        <label for="latest"><span style="margin-top:2px;vertical-align:middle;"> Show All Versions &nbsp;</span></label>
	{% endif %}
	{% if local_flag == True %}
		&nbsp; 
		<input type="checkbox" id="local" name="local" 
		       {% if search_input.local %} checked="checked" {% endif %} 
		       onclick="javascript:searchit(0)"/> <!-- must reset the search offset -->
        <label for="local"><span style="margin-top:2px;vertical-align:middle;"> Search Local Node Only (Including All Replicas)</span></label>
	{% endif %}
</div>

<!-- Form Errors -->
{% if error_message %}
	<p></p>
    <div class="error-box">
        {{ error_message }}
    </div>
{% endif %}

<!--END:/cog/templates/cog/search/_search_text.html-->
