{% extends "cog/common/layout_sidebar_center.html" %}

{% block main %}   

<script language="javascript">
	// function to replace the image source with a thumbnail in case of error due to lack of authorization
	function imgError(image) {
		html = '<a href="{{ metadata.url}}" target="imgwin"><img src="{{ metadata.thumbnail }}"/></a>';
		document.getElementById("image").innerHTML = html;
	    return true;
	}
</script>

<!-- display image -->
<p/>
<div style="text-align:center">

	<!-- optional image or thumbnail -->
	{% if request.GET.subtype = 'image' %}
	<div id="image" style="text-align:center">
		<a href="{{ metadata.url}}" target="imgwin"><img src="{{ metadata.url}}" width="400px" onerror="imgError(this);"/></a>
	</div>
	{% endif %}
	
	<!-- description -->
	{% if metadata.description %}
		<br/>{{ metadata.description }}
	{% endif %}
	<br/>
	<!-- link back to previous page -->
	<a href="{{ back }}">Back to Search Results</a>
</div>

<!-- image metadata table -->
{% if metadata.fields|length > 0 %}
	<p/>
	<div class="mybox">
		<table>
			<caption>File Metadata</caption>
			{% for tuple in metadata.fields %}
			<tr>
				<td class="head" nowrap="nowrap">{{ tuple.0 }}</td>
				<td class="long">
					{% for val in tuple.1 %}
						{% if forloop.counter > 1 %}, &nbsp; {% endif %}
						{{ val }}
					{% endfor %}
				</td>	
			</tr>
			{% endfor %}
		</table>	
	</div>
{% endif %}
	
<!-- dataset metadata table -->
{% if parentMetadata.fields|length > 0 %}
	<p/>
	<div class="mybox">
		<table>
			<caption>Dataset Metadata</caption>
			{% for tuple in parentMetadata.fields %}
			<tr>
				<td class="head" nowrap="nowrap">{{ tuple.0 }}</td>
				<td class="long">
					{% for val in tuple.1 %}
						{% if forloop.counter > 1 %}, &nbsp; {% endif %}
						{{ val }}
					{% endfor %}
				</td>	
			</tr>
			{% endfor %}
		</table>	
	</div>
{% endif %}


{% endblock %}

