{% extends "cog/common/layout_center.html" %}

{% load cog_utils %}
{% load search_utils %}

{% block main %}
	  
     <div class="yui-skin-sam">
     <h1>Obs4MIPs Data Table</h1>
     <p>The following table is automatically updated with Obs4MIPs datasets available throughout the Earth System Grid Federation.</p>
     	 <table>
             <!-- For section 508 compliance, data tables are required to have captions, column headers, and a tbdoy
             around the data itself -->
             <caption>Obs4MIPs Datasets</caption>

			 <tr>
				 <th><strong>Instrument</strong></th>
				 <th><strong>Dataset Name</strong></th>
				 <th><strong>Variables</strong></th>
				 <th><strong>Tech Note</strong></th>
				 <th><strong>Supplementary Data</strong></th> 
				 <th><strong>Maturity Indicators</strong></th>
			 </tr>

             <tbody>
           	     {% for record in search_output.results|sortResults:'source_id' %}
          		     <tr>
          			     <td style="width:120px;">{{ record.fields.source_id.0 }}</td>
          			     <td><a href="/search/obs4mips/?query=id:{{record.id}}">{{ record.fields.title.0}}</a></td>
          			     <td>
          				     {% for variable in record.fields.variable_long_name %}
          					    {{ variable }} <br/>
          				     {% endfor %}
                         </td>

                     <td style="width:60px;">
          				     {% for url in record|recordUrls %}

          					     {% if url.2 == 'summary'  %}


          						     <a href="{{url.0}}"><strong>Tech Note</strong></a>
{% elif url.2 == 'Tech Note' %}
          						     <a href="{{url.0}}"><strong>Tech Note</strong></a>


          					     {% endif %}


          				     {% endfor %}
                     </td>
                     <td style="width:60px;">
			     {% for url in record|recordUrls %}
          					     {% if url.2 == 'Supplementary Data'  %}
		     <a href="{{url.0}}"><strong>{{url.2}}</strong></a>
			     {% endif %}
          				     {% endfor %}
</td>
          			     <td style="width:120px;">
          			     	<!-- Quality Control Flags -->
							{% for qcflag, qcdict in record|qcflags %}
								<a href='{{ qcflag|qcflag_url }}' target='_blank'>
									<span class="input-color">[
									{% for key, value in qcdict.items %}
										<div class="color-box" style="background-color: {{ value }};"></div>
									{% endfor %}
									]</span> 
								</a>
							{% endfor %}
          			     </td>
     			     </tr>
                 {% endfor %}
             </tbody>
     	 </table>
	 </div>
    
{% endblock %}
