{% extends "cog/common/layout_left_center_right.html" %}

{% block main %}

    {% load cog_utils %}
    
	<!-- facet form -->
	
	*indicates a required field
	<div class="mybox">
	    <form method="POST" action="" id="facetForm">

	        {% csrf_token %}
	        <table>
	            <tr>
	                <td valign="top" nowrap="nowrap"><strong>*Facet Key</strong></td>
	                <td class="long">{{ form.key }} {{ form.key.errors }}</td>
	            </tr>
                <tr>
                   <td valign="top" nowrap="nowrap">&nbsp;</td>
                   <td class="long"><em class="message">The metadata key used by the search engine. Available keys and
	                 associated values are listed below. </em></td>
                </tr>
	            <tr>
	                <td valign="top" nowrap="nowrap"><strong>*Facet Label</strong></td>
	                <td class="long">{{ form.label }} {{ form.label.errors }}</td>
	            </tr>
	            <tr>
                    <td valign="top" nowrap="nowrap">&nbsp;</td>
                    <td class="long"><em class="message">The facet label displayed in the user interface.</em></td>
	            </tr>
                <tr>
                     <td class="long" colspan="2"><em class="message">Please note: the characters
	                 {{ project|getInvalidCharacters }} are not allowed.</em></td>
                </tr>
	        </table>
	    
	        <!-- fields not editable by the user -->
	        {{ form.order.as_hidden }}
		    {{ form.group.as_hidden }}
	    	    
	        <div style="text-align:right">
	            <input type="button" value="Cancel" onclick="window.location=
			         '{% url 'search_profile_config' project.short_name|lower %}'"/>
	            <input type="submit" value="Submit" />
	         </div>
	    </form>
	</div>
	
	<!-- table of available facets table -->
    {% if facets %}
	    
	    <!-- list search facets  -->
	    <div class="mybox">
            <table>
                <caption>Available search facet keys, their associated values.</caption>
                <tr>
                    <th class="white"><strong>Facet Key</strong></th>
                    <th class="white"><strong>Facet Label</strong></th>
                </tr>

                {% for keyAndFacet in facets|sortdict %}
                	<!-- only display facets that have some values -->
                	{% if keyAndFacet.1.values %}
	                    <tr>
	                       <td nowrap="nowrap">{{ keyAndFacet.0 }}</td>
	                       <td>     
	                       	<!-- limit display to first 20 values -->     
	                       	{% for value in keyAndFacet.1.values.keys|slice:":20" %}
	                       		{% if forloop.counter > 1 %}, {% endif %}
	                       		{{ value|truncatechars:50 }} ({{ keyAndFacet.1.values|dictKeyLookup:value }})
	                       	{% endfor %}
	                       	<!-- there are more values -->
	                       	{% if keyAndFacet.1.values.keys|length > 20 %}, ...... {% endif %}
	                       </td>
	                    </tr>
                    {% endif %}
                {% endfor %}   
            </table>
         </div>       
    {% endif %}
		
{% endblock %}