{% extends "cog/common/layout_sidebar_center_right.html" %}

{% block main %}

    {% load cog_utils %}
    {% load url from future %}
    
	<!-- facet form -->
	<div class="mybox">
	  <form method="POST" action="" id="facetForm">
	
	    {% csrf_token %}
	    <table>
	        <tr>
	            <td valign="top" nowrap="nowrap"><b>Facet Key</b></td>
	            <td class="long">{{ form.key }} {{ form.key.errors }}</td>
	        </tr>
            <tr>
                <td valign="top" nowrap="nowrap">&nbsp;</td>
                <td class="long"><i>The metadata key used by the search engine</i></td>
            </tr>	        
	        <tr>
	            <td valign="top" nowrap="nowrap"><b>Facet Label</b></td>
	            <td class="long">{{ form.label }} {{ form.label.errors }}</td>
	        </tr>
	        <tr>
                <td valign="top" nowrap="nowrap">&nbsp;</td>
                <td class="long"><i>The facet label displayed in the user interface</i></td>
            </tr>           
            <tr>
                <td class="long" colspan="2"><i>Please note: the characters {{ project|getInvalidCharacters }} are not allowed.</i></td>
            </tr>           	        
	    </table> 
	    
	    <!-- fields not editable by the user -->
	    {{ form.order.as_hidden }}
	    
	    <!-- send project search profile as hidden field, so it can be used in validation -->
	    <input type="hidden" name="profile" value="{{project.searchprofile.id}}" />
	    
	    <div style="text-align:right">
	        <input type="button" value="Cancel" onclick="window.location='{% url 'search_profile_config' project.short_name|lower %}'"/>
	        <input type="submit" value="Submit" />
	    </div>          
	    
	  </form>
	</div>
	
{% endblock %}