{% extends "cog/common/layout_left_center_right.html" %}

{% block main %}   

    {% load cog_utils %}
    {% load search_utils %}

	<!-- import/export configuration -->
	{% if request.GET.message %}
	   <div class="message-box"> {{ request.GET.message|showSearchConfigMessage:project }}</div>
	   <p></p>
	{% endif %}
	<div class="mybox" >
		<table >
			<tr>
				<td align="right">
					<form method="post" action="{% url 'search_profile_import' project.short_name %}" name="import_form">
						{% csrf_token %}
						<input type="submit" value="Import Search Configuration"/>
					</form>
				</td>
				<td align="left">
					<form method="post" action="{% url 'search_profile_export' project.short_name %}" name="export_form">
						{% csrf_token %}
						<input type="submit" value="Export Search Configuration"/>
					</form>
				</td>
			</tr>
		</table>
	</div>
	<p></p>
	
    <!-- search profile form -->
    <div class="mybox">
        <form method="post" action="">
        
           {% csrf_token %}
           
           <table>
                <tr>
                    <td class="righthead" nowrap="nowrap">Search Service URL</td>
                    <td class="long" colspan="2">
                    	{{ form.url }}
                    	{{ form.url.errors }}
                    	<div style="font-style:italic; padding-top:2px;">Must be the URL of a compliant RESTful search service</div>
                    </td>
                </tr>
                <tr>
                    <td class="righthead" nowrap="nowrap">Constraints</td>
                    <td class="long" colspan="2">
                    	{{ form.constraints }}
                    	{{ form.constraints.errors }}
                    	<div style="font-style:italic; padding-top:2px;">Optional fixed constraints as: name1=value1&name2=value2a,value2b,...</div>
                    </td>
               </tr>
               <tr>
                    <td>Description</td>
                    <td colspan="2">                   	
                    	   {{ form.description }}
                    	   {{ form.description.errors }}
                    	   <div style="font-style:italic; padding-top:0;">
                    	   		{{form.description.help_text}}
                                Use a carriage return to break text into paragraphs.
                    	   		Please note: the characters {{ project|getInvalidCharacters }} are not allowed.
                    	   </div>
                    </td>
                </tr>
                <tr>
                    <td class="righthead" nowrap="nowrap">Model Metadata Flag</td>
                    <td>{{ form.modelMetadataFlag }}</td>
                    <td class="long">
                    	<em class="message">Check to enable model metadata links for search results</em>
                        {{ form.modelMetadataFlag.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="righthead" nowrap="nowrap">Display 'All Replicas'<br/>Checkbox</td>
                    <td>{{ form.replicaSearchFlag }} </td>
                    <td class="long">
                    	<div style="font-style:italic;">
                    	   Check to enable users to search for BOTH replicas AND non-replicas.
                    	   <br/>CoG search default: search for non-replicas only (i.e. replica=false).
                           {{ form.replicaSearchFlag.errors }}
                        </div>
                     </td>
                </tr>
                <tr>
                    <td class="righthead" nowrap="nowrap">Display 'All Versions'<br/>Checkbox</td>
                    <td>{{ form.latestSearchFlag }}</td>
                    <td class="long">
                    	<div style="font-style:italic;">
                    		Check to enable users to search for BOTH latest AND previous versions.
                            <br/>CoG search default: search for latest version only (i.e. latest=true) .
                            {{ form.latestSearchFlag.errors }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="righthead" nowrap="nowrap">Display 'Local Search Only'<br/>Checkbox</td>
                    <td>{{ form.localSearchFlag }} </td>
                    <td class="long">
                    	<div style="font-style:italic;">
                    		Check to enable users to search ONLY the local node.
                            <br/>CoG search default: search ALL nodes (i.e. distrib=true).
                            {{ form.localSearchFlag.errors }}
                        </div>
                    </td>
                </tr>
            </table>
            
            <!-- pass on the profile project as hidden field -->
            {{ form.project.as_hidden }}
             
            <div style="text-align:right">
                <input type="button" value="Cancel" onclick="window.location='{% url 'project_home' project.short_name|lower %}'"/>
                <input type="submit" value="Submit" />
            </div>          
        
        </form>
    </div>
    
    <!-- facets table - only if search profile exists already -->
    {% if project.searchprofile %}
	    
	    <!-- list search facets  -->
	    <div class="mybox">
            <table>
                <caption>Search Facets</caption>
                <tr>
                    <th class="white"><strong>Facet Key</strong></th>
                    <th class="white"><strong>Facet Label</strong></th>
                    <th class="white"><strong>Edit?</strong></th>
                    <th class="white"><strong>Delete?</strong></th>
                </tr>
                {% for facet in project.searchprofile.facets %}
                    <tr>
                       <td nowrap="nowrap">{{facet.key}}</td>
                       <td nowrap="nowrap">{{facet.label}}</td>
                       <td nowrap="nowrap"><a class="changelink" href="{% url 'search_facet_update' facet.id %}">Edit</a></td>
                       <td nowrap="nowrap"><a href="{% url 'search_facet_delete' facet.id %}" class="deletelink"
                                              onclick="return urlConfirmationDialog('Delete Facet Confirmation', 'Are you sure you want to delete this facet?', this)">Delete</a></td>
                    </tr>
                {% endfor %}   
            </table>
            <hr/>
            <div>
                &nbsp;<a href="{% url 'search_facet_add' project.short_name|lower %}" class="addlink">Add New Search Facet</a>
            </div>
         </div>
        
    {% endif %}
    
    <!-- anchor for confirmation dialog -->
    <div id="myDialog" class="yui-skin-sam"></div>
    

{% endblock %}