<!-- YUI accordion CSS -->
<!-- <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/django/example.css" /> -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/yui-2.9.0/build/container/assets/skins/sam/container.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/js.bubbling-library.com/2.1/build/accordion/assets/accordion.css" />
<style type="text/css">
.myAccordion {
  float: left;
  margin-right: 15px;
}
  .myAccordion .yui-cms-accordion .yui-cms-item {
    width: 200px;
  }
  .myAccordion ul {
 	margin: 0;
	padding-left: 4px;
    padding-bottom: 0px;
  	list-style: none;
  }
  .myAccordion li {
    /* line-height: 20px; */
    padding: 0px;
    margin: 0px;
  	list-style: none;
  }
</style>

<!-- YUI accordion JS -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/yui-2.9.0/build/utilities/utilities.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/js.bubbling-library.com/2.1/build/bubbling/bubbling.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/js.bubbling-library.com/2.1/build/accordion/accordion.js"></script>